<template>
  <v-container fluid fill-height pa-0 class="sale">
    <v-layout max row wrap>
      <v-flex xs12 md10 offset-md1 class="mb-4">
        <v-card class="card">
          <v-card-title class="primary" v-if="saleID === 'null'">Регистрация новой продажи / покупки</v-card-title>
          <v-card-title v-else class="headline mb-0">Редактировть продажу / покупку</v-card-title>
          <v-card-text v-if="action !== null" class="pa-0">

            <v-form @submit.prevent="onSubmit()" autocomplete="off" class="sale--form">
              <v-layout row wrap>
                <v-flex xs12 sm8>
                  <v-layout wrap row xs12 sm8 class="custom-card custom-card--top-left mr-3">
                    <v-flex xs12 sm6 pr-4>
                      <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="date"
                            label="Выберите дату продажи"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker locale="ru-RU" v-model="date" @input="menu = false"></v-date-picker>
                      </v-menu>
                    </v-flex>

                    <v-flex xs12 sm6>
                      <v-text-field
                        prepend-icon='receipt'
                        type="text"
                        label="Номер"
                        id="number"
                        v-model="number"
                        :rules="[rules.required]"
                        required
                      ></v-text-field>
                    </v-flex>
                  </v-layout>

                  <v-layout row wrap pr-3>
                    <v-flex xs12>
                      <v-data-table
                              v-if="productsSelected.length"
                              :headers="tables.headers"
                              :items="productsSelected"
                              hide-actions
                              class="elevation-0 table-sales"
                      >
                        <template slot="items" slot-scope="props">
                          <td class="name-td">{{ props.item.name }}</td>
                          <td class="quantity-td">
                            <v-text-field
                              v-model="props.item.quantity"
                              @change="CalculateSum()"
                              class="mt-0 input-quantity"
                              hide-details
                              single-line
                              type="number"
                              min="1"
                              max="100"
                            ></v-text-field>
                            <div class="td-label">Кол-во</div>
                          </td>
                          <td class="bonus-td">
                            <v-text-field
                              type="text"
                              id="number"
                              placeholder="0"
                              :value="props.item.bonuses"
                              @change="ChangeBonus($event, props.item)"
                            ></v-text-field>
                            <div class="td-label">Цена (руб)</div>
                          </td>
                          <td class="delete-td">
                            <v-icon class="size-25 delete-position" @click="DeleteProduct(props.item.listID)">
                              cancel
                            </v-icon>
                          </td>
                        </template>
                      </v-data-table>
                      <div class="table-total">
                        <span>Итоговая сумма продажи:</span>
                        <span class="number">{{ sum }},00</span>
                      </div>
                    </v-flex>
                  </v-layout>

                  <v-layout row wrap
                            class="custom-card custom-card--bottom-left mr-3 mt-3 select-block">
                    <v-flex xs12 class="mt-2 sale__select-field"
                            v-if="showProductForm || !productsSelected.length">

                      <div class="wrap-icon">
                        <i class="material-icons pt-3 mt-1 mr-2 ico-gray">label</i>
                        <v-autocomplete
                                label="Бренд"
                                v-model="group"
                                :placeholder="group ? group.name : ''"
                                :search-input.sync="searchGroup"
                                clearable
                                hide-details
                                :items="groups"
                                no-data-text="Нет брендов для показа"
                                :loading="isLoading"
                                item-text="name"
                                item-value="id"
                                return-object
                        ></v-autocomplete>
                      </div>
                    </v-flex>
                    <v-flex xs12 class="mt-2 sale__select-field"
                            v-if="(showProductForm && group) || (!productsSelected.length && group)">
                      <v-autocomplete
                              label="Наименование продукта"
                              v-model="category"
                              :placeholder="category ? category.name : ''"
                              :search-input.sync="searchCategory"
                              clearable
                              hide-details
                              :items="categories"
                              no-data-text="Нет наименований для показа"
                              :loading="isLoading"
                              item-text="name"
                              item-value="id"
                              return-object
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 class="mt-2 sale__select-field"
                            v-if="(showProductForm && category) || (!productsSelected.length && category)">
                      <v-autocomplete
                              label="Продуктовая позиция"
                              v-model="product"
                              :placeholder="product ? product.name : ''"
                              :search-input.sync="searchProduct"
                              clearable hide-details
                              :items="products"
                              class="plcolor"
                              no-data-text="Нет позиций для показа"
                              :loading="isLoading"
                              item-text="name"
                              item-value="id"
                              return-object
                      ></v-autocomplete>
                    </v-flex>

                    <v-flex mt-2 xs12 v-if="productsSelected.length">
                      <v-btn flat class="btn-link" @click="showProductForm = true">
                        <i class="material-icons add-icon margin-right-8">add_circle</i>
                        <span class="transform-none size-16">Добавить товар</span>
                      </v-btn>
                    </v-flex>

                    <!--buttons-bottom-->
                    <v-flex mt-2 xs12 class="addsales-btn">
                      <v-flex class="grow-0">
                        <v-btn @click="goBack()" class="btn-delete px-4">Отменить</v-btn>
                      </v-flex>
                      <v-flex v-if="saleID !== 'null'">
                        <v-btn  @click="showHistory = !showHistory">
                          <span>История</span>
                          <v-icon>keyboard_arrow_down</v-icon>
                        </v-btn>
                      </v-flex>
                      <v-spacer></v-spacer>
                      <v-flex class="grow-0">
                        <v-btn @click="AddProduct()" :disabled="!product" class="px-4">
                          <i class="material-icons margin-right-8">shopping_cart</i>
                          <span>В корзину</span>
                        </v-btn>
                      </v-flex>
                    </v-flex>
                    <!--/buttons-bottom-->
                  </v-layout>

                  <v-layout v-if="sale !== null && sale.saleAction !== null" row wrap col-2>
                    <v-flex xs12 sm4 class="mt-2">
                      <v-text-field
                              v-if="sale.saleAction.status === null"
                              type="text"
                              label="Баллы за продажу"
                              disabled
                              id="sum"
                              :value="sale.saleAction.bonuses"
                      ></v-text-field>
                      <v-text-field
                              v-else-if="sale.saleAction.status === 'paid'"
                              type="text"
                              label="Начислено балов"
                              disabled
                              id="sum"
                              :value="sale.saleAction.bonuses"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <!--add pdf -->
                <v-flex sm4 class="right-block">
                  <v-layout
                          wrap
                          class="custom-card custom-card--top-right column grow-0"
                          :class="documents.length? '' : 'pb-4'"
                  >
                    <v-flex v-if="documents.length < 5">
                      <v-text-field
                              label="Фото или PDF копия чека"
                              @click='PickDocument'
                              v-model='document.name'
                              prepend-icon='attach_file'
                              readonly
                              class="no-error"
                      ></v-text-field>
                      <input
                              type="file"
                              style="display: none"
                              ref="document"
                              accept="image/*, application/pdf, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                              @change="OnDocument"
                      >
                    </v-flex>

                    <v-flex row v-if="documents.length" :class="documents.length < 5 ? 'ml-4' : 'ml-2'" class="upload-wrap">
                      <div v-for="(item, index) in documents" :key="index" class="filePreview">
                        <v-icon class="close size-14 rounded-50" @click="deleteFile(item, index)">close</v-icon>
                        <span v-if="CheckPDF(item)">
                          <font-awesome-icon icon="file-pdf" class="size-30 icon-red"/>
                        </span>
                        <span v-else-if="CheckXLSX(item)">
                          <font-awesome-icon icon="file-excel" class="size-30 icon-green"/>
                        </span>
                        <div v-else class="imageUpload">
                          <img v-if="GetFilePath(item)" :src="GetFilePath(item)"/>
                        </div>
                      </div>
                    </v-flex>
                  </v-layout>

                  <v-spacer></v-spacer>

                  <v-btn class="btn-send" @click="onSubmit()" :disabled="isBlocked || isLoading || !validation">
                    <span>Отправить на проверку</span>
                    <i class="material-icons ml-2">send</i>
                  </v-btn>

                </v-flex>
                <!--/add pdf -->
              </v-layout>
            </v-form>

            <v-flex v-if="saleID !== 'null' && showHistory" xs12 class="mt-2">
              <transition-group>
                <v-card-text v-for="item in sale.history" :key="item.id" v-show="showHistory" class="pa-0 mb-3">
                  <div class="sale-footer-wrap">
                    <div class="sale-time mr-3">
                      <i class="material-icons">query_builder</i>
                      <span>{{item.created_at}}</span>
                    </div>
                    <div class="sale-note mr-3">
                      <i class="material-icons">autorenew</i>
                      <span>{{item.note}}</span>
                    </div>
                    <div class="sale-comment" v-if="item.comment">
                      <i class="material-icons">chat_bubble_outline</i>
                      <span>{{item.comment}}</span>
                    </div>
                  </div>
                </v-card-text>
              </transition-group>
            </v-flex>

          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script src="./AddSale.js"></script>
