<template>
  <v-container fluid fill-height pa-0 class="addTicket">
    <v-layout max row wrap>
      <v-flex xs12 md10 offset-md1 class="mb-4">
        <v-card class="card">
          <v-card-title class="primary">
            <h3 class="headline mb-0">Новое обращение</h3>
          </v-card-title>
          <v-card-text v-if="topic_options" class="py-3">

            <v-form @submit.prevent="onSubmit" autocomplete="off">
              <v-layout row wrap col-2>
                <v-flex xs12 class="mt-2">
                  <v-select
                    :items="themes"
                    :value="theme"
                    @change="setTopicID"
                    :menu-props="{ maxHeight: '400' }"
                    label="Тема обращения"
                    persistent-hint
                    :rules="[rules.required]" required
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout row wrap col-2>
                <v-flex xs12 class="mt-2">
                  <v-select
                    :items="contact_options"
                    :value="contact"
                    @change="setContact"
                    :menu-props="{ maxHeight: '400' }"
                    label="Предпочтительный вид связи"
                    persistent-hint
                    :rules="[rules.required]" required
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout row wrap col-2>
                <v-flex xs12 class="mt-2 pr-2">
                  <v-text-field type="text" label="Название сообщения" v-model="ticket.title" :rules="[rules.required]" required></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap col-2>
                <v-flex xs12 class="mt-2 pr-2">
                  <v-textarea solo name="comment" label="Текст сообщения" v-model="ticket.comment"
                              :rules="[rules.required]" required></v-textarea>
                </v-flex>
              </v-layout>
            </v-form>
            <v-card-actions class="pa-0 mb-4">
              <v-btn @click="onSubmit()" :disabled="!validation">
                Отправить
                <font-awesome-icon icon="paper-plane" class="size-16 ml-2"/>
              </v-btn>
            </v-card-actions>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'AddTicket',
    data() {
      return {
        ticket: {
          topic_id: '',
          title: '',
          comment: '',
          contact: 'chat',
        },
        themes: [],
        theme: '',
        contact: '',
        contact_options: ['Чат', 'E-mail', 'Звонок'],
        rules: {
          required: value => !!value || 'Поле должно быть заполнено',
        },
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      topic_options() {
        return this.$store.state.tickets.topic_options;
      },
      validation() {
        return this.ticket.topic_id && this.ticket.title
          && this.ticket.contact && this.ticket.comment;
      },
    },
    methods: {
      getTickets() {
        this.$store.dispatch('tickets/GetTickets', this.user.profile_id);
      },
      onSubmit() {
        const app = this;
        const payload = {
          ...app.ticket,
          profile_id: this.user.profile_id,
        };

        app.$store.getters.axl.post('tickets/api/tickets/send-ticket', payload)
          .then((response) => {
            app.getTickets();
            app.$store.dispatch('tickets/SetTicket', response.data.ticket);
            app.$store.dispatch('ShowInfo', 'Обращение отправлено! Ожидайте ответ в ближайшее время');
            app.$router.push('/tickets/');
          }, (response) => {
            app.$store.dispatch('HandleError', response.data);
          });
      },
      setTopicID(e) {
        const topicID = this.topic_options.filter(item => (
          (e === item.name) ? item.id : null
        ));
        this.ticket.topic_id = (topicID[0] !== null) ? topicID[0].id : '';
      },
      setContact(e) {
        switch (e) {
          case 'E-mail': this.ticket.contact = 'email'; break;
          case 'Звонок': this.ticket.contact = 'phone'; break;
          default: this.ticket.contact = 'chat';
        }
      },
    },
    created() {
      this.getTickets();
    },
    mounted() {
      this.themes = this.topic_options.length && this.topic_options.map(item => item.name);
    },
  };
</script>
