<template>
  <v-container fill-height pa-0 class="head-top">
    <v-layout v-if="tickets.length" max row wrap class="tickets height-auto">
      <v-flex xs12 mb-4 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary justify-space-between">
            <h3 class="headline">Обращения</h3>
            <v-btn href="/add-ticket/">
              <v-icon>add_circle_outline</v-icon>
              <span>Новое обращение</span>
            </v-btn>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12
              v-for="ticket in tickets"
              :key="ticket.id"
              :class="`${ticket.readed ? 'readed' : 'noread'} mb-2 px-3 xs-padding-x0`">

        <v-card class="tickets__card" v-if="ticket.lastMessage">
          <v-card-title class="tickets__head secondary" @click="openTicket(ticket)">
            <div class="tickets__title">{{ticket.title}}</div>
          </v-card-title>

          <v-card-text class="message-card">
            <div class="message-head align-items-center mr-3">
              <div class="message-head__icon">
                <div class="comment mb-2">
                  <font-awesome-icon icon="comment" class="size-40" color="#c98980"/>
                  <span class="counter_messages size-12">{{ticket.messages.length}}</span>
                </div>
                <small class="message-head__date">{{ticket.lastMessage.created}}</small>
              </div>

              <div v-show="ticket.counter_profile > 0">
                <span class="counter_profile">Чето с профилем: {{ticket.counter_profile}}</span>
              </div>
            </div>

            <div class="message-body mr-3">
              <div class="message-body__name mb-2" :class="{'name-profile':ticket.lastMessage.profile_id}">
                {{ticket.lastMessage.userFromName}}
              </div>
              <div class="message-body__text">{{ticket.lastMessage.message}}</div>
              <div class="message-body__file" v-if="ticket.lastMessage.file_url && ticket.lastMessage.file_url.length !== 0">
                <a v-if="ticket.lastMessage.file_url.indexOf('.pdf') !== -1" :href="ticket.lastMessage.file_url"
                   target="_blank">
                  <font-awesome-icon icon="file-pdf" class="middle-pdf mt-2"/>
                </a>
                <a v-else :href="ticket.lastMessage.file_url" target="_blank">
                  <img class="sendbox-image" :src="ticket.lastMessage.file_url" alt="file"/>
                </a>
              </div>
            </div>

            <v-btn @click="openTicket(ticket)" class="message-btn">
              <span>Посмотреть</span>
              <font-awesome-icon icon="eye" class="size-16 ml-2"/>
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>


    <v-layout v-else max row wrap class="tickets">
      <v-flex xs12 mb-4 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary justify-space-between">
            <h3 class="headline">Обращения</h3>
            <v-btn href="/add-ticket/">
              <v-icon>add_circle_outline</v-icon>
              <span>Новое обращение</span>
            </v-btn>
          </v-card-title>
          <v-card-text class="py-3">Список обращений пуст</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>


  </v-container>
</template>

<script>
  export default {
    name: 'Tickets',
    data() {
      return {
        conn: null,
        connSubscribed: false,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      tickets() {
        return this.$store.state.tickets.tickets;
      },
    },
    methods: {
      openTicket(ticket) {
        this.$store.dispatch('tickets/SetTicket', ticket);
        this.$router.push(`/ticket/${ticket.id}`);
      },
    },
    created() {
      this.user && this.$store.dispatch('tickets/GetTickets', this.user.profile_id);
      this.$store.dispatch('tickets/UnsetTicket');
    },
  };
</script>
