<template>
  <v-container fluid fill-height pa-0 class="ticket">
    <v-layout max row wrap>
      <v-flex xs12 md10 offset-md1>
        <v-card class="mb-3">
          <v-card-title class="primary ticket__title">
            <v-btn class="px-0 mx-0 mr-2 btn-back" flat href="/tickets">
              <font-awesome-icon icon="arrow-left" class="size-21 text-color-white"/>
            </v-btn>
            <h3 class="headline">{{ticket.title ? ticket.title : 'Сообщения'}}</h3>
          </v-card-title>
          <v-card-text class="pa-0">
            <div class="message-item pa-3" v-for="message in ticket.messages" v-if="message" :id="'message-' + message.id">
              <div class="message-item__avatar mr-3">
                <img class="mb-2" :src="message.userFromAvatar" v-on:click="ScrollChat()"/>
                <small class="message-item__date">{{message.created }}</small>
              </div>

              <div class="message-item__info">
                <div :class="`${message.profile_id ? 'name-profile' : ''} message-item__name mb-2`">
                  {{message.userFromName}}
                </div>

                <div class="message-item__text">{{ message.message }}</div>
                <div class="message-item__file" v-if="message.file_url && message.file_url.length != 0">
                  <a v-if="message.file_url.indexOf('.pdf') !== -1" :href="message.file_url" target="_blank">
                    <font-awesome-icon icon="file-pdf" class="middle-pdf mt-2"/>
                  </a>
                  <a v-else :href="message.file_url" target="_blank">
                    <img :src="message.file_url" class="sendbox-image"/>
                  </a>
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>

        <v-card class="bg-color-white message-area">
          <v-card-actions>
            <v-layout row wrap class="justify-space-between">
              <v-flex xs12>
                <v-textarea v-model="message" placeholder="Сообщение" class="mx-2" rows="3"></v-textarea>
              </v-flex>

              <v-flex xs12 sm6 class="pr-2">
                <div class="filePreview flex xs6 md3 mr-2" v-if="document.base64">
                  <v-icon class="close bg-color-white rounded-50" @click="deleteDocument">
                    close
                  </v-icon>
                  <span v-if="CheckPDF">
                    <font-awesome-icon icon="file-pdf" class="big-pdf pa-1"/>
                  </span>
                  <div v-else class="file">
                    <img v-if="document.base64" :src="document.base64"/>
                  </div>
                </div>

                <div v-if="!document.base64">
                  <v-text-field
                          label="Прикрепить файл"
                          @click='PickDocument'
                          v-model='document.name'
                          prepend-icon='attach_file'
                          readonly
                  ></v-text-field>
                  <input
                          type="file"
                          style="display: none"
                          ref="document"
                          accept="image/*, application/pdf"
                          @change="OnDocument"
                  >
                </div>
              </v-flex>

              <v-flex xs12 sm6 class="align-self-end text-right mb-3 pr-2">
                <v-btn class="primary" @click="PostMessage()" :disabled="!document.base64 && !message">
                  Отправить
                  <font-awesome-icon icon="paper-plane" class="size-16 ml-2"/>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'Ticket',
    props: ['id'],
    data() {
      return {
        message: null,
        document: {
          base64: '',
          name: '',
          filename: '',
          url: '',
        },
        errors: [],
      };
    },
    computed: {
      ticket() {
        return this.$store.state.tickets.ticket;
      },
      user() {
        return this.$store.state.user;
      },
      CheckPDF() {
        return (this.document.base64.indexOf('/pdf;') !== -1);
      },
    },
    watch: {
      ticketCount() {
        this.ChatReaded();
        this.ScrollChat(500);
      },
    },
    methods: {
      /** Прикрепить документ. */
      PickDocument() {
        this.$refs.document.click();
      },
      OnDocument(e) {
        this.OnFilePicked(e);
      },
      /**
       * Добавление документа к продаже.
       * @param e эвент
       */
      OnFilePicked(e) {
        const app = this;
        const { files } = e.target;
        if (files[0] !== undefined) {
          const [file] = files;
          if (file.name.lastIndexOf('.') <= 0) {
            return;
          }
          app.document.name = file.name;

          const fr = new FileReader();
          fr.readAsDataURL(file);
          fr.addEventListener('load', () => {
            app.document.filename = null;
            app.document.base64 = fr.result;
            app.$forceUpdate();
          });
        } else {
          app.document = { filename: '', base64: '', name: '', url: '' };
        }
      },
      /** Удаление документа из списка прикрепленных файлов. */
      deleteDocument() {
        this.document = { filename: '', base64: '', name: '', url: '' };
      },
      ChatReaded(all) {
        if (this.ticket == null) {
          return;
        }
        const app = this;
        all = all || null;
        app.$store.commit('TicketReaded');
        setTimeout(() => {
          const [length] = app.ticket.messages;
          for (let i = 0; i < length; i += 1) {
            if (all) {
              app.ticket.messages[i].readed = '1';
            } else if (app.ticket.messages[i].admin_id) {
              app.ticket.messages[i].readed = '1';
            }
          }
        }, 1000);
        app.PublishChatReaded();
      },
      PostMessage() {
        const app = this;
        const data = {
          message: app.message,
          file: app.document.base64,
          profile_id: app.user.profile_id,
          ticket_id: app.$props.id,
        };
        app.$store.getters.axl.post('tickets/api/messages/add', data)
          .then((response) => {
            console.log(response.data.message);
            app.AddMessage(response.data.message);
            app.deleteDocument();
            app.message = '';
          })
          .catch((error) => {
            app.$store.dispatch('HandleError', error);
          });
      },
      AddMessage(message, incomming) {
        const app = this;
        incomming = incomming || null;
        app.ticket.messages.push(message);
        if (incomming) {
          app.ChatReaded(incomming);
          app.PublishChatReaded();
        }
      },
      PublishChatReaded() {
        const payload = {
          profile_id: this.user.profile_id,
          ticket_id: this.$props.id,
        };
        this.$store.getters.ax.post('tickets/api/messages/readed-by-profile', payload);
      },
    },
    mounted() {
      this.user && this.PublishChatReaded();
    },
  };
</script>
