<template>
  <f7-page class="pageEps">
    <f7-toolbar tabbar position="top">
      <f7-link href="/eps/" tab-link-active :animate="false">Сертификаты</f7-link>
      <f7-link href="/eps-orders/" :animate="false">Заказы</f7-link>
      <f7-link href="/eps-cart/" :animate="false">Корзина {{cartLength > 0 ? '(' + cartLength + ')' : ''}}
      </f7-link>
    </f7-toolbar>
    <f7-block-title class="title-page block-title">Сертификаты</f7-block-title>
    <div class="card-wrap">
      <div
        v-if="card.is_allow_to_order"
        @click="OpenSertificate(card)"
        v-for="(card, index) in cards"
        :key="card.id"
        class="eps no-touchevent"
      >
        <f7-card class="elevation-8">
          <f7-card-header class="secondary eps-title">{{card.name}}</f7-card-header>
          <f7-card-content class="card-image">
            <img :src="card.image" :class="'type-' + card.type"/>
          </f7-card-content>
        </f7-card>
      </div>
    </div>
  </f7-page>
</template>

<script>
  export default {
    computed: {
      user() { return this.$store.state.user; },
      cartLength() { return this.$store.state.eps.cartLength; },
      cards() { return this.$store.state.eps.cards; },
    },
    mounted() {
      this.$store.dispatch('eps/GetEpsCards');
    },
    methods: {
      OpenSertificate(card) {
        const app = this;
        app.$store.commit('eps/SetSelectedCard', card);
        app.$f7.router.app.views.main.router.navigate('/eps-card/');
      },
    },
  };
</script>
