<template>
  <f7-page class="pageEpsCart">
    <f7-toolbar tabbar position="top">
      <f7-link href="/eps/" :animate="false">Сертификаты</f7-link>
      <f7-link href="/eps-orders/" :animate="false">Заказы</f7-link>
      <f7-link href="/eps-cart/" tab-link-active :animate="false">
        Корзина {{cartLength > 0 ? '(' + cartLength + ')' : ''}}
      </f7-link>
    </f7-toolbar>
    <f7-block-title class="title-page block-title">Корзина</f7-block-title>

    <f7-card v-show="cartLength > 0" class="margin-horizontal">
      <f7-list form id="cart-form">
        <div v-for="(card, key) in cart">
          <div v-for="(item, index) in card" class="elevation-4 form-rounded margin-bottom bg-color-white">
            <div class="card-header align-items-center secondary text-color-white card-title">
              <div class="card-name">{{item.card_name}}</div>
              <div v-if="item.qty" class="delete-cart text-color-white" v-on:click="DeleteItem(item.card,item.nominal)">
                <i class="f7-icons">trash</i>
              </div>
            </div>

            <f7-list class="no-margin">
              <f7-list-item>
                <span>Номинал: </span>
                <span>{{item.nominal}}</span>
              </f7-list-item>

              <f7-list-input type="number" label="Количество: " min="1" max="100" :value="item.qty" @input="NewAmountEps($event, key, index)"/>

            </f7-list>

            <f7-card-footer>
              <p>{{item.qty * item.price}} баллов <span v-if="item.nominal !== item.price">(включая комиссию)</span></p>
            </f7-card-footer>
          </div>
        </div>
        <f7-list-group class="bg-color-white elevation-2 form-rounded">
          <f7-list-input type="text" label="Эл. почта для получения сертификата" :value="user.email" name="delivery_email"/>

          <f7-list-item radio value="0" name="is_allow_cancel" checked class="size-13">
            Я уверен в своем заказе и хочу сразу отправить его на обработку. Я понимаю, что его
            нельзя будет отменить. (Вы получите данный заказ быстрее)
          </f7-list-item>
          <f7-list-item radio value="1" name="is_allow_cancel" class="size-13">
            Я хочу иметь возможность отменить свой заказ в течении 24 часов с момента его создания.
          </f7-list-item>

        </f7-list-group>
      </f7-list>

      <f7-block-title v-show="cartLength > 0" class="mx-0">
        <div class="padding-horizontal">Итого: <b>{{cartSummary}}</b> баллов</div>
        <div v-if="cartSummary !== cartFullSummary" class="padding-horizontal small-text">
          Спишется: {{cartFullSummary}} баллов (включая комиссию)
        </div>
        <div class="margin-top">
          <f7-button v-on:click="ProcessOrder" large fill class="size-16">
            <span>Оформить заказ</span>
            <i class="fal fa-box-check margin-left-4 size-18"></i>
          </f7-button>
        </div>
      </f7-block-title>
    </f7-card>

    <f7-block v-if="cartLength == 0">
      <div class="center margin-bottom">Ваша корзина пока пуста.</div>
      <f7-button href="/eps/" large fill class="size-16">Выбрать сертификат</f7-button>
    </f7-block>

  </f7-page>
</template>


<script>
  export default {
    computed: {
      user() { return this.$store.state.user; },
      cart() { return this.$store.state.eps.cart; },
      cartLength() { return this.$store.state.eps.cartLength; },
      cartSummary() { return this.$store.state.eps.cartSummary; },
      cartFullSummary() { return this.$store.state.eps.cartFullSummary; },
    },
    methods: {
      DeleteItem(card, nominal) {
        this.$store.dispatch('eps/DeleteCartItem', { name: card, nom: nominal });
      },
      NewAmountEps(e, key, index) {
        const info = { key, index, amount: e.target.value };
        this.$store.dispatch('eps/SetEpsAmount', info);
      },
      ClearCart() {
        this.$store.dispatch('eps/ClearCart');
      },
      ProcessOrder() {
        if (this.cartSummary <= 0) {
          this.$f7.dialog.alert('Пожалуйста, укажите количество сертификатов!');
          return;
        }

        const items = [];
        const finalCart = this.$f7.form.convertToData('#cart-form');
        finalCart.profile_id = localStorage[this.STORAGE_ID];

        Object.keys(this.cart).forEach((card) => {
          Object.keys(this.cart[card]).forEach((prop) => {
            items.push(this.cart[card][prop]);
          });
        });

        finalCart.items = items;
        this.$store.dispatch('eps/ProcessEpsOrder', finalCart);
      },
    },
  };
</script>
