<template>
  <f7-page class="pageEpsCard">
    <f7-block class="">
      <f7-block-title class="eps-title text-color-white padding no-margin-bottom">{{eps.name}}</f7-block-title>
      <div class="bg-color-white eps-content">

        <div class="no-ripple eps-image">
          <div class="eps-content--body">
            <a href="#" class="instead-img no-ripple align-center item-link"  @click="show = !show">
              <img :src="eps.image" :class="'type-' + eps.type">
              <div class="about-text">
                <span>Инфо</span>
                <i class="fal fa-angle-down size-18"></i>
              </div>
            </a>
            <f7-list
                    form
                    id="sertificate-form"
                    onkeypress="return event.keyCode != 13;"
                    class="elevation-2 form-rounded no-margin eps-order-form"
                    :style="`background-image: url('${eps.image}')`"
            >
              <f7-list-item smart-select title="Номинал"
                            :smart-select-params="{openIn: 'popup', closeOnSelect: true, popupCloseLinkText: 'Закрыть'}"
              >
                <select :value="info.nominal" @change="setNominal" name="nominal">
                  <option value="" selected></option>
                  <option v-for="nominal in eps.nominals" :value="nominal">
                    {{nominal}}
                  </option>
                </select>
              </f7-list-item>

              <f7-list-input min="1" type="number" label="Количество карт" name="qty" :value="info.qty" @input="info.qty = Number($event.target.value)"/>

              <f7-list-item class="order-total" v-if="info.nominal > 0">
                На сумму: <span class="cards-summary--total">{{info.price * info.qty}}</span>
                <small v-show="info.nominal && info.nominal !== info.price"> (включая комиссию)</small>
              
              </f7-list-item>
            </f7-list>
          </div>
          <div :class="{active: show}">
            <div v-html="$store.state.eps.eps.description" class="card-info"></div>
          </div>
        </div>
      </div>

      <f7-block-footer>
        <f7-button @click="PrepareToAdd" fill class="padding-horizontal">
          <span>В корзину</span>
          <i class="fal fa-cart-plus size-18 margin-left-4"></i>
        </f7-button>
      </f7-block-footer>
    </f7-block>

  </f7-page>
</template>

<script>
  export default {
    data() {
      return {
        info: {
          nominal: '',
          price: '',
          text: '',
          qty: 1,
        },
        show: false,
      };
    },
    computed: {
      cartLength() { return this.$store.state.eps.cartLength; },
      eps() { return this.$store.state.eps.eps; },
      user() { return this.$store.state.user; },
    },
    methods: {
      setNominal(e) {
        this.info.nominal = +e.target.value;
        const text = this.eps.nominals_text.find(item => item.nominal === +e.target.value);
        this.info.price = text ? text.price : '';
        this.info.text = text ? text.text : '';
        console.log(+e.target.value);
      },
      PrepareToAdd() {
        this.$store.dispatch('eps/AddToCart', this.info);
      },
      leavePage() {
        const app = this;
        app.$f7.router.app.views.main.router.navigate('/eps/', { reloadAll: true, ignoreCache: true, clearPreviousHistory: true });
      },
    },
  };
</script>
