<template>
  <f7-page name="eps-orders" class="epsOrders">
    <f7-toolbar tabbar position="top">
      <f7-link href="/eps/" :animate="false">Сертификаты</f7-link>
      <f7-link href="/eps-orders/" tab-link-active :animate="false">Заказы</f7-link>
      <f7-link href="/eps-cart/" :animate="false">
        Корзина {{cartLength > 0 ? '(' + cartLength + ')' : ''}}
      </f7-link>
    </f7-toolbar>


    <div class="epsOrder-card">
      <f7-block-title class="title-page">Заказы</f7-block-title>


      <f7-card v-if="orders.length" v-for="order in orders" :key="order.id" class="margin-bottom margin-horizontal">

        <f7-card-header class="secondary">
          Заказ № {{order.ms_order_id}} от {{order.created_at}}
          <span class="pull-right size-18">{{order.amount}} р.</span>
        </f7-card-header>

        <f7-card-content v-for="card in order.items" :key="card.id" class="epsOrder-card--point elevation-4">
          <div class="card-body">
            <f7-card-header>
              <div class="card-name">{{card.card_name}}</div>
              <div :class="`bg-${getStatusColor(order.status)} sup-header`">{{card.status | Status}}</div>
            </f7-card-header>

            <f7-card-footer>
              <f7-col width="50">Номинал</f7-col>
              <f7-col width="50" class="text-align-right">{{card.nominal}} x {{card.qty}}</f7-col>
            </f7-card-footer>
          </div>
        </f7-card-content>

        <div class="btn-remove">
          <f7-link class="button button-fill" v-if="order.can_be_canceled" v-on:click="ConfirmDeleteOrder(order)">
            <f7-icon f7="close_round"></f7-icon>
            <span>Отменить</span>
          </f7-link>
        </div>
      </f7-card>

      <div v-else class="no-items-message">История пуста!</div>
    </div>



  </f7-page>
</template>

<script>
  export default {
    computed: {
      user() { return this.$store.state.user; },
      cartLength() { return this.$store.state.eps.cartLength; },
      orders() { return this.$store.state.eps.orders; },
    },
    mounted() {
      this.$store.dispatch('eps/GetEpsOrders');
    },
    methods: {
      ConfirmDeleteOrder(order) {
        const app = this;
        app.$f7.dialog.confirm(`Отменить заказ № ${order.ms_order_id} и вернуть баллы?`, 'Подтверждение', () => {
          app.$store.dispatch('eps/DeleteEpsOrder', order);
        });
      },
      getStatusColor(status) {
        switch (status) {
          case 'userCancel': return 'color-red';
          case 'rollback': return 'color-blue';
          case 'new': return 'color-orange';
          case 'ordered': return 'color-orange';
          case 'ready': return 'color-green';
          case 'rejected': return 'color-red';
          default: return '';
        }
      },
    },
    filters: {
      Status(value) {
        let message = '';
        switch (value) {
          case 'userCancel': message = 'Отменен участником';
            break;
          case 'rollback': message = 'Возврат баллов';
            break;
          case 'new': message = 'Ожидает обработки';
            break;
          case 'ordered': message = 'Передан в обработку';
            break;
          case 'ready': message = 'Сертификат готов';
            break;
          case 'rejected': message = 'Отклонен';
            break;
          default: message = '';
        }
        return message;
      },
    },
  };
</script>