<template>
  <f7-page name="payments">
    <f7-toolbar tabbar position="top">
      <f7-link tab-link="#tab-money-trans" tab-link-active>Сделать перевод</f7-link>
      <f7-link tab-link="#tab-money-history">История начислений</f7-link>
    </f7-toolbar>

    <f7-tabs class="payments__tabs-content">
      <f7-tab id="tab-money-trans" tab-active>
        <f7-block-title class="title-page">Сделать перевод</f7-block-title>
        <div v-show="!selectedType">
          <f7-list v-if="paymentsMethods.length">
            <f7-list-item
              v-for="method in paymentsMethods"
              :key="method.type"
              link="#" :title="method.title"
              :badge="(method.type === payment.type) ? 'выбрано' : ''"
              @click="SelectType(method)"
            ></f7-list-item>
          </f7-list>
        </div>
        <div v-show="selectedType" class="bg-color-white margin-horizontal">
          <f7-block class="no-margin no-padding">
            <f7-list class="no-margin-top">
              <f7-list-item>
                {{user.last_name}} {{user.middle_name}}, зачисление средств происходит в течение 1-3 банковских дней
              </f7-list-item>
              <f7-list-item title="На вашем счету">
                <span class="payments-balance">
                  <span>{{user.balance}}</span>
                  <i class="f7-icons size-21">money_rubl</i>
                </span>
              </f7-list-item>
              <f7-list-item
                      smart-select title="Выберите тип перевода" class="payments__types"
                      :smart-select-params="{openIn: 'popover', closeOnSelect: true}"
              >
                <select name="type" v-model="payment.type" @change="SetPaymentType">
                  <option
                    v-for="method in paymentsMethods"
                    :key="method.type"
                    :value="method.type">{{ method.title }}</option>
                </select>
              </f7-list-item>
              <f7-list-input
                      v-if="payment.type === 'yandex' || payment.type === 'webmoney'"
                      label="Номер эл.кошелька"
                      floating-label
                      type="text"
                      :value="payment.parameters.phone_mobile"
                      placeholder="Номер эл.кошелька"
                      @input="SetNumber"
                      :rules="[rules.required, rules.purse]"
                      clear-button
                      required
              ></f7-list-input>
              <f7-list-input
                      v-if="payment.type === 'rbs'"
                      :label="selectedPayment.title"
                      floating-label
                      type="text"
                      :value="payment.parameters.phone_mobile"
                      :placeholder="selectedPayment.title"
                      @input="SetNumber"
                      :rules="[rules.required, rules.number]"
                      clear-button
                      required
              ></f7-list-input>
              <f7-list-input
                      v-if="payment.type === 'phone' || payment.type === 'qiwi'"
                      label="Номер телефона"
                      floating-label
                      type="text"
                      :value="payment.parameters.phone_mobile"
                      placeholder="Номер телефона"
                      @input="SetNumber"
                      v-mask="'+7 (###) ###-####'"
                      :rules="[rules.required, rules.phoneLength]"
                      clear-button
                      required
              ></f7-list-input>
              <f7-list-input
                      v-if="payment.type === 'card'"
                      label="Номер карты"
                      floating-label
                      type="text"
                      :value="payment.parameters.phone_mobile"
                      placeholder="Номер карты"
                      @input="SetNumber"
                      v-mask="'#### #### #### ####'"
                      :rules="[rules.required, rules.cardLength]"
                      clear-button
                      required
              ></f7-list-input>
              <f7-list-input
                      label="Сумма"
                      floating-label
                      type="text"
                      :value="payment.amount"
                      placeholder="0"
                      @input="GetTaxes($event.target.value)"
                      :rules="[rules.required]"
                      clear-button
                      required
              ></f7-list-input>
              <div v-if="hasTaxes && taxes.string">
                Спишется {{taxes.sum}} баллов {{taxes.string}}
              </div>
            </f7-list>
          </f7-block>
        </div>

        <f7-block>
          <div v-if="hasTaxes && !userHasPassport">
            <p>Для переводов необходимо заполнить Анкету НДФЛ и дождаться подтверждения анкеты модератором сайта</p>
            <f7-button href="/passport/" large fill class="size-16">
              <f7-icon f7="document_person"></f7-icon>
              <span>Заполнить НДФЛ</span>
            </f7-button>
          </div>
          <div v-else>
            <f7-button @click="SendPayment" large fill class="size-16" :disabled="!validate">
              <f7-icon f7="money_rubl"></f7-icon>
              <span>Перевести</span>
            </f7-button>
          </div>
        </f7-block>
        <div class="empty-space"></div>
      </f7-tab>

      <f7-tab id="tab-money-history">
        <div class="payments-card">
          <f7-block-title class="title-page">История начислений</f7-block-title>
          <f7-card
                  v-if="payments.length"
                  v-for="element in payments"
                  :key="element.created_at"
                  class="payments-card--point"
          >
            <div :class="`bg-color-${element.status} sup-header rounded-top padding-horizontal`">
              {{element.status | statusMessage}}
            </div>
            <div class="card-body">
              <f7-block-header class="secondary">
                <small>Платеж</small>
                #{{element.ms_payment_id}}
              </f7-block-header>
              <f7-card-header class="sm-pad-8">
                <f7-row class="row-100 justify-content-space-between">
                  <f7-col class="size-14">{{element.created_at}}</f7-col>
                  <f7-col class="text-align-right">{{element.amount}}
                    <small> руб</small>
                  </f7-col>
                </f7-row>
              </f7-card-header>
              <f7-card-content class="sm-pad-8">
                <f7-row class="row-100 justify-content-space-between">
                  <!--<f7-col>{{//element.type | typeMessage}}</f7-col>{{dateTime}}-->
                  <f7-col class="text-align-right size-16">{{element.parameters.phone_mobile}}</f7-col>
                </f7-row>
              </f7-card-content>
            </div>
          </f7-card>
          <f7-block-title class="no-items-message" v-if="!payments.length">История пуста!</f7-block-title>
        </div>

      </f7-tab>
    </f7-tabs>
  </f7-page>
</template>


<script>
  export default {
    data() {
      return {
        selectedPayment: null,
        selectedType: false,
        payment: {
          type: '',
          amount: '',
          parameters: {
            phone_mobile: '',
          },
        },
        taxes: {
          sum: '',
          string: '',
        },
        rules: {
          required: value => !!value || 'Поле должно быть заполнено',
          phoneLength: value => (value.length >= 17) || 'Номер телефона заполнен не полностью',
          cardLength: value => (value.length >= 19) || 'Номер карты заполнен не полностью',
          number: value => /^\d{1,10}$/.test(value) || 'Поле должно содержать только числа',
          purse: value => /^\d{12,15}$/.test(value) || 'Поле должно содержать только числа',
        },
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      payments() {
        return this.$store.state.payments.payments || [];
      },
      paymentsMethods() {
        return this.$store.state.payments.paymentsMethods || [];
      },
      hasPayments() {
        return this.$store.state.settings.payments === true;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      },
      hasTaxes() {
        return this.$store.state.settings.taxes === true;
      },
      userHasPassport() {
        return this.user && this.user.account && this.user.account.status === 'approved';
      },
      validate() {
        return !!(this.payment.type && this.payment.parameters.phone_mobile && this.payment.amount);
      },
    },
    methods: {
      SelectType(item) {
        this.selectedType = true;
        this.payment.type = item.type;
      },
      GetPaymentsTypeTitle() {
        const method = this.paymentsMethods.length
          && this.paymentsMethods.find(item => item.type === this.payment.type);
        return method ? method.title : '';
      },
      SetPaymentType(e) {
        this.selectedPayment = this.paymentsMethods.find(item => item.type === e.target.value);
      },
      SetNumber(e) {
        this.payment.parameters.phone_mobile = e.target.value;
      },
      GetTaxes(amount) {
        const app = this;
        app.payment.amount = amount;
        const params = {
          profile_id: app.user.id,
          amount: app.payment.amount,
          type: app.payment.type,
        };
        this.$store.getters.ax.post('payments/api-v3/payments/calculate', params)
          .then((response) => {
            app.taxes = {
              sum: parseInt(response.data.amount, 10) + parseInt(response.data.commission, 10),
              string: `(включая комиссию ${response.data.message})`,
            };
          })
          .catch(() => {
            app.taxes = { sum: '', string: '' };
          });
      },
      SendPayment() {
        const app = this;
        if (this.validate) {
          const payment = {
            profile_id: app.user.profile_id,
            type: app.payment.type,
            amount: app.payment.amount,
            parameters: {
              phone_mobile: app.payment.parameters.phone_mobile,
            },
          };
          app.$store.getters.axl.post('payments/api-v3/payments/create', payment)
            .then(() => {
              app.ResetForm();
              this.$store.dispatch('GetProfile');
              this.$store.dispatch('payments/GetPayments', this.user.profile_id);
            })
            .catch((error) => {
              app.$store.dispatch('HandleError', error);
            });
        }
      },
      ResetForm() {
        this.payment.amount = '';
        this.payment.parameters.phone_mobile = '';
        this.payment.type = this.paymentsMethods[0].type;
        this.taxes = { sum: '', string: '' };
      },
    },
    filters: {
      statusMessage(value) {
        const statuses = {
          new: 'Новый',
          processing: 'Передан в обработку',
          paid: 'Успешно выполнен',
          fail: 'Ошибка при выполнении',
          rollback: 'Откат, возвращен',
        };
        return typeof statuses[value] === 'undefined' ? value : statuses[value];
      },
    },
    mounted() {
      if (this.user) {
        this.$store.dispatch('payments/GetPayments', this.user.profile_id);
        this.$store.dispatch('payments/GetPaymentsSettings', {
          profile_id: this.user.profile_id,
          enabled: true,
        });
        if (this.paymentsMethods && this.paymentsMethods.length) {
          this.payment.type = this.paymentsMethods[0].type;
          // eslint-disable-next-line prefer-destructuring
          this.selectedPayment = this.paymentsMethods[0];
        }
        this.payment.profile_id = this.user.profile_id;
      }
    },
  };
</script>
