<template>
  <v-container fluid fill-height>
    <v-layout row wrap max>
      <v-flex md8 offset-md2 xs12>
        <v-card class="mb-5">
          <v-card-title class="primary">
            <h3 class="headline">Регистрация</h3>
          </v-card-title>
          <v-card-text>
            <v-tabs v-model="active" slider-color="white">
              <v-tab href="#tab-1">Стандартная</v-tab>
              <v-tab href="#tab-2">Pro Club</v-tab>

              <v-tab-item value="tab-1">
                <v-card flat>
                  <v-card-text v-if="!regular.register.sentCode && !regular.register.token">
                    <v-text-field type="text" label="Номер телефона" v-model="regular.register.phone"
                                  v-mask="'+7 (###) ###-####'" autofocus :rules="[rules.phone, rules.required]"
                    ></v-text-field>
                    <v-card-actions class="pa-0 justify-space-between">
                      <v-btn :disabled="loading || !regular.register.phone" @click="SendCode(regular)">Отправить код</v-btn>
                    </v-card-actions>
                  </v-card-text>

                  <v-card-text v-show="regular.register.sentCode && !regular.register.token">
                    <v-text-field type="text" label="Проверочный код" v-model="regular.register.code"
                                  v-mask="'#####'" :rules="[rules.code, rules.required]"></v-text-field>
                    <v-card-actions class="pa-0 justify-space-between">
                      <v-btn :disabled="loading || !regular.register.code" @click="CheckCode(regular)">Проверить код</v-btn>
                    </v-card-actions>
                  </v-card-text>

                  <v-card-text v-if="regular.register.token">
                    <v-text-field type="text" label="Номер телефона" v-model="regular.register.phone" disabled
                                  v-mask="'+7 (###) ###-####'" :rules="[rules.phone, rules.required]"></v-text-field>
                    <v-text-field type="text" label="Фамилия" v-model="regular.register.lastName"
                                  :rules="[rules.required]"></v-text-field>
                    <v-text-field type="text" label="Имя" v-model="regular.register.firstName"
                                  :rules="[rules.required]"></v-text-field>
                    <v-text-field type="text" label="Отчество" v-model="regular.register.middleName"
                                  :rules="[rules.required]"></v-text-field>
                    <v-text-field type="text" label="Электронная почта" v-model="regular.register.email"
                                  :rules="[rules.required, rules.email]"></v-text-field>
                    <v-autocomplete label="Город" v-model="regular.register.city" :placeholder="regular.register.city.title"
                                    :items="cities" class="plcolor mb-3" :rules="[rules.required]"
                                    :search-input.sync="searchRegularCity" clearable hide-details hide-no-data
                                    :loading="isLoading" item-text="title" item-value="id" return-object></v-autocomplete>
                    <v-text-field type="text" label="Место работы" v-model="regular.register.workPlace"
                                  :rules="[rules.required]"></v-text-field>
                    <v-text-field label="Пароль" v-model="regular.register.password" autocomplete="new-password"
                                  :append-icon="regular.register.hidePw ? 'visibility_off' : 'visibility'"
                                  @click:append="regular.register.hidePw = !regular.register.hidePw"
                                  :type="regular.register.hidePw ? 'password' : 'text'" counter
                                  :rules="[rules.required]"></v-text-field>
                    <v-text-field label="Пароль" v-model="regular.register.confirm" autocomplete="new-password"
                                  :append-icon="regular.register.hidePw ? 'visibility_off' : 'visibility'"
                                  @click:append="regular.register.hidePw = !regular.register.hidePw"
                                  :type="regular.register.hidePw ? 'password' : 'text'" counter
                                  :rules="[rules.required, compareRegularPasswords]"></v-text-field>

                    <v-flex xs12 v-if="requireRules">
                      <v-checkbox v-model="regular.register.checkedRules">
                        <div slot="label">Согласие с
                          <span class="info--text" @click="dialogRules=true">правилами программы</span>
                        </div>
                      </v-checkbox>
                    </v-flex>
                    <v-flex xs12 v-if="requirePers">
                      <v-checkbox v-model="regular.register.checkedPers">
                        <div slot="label">Согласие на
                          <span class="info--text" @click="dialogPers=true">обработку персональных данных</span>
                        </div>
                      </v-checkbox>
                    </v-flex>
                  </v-card-text>
                  <v-card-actions v-if="regular.register.token" class="pa-3 justify-space-between">
                    <v-btn type="submit" :disabled="!regularRegisterValidate || loading"
                           @click="UserRegister(regular)">Зарегистрироваться</v-btn>
                  </v-card-actions>
                </v-card>
              </v-tab-item>

              <v-tab-item value="tab-2">
                <v-card flat>
                  <v-card-text v-if="!profclub.register.sentCode && !profclub.register.token">
                    <v-text-field type="text" label="Номер телефона" v-model="profclub.register.phone"
                                  v-mask="'+7 (###) ###-####'" autofocus :rules="[rules.phone, rules.required]"
                    ></v-text-field>
                    <v-card-actions class="pa-0 justify-space-between">
                      <v-btn :disabled="loading || !profclub.register.phone" @click="SendCode(profclub)">Отправить код</v-btn>
                    </v-card-actions>
                  </v-card-text>

                  <v-card-text v-show="profclub.register.sentCode && !profclub.register.token">
                    <v-text-field type="text" label="Проверочный код" v-model="profclub.register.code"
                                  v-mask="'#####'" :rules="[rules.code, rules.required]"></v-text-field>
                    <v-card-actions class="pa-0 justify-space-between">
                      <v-btn :disabled="loading || !profclub.register.code" @click="CheckCode(profclub)">Проверить код</v-btn>
                    </v-card-actions>
                  </v-card-text>

                  <v-card-text v-if="profclub.register.token">
                    <v-text-field type="text" label="Номер клубной карты" v-model="profclub.register.clubcard" disabled
                                  v-mask="'########'" :rules="[rules.required, rules.clubCard]"></v-text-field>
                    <v-text-field type="text" label="Фамилия" v-model="profclub.register.lastName"
                                  :rules="[rules.required]"></v-text-field>
                    <v-text-field type="text" label="Имя" v-model="profclub.register.firstName"
                                  :rules="[rules.required]"></v-text-field>
                    <v-text-field type="text" label="Отчество" v-model="profclub.register.middleName"
                                  :rules="[rules.required]"></v-text-field>
                    <v-text-field type="text" label="Номер телефона" v-model="profclub.register.phone" disabled
                                  v-mask="'+7 (###) ###-####'" :rules="[rules.phone, rules.required]"></v-text-field>
                    <v-text-field type="text" label="Электронная почта" v-model="profclub.register.email"
                                  :rules="[rules.required, rules.email]"></v-text-field>
                    <v-autocomplete label="Город" v-model="profclub.register.city" :placeholder="profclub.register.city.title"
                                    :items="cities" class="plcolor" :rules="[rules.required]"
                                    :search-input.sync="searchProfclubCity" clearable hide-details hide-no-data
                                    :loading="isLoading" item-text="title" item-value="id" return-object></v-autocomplete>
                    <v-text-field label="Пароль" v-model="profclub.register.password" autocomplete="new-password"
                                  :append-icon="profclub.register.hidePw ? 'visibility_off' : 'visibility'"
                                  @click:append="profclub.register.hidePw = !profclub.register.hidePw"
                                  :type="profclub.register.hidePw ? 'password' : 'text'" counter
                                  :rules="[rules.required]"></v-text-field>
                    <v-text-field label="Пароль" v-model="profclub.register.confirm" autocomplete="new-password"
                                  :append-icon="profclub.register.hidePw ? 'visibility_off' : 'visibility'"
                                  @click:append="profclub.register.hidePw = !profclub.register.hidePw"
                                  :type="profclub.register.hidePw ? 'password' : 'text'" counter
                                  :rules="[rules.required, compareProfclubPasswords]"></v-text-field>
                    <v-flex xs12 v-if="requireRules">
                      <v-checkbox v-model="profclub.register.checkedRules">
                        <div slot="label">Согласие с
                          <span class="info--text" @click="dialogRules=true">правилами программы</span>
                        </div>
                      </v-checkbox>
                    </v-flex>
                    <v-flex xs12 v-if="requirePers">
                      <v-checkbox v-model="profclub.register.checkedPers">
                        <div slot="label">Согласие на
                          <span class="info--text" @click="dialogPers=true">обработку персональных данных</span>
                        </div>
                      </v-checkbox>
                    </v-flex>
                  </v-card-text>
                  <v-card-actions v-if="profclub.register.token" class="pa-3 justify-space-between">
                    <v-btn type="submit" :disabled="!profclubRegisterValidate || loading"
                           @click="UserRegister(profclub)">Зарегистрироваться</v-btn>
                  </v-card-actions>
                </v-card>
              </v-tab-item>
            </v-tabs>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-dialog v-model="dialogRules" width="500" v-if="requireRules && pageRules">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title v-html="pageRules.title"></v-card-title>
          <v-card-text v-html="pageRules.content"></v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="default" @click="dialogRules = false">Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogPers" width="500" v-if="requirePers && pagePers">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title v-html="pagePers.title"></v-card-title>
          <v-card-text v-html="pagePers.content"></v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="default" @click="dialogPers = false">Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script src="./Registration.js"></script>
