<template>
  <v-container fluid fill-height pa-0>
    <v-layout max row wrap>
      <v-flex xs12 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary mb-3">
            <h3 id="video" class="headline" v-if="course.title">{{course.title}}</h3>
            <h3 class="headline" v-else>Обучение</h3>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 md10 lg8 offset-md1 offset-lg2 class="mb-4" fill-height>
        <v-card class="card">
          <v-card-text class="pt-1 pb-0">
            <div v-html="course.video_1_frame" class="video pa-0"></div>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions class="pb-2 mt-2">
            <v-btn v-if="course.file_url" @click="showPDF(course.file_url)">
              <font-awesome-icon icon="file-pdf" class="size-18 mr-2"/>
              <span>Файл 1</span>
            </v-btn>
            <v-btn v-if="course.document_url" :href="course.document_url">
              <v-icon>insert_drive_file</v-icon>
              Файл 2
            </v-btn>

            <v-btn to="/courses">
              <!--<i class="far fa-arrow-left size-16 mr-2"></i>-->
              <v-icon>keyboard_arrow_left</v-icon>
              <span>Назад</span>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn @click="startTest">
              <span>Пройти тест</span>
              <font-awesome-icon icon="clipboard-check" class="size-18 ml-2"/>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialog.active" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-spacer></v-spacer>
          <v-btn icon dark @click="dialog.active = false">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <div v-html="dialog.content"></div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  export default {
    props: ['id'],
    data() {
      return {
        dialog: {
          active: false,
          content: '',
        },
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      course() {
        return this.$store.state.courses.course;
      },
      test() {
        return this.$store.state.courses.course.tests[0];
      },
    },
    methods: {
      startTest() {
        this.$store.dispatch('courses/startTry', { profile_id: this.user.profile_id, test_id: this.test.id });
        this.$router.push(`/test/${this.test.id}`);
      },
      showPDF(url) {
        this.dialog.active = true;
        this.dialog.content = `<iframe src="${url}" style="width:100%; min-height:700px" frameborder="0"></iframe>`;
      },
    },
    mounted() {
      this.$store.dispatch('courses/GetCourse', this.id);
    },
  };
</script>
