<template>
  <v-container fluid pa-0>
    <v-layout max row wrap class="courses">
      <v-flex xs12 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary mb-3">
            <h3 class="headline">Обучение</h3>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6 lg4 px-3 mb-4 v-for="item in courses" :key="item.id" class="xs-padding-x0">
        <v-card class="courses__card">
          <v-img :src="item.file_preview_url" aspect-ratio="1.8" class="courses__img" @click="goToCourse(item.id)">
            <v-layout column fill-height class="lightbox white--text">
              <v-flex pa-2 shrink class="same-head secondary">
                <div class="subheading text-xs-center">{{item.title}}</div>
              </v-flex>
              <v-spacer></v-spacer>
              <v-flex v-if="item.bonuses" shrink>
                <div class="primary--text flex-wrap fw-600 bg-color-white-rgba-7">
                  <v-chip class="courses__bonuses" color="primary" text-color="white">+{{ item.bonuses }}</v-chip>
                  <span>баллов за прохождение теста</span>
                </div>
              </v-flex>
            </v-layout>
          </v-img>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data() {
      return {
        course: null,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      courses() {
        return this.$store.state.courses.coursesList;
      },
    },
    methods: {
      goToCourse(id) {
        this.$router.push(`courses/${id}`);
      },
    },
    mounted() {
      this.$store.dispatch('courses/GetCoursesList');
    },
  };
</script>