<template>
  <v-container fluid fill-height pa-0>
    <v-layout max row wrap>
      <v-flex v-if="results.length" xs12 md10 lg8 offset-md1 offset-lg2 class="mb-4">
        <v-card class="card mb-3">
          <v-card-title class="primary">
            <h3 class="headline">{{ results[0].test_title }}</h3>
          </v-card-title>
          <v-card-text>
            Количество бонусов зависит от процента правильных ответов.
            <ul class="py-2">
              <li v-for="(bonus, i) in results[0].bonuses" :key="i">
                {{ bonus.percent_min }} - {{ bonus.percent_max }}% = {{ bonus.bonuses }} баллов
              </li>
            </ul>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions class="pb-2 mt-2">
            <v-btn to="/courses">
              <v-icon>keyboard_arrow_left</v-icon>
              <span>Курсы</span>
            </v-btn>
          </v-card-actions>
        </v-card>

        <v-card v-for="(item, index) in results" class="card mb-3" :key="index">
          <v-card-title class="secondary justify-space-between">
            <div class="result-title">Результат тестирования №{{item.position}}</div>
            <small>{{item.finished_at}}</small>
          </v-card-title>
          <v-card-text class="justify-space-between">
            <v-layout align-center justify-space-between row fill-height>
              <div class="result">
                Верных ответов: <b>{{item.correct_answers}}</b> из <b>{{item.results.length}}</b>.<br>
                Процент правильных ответов на тест: <b>{{ correctPercent(item.correct_answers, item.wrong_answers, item.results.length) }}%</b>
              </div>
              <div class="progress">
                <v-progress-circular
                  :rotate="-90"
                  :size="70"
                  :width="15"
                  :value="correctPercent(item.correct_answers, item.wrong_answers, item.results.length)"
                  color="rgba(237, 27, 36, 0.7)"
                >
                  <b>{{ correctPercent(item.correct_answers, item.wrong_answers, item.results.length) }}%</b>
                </v-progress-circular>
              </div>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex v-else xs12 md10 lg8 offset-md1 offset-lg2 class="mb-4">
        <v-card class="card">
          <v-card-title class="primary">
            <h3 class="headline mb-0">Результаты теста №{{id}}</h3>
          </v-card-title>
          <v-card-text class="pt-5 pb-5">
            Для этого теста нет найденных результатов.
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions class="pb-2 mt-2">
            <v-spacer></v-spacer>
            <v-btn to="/courses">
              <v-icon>keyboard_arrow_left</v-icon>
              Курсы
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['id'],
    computed: {
      user() {
        return this.$store.state.user;
      },
      results() {
        return this.$store.state.courses.testResultsList;
      },
    },
    methods: {
      correctPercent(correct, wrong, all) {
        return Math.round(correct / (all / 100));
      },
    },
    mounted() {
      this.$store.dispatch('courses/GetResultsList', { profile_id: this.user.profile_id, test_id: this.id });
    },
  };
</script>

