<template>
  <v-container fluid fill-height pa-0>
    <v-layout max row wrap>
      <v-flex xs12 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary mb-3">
            <h3 class="headline" v-if="course.title">{{course.title}}</h3>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 sm8 offset-sm2 md8 offset-md2 class="mb-4">
        <v-card v-if="showTest()" class="test">
          <v-stepper v-model="step" vertical>
            <template v-for="(item, index) in questions">
              <v-stepper-step :complete="step > (index + 1)" :step="index + 1">
                <div class="test-title text-purple" v-html="item.title"></div>
                <small v-if="item.multiple">Можно указать несколько ответов</small>
                <small v-else>Можно выбрать только один ответ</small>
              </v-stepper-step>
              <v-stepper-content :step="index + 1">
                <v-card color="grey lighten-4 elevation-0" class="mb-3">
                  <v-layout row wrap class="test-body">
                    <v-flex xs12 py-2 px-4>
                      <div v-if="item.multiple && item.answers.length">
                        <v-checkbox
                                v-for="(answer, index) in item.answers"
                                v-model="item.answer.checked"
                                :label="answer.title"
                                :value="answer.id"
                                :key="index"
                                color="#231446"
                                hide-details
                        ></v-checkbox>
                      </div>
                      <v-radio-group
                              v-else-if="!item.multiple && item.answers.length"
                              v-model="item.answer.checked"
                      >
                        <v-radio
                                v-for="(answer, index) in item.answers"
                                :label="answer.title"
                                :value="answer.id"
                                :key="index"
                                color="#333"
                        ></v-radio>
                      </v-radio-group>
                    </v-flex>
                  </v-layout>
                </v-card>
                <v-btn :disabled="!questionValidate(item)"  @click="nextStep(item.id, item.answer.checked)">
                  <span>{{((questions.length - 1) === index) && 'Отправить' || 'Дальше'}}</span>
                  <font-awesome-icon
                          :icon="`${((questions.length - 1) === index) && 'paper-plane' || 'angle-double-down'}`"
                          class="size-18 ml-2"
                  />
                </v-btn>
              </v-stepper-content>
            </template>
          </v-stepper>
          <v-card-actions class="test-footer secondary align-start px-3">
            <v-btn :to="`/courses/${course.id}`">
              <v-icon>keyboard_arrow_left</v-icon>
              <span>Назад</span>
            </v-btn>
          </v-card-actions>
        </v-card>
        <v-card v-else>
          <v-card-title class="primary">
            <h3 id="video" class="headline mb-0">{{course.title}}</h3>
          </v-card-title>
          <v-card-text class="pt-5 pb-5">
            Вы исчерпали лимит прохождений теста.
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat="flat" :to="`/courses/${test.id}`">Назад</v-btn>
            <v-btn class="primary" :to="`/results/${test.id}`">Результаты</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['id'],
    data() {
      return {
        step: 0,
        questions: [],
        isValid: false,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      course() {
        return this.$store.state.courses.course;
      },
      test() {
        return this.$store.state.courses.course.tests[0];
      },
      try() {
        return this.$store.state.courses.try;
      },
    },
    methods: {
      setQuestions() {
        if (this.test.questions.length) {
          this.questions = [];
          for (let i = 0; i < this.test.questions.length; i += 1) {
            this.questions.push({
              ...this.test.questions[i],
              answer: {
                id: this.test.questions[i].id,
                checked: (this.test.questions[i].multiple) ? [] : 0,
              },
              isValid: false,
            });
          }
        }
      },
      showTest() {
        return this.try && this.questions.length;
      },
      questionValidate(item) {
        let isValid = false;
        if (!item.multiple && item.answer.checked) {
          isValid = true;
        }
        if (item.multiple && item.answer.checked.length) {
          isValid = true;
        }
        item.isValid = isValid;
        return isValid;
      },
      nextStep(qid, aid) {
        const app = this;
        const answer = {
          profile_id: this.user.profile_id,
          try_id: this.try.id,
          question_id: qid,
          answer_ids: Array.isArray(aid) ? aid : [aid],
        };
        app.$store.getters.axl.post('courses/api/test-try/answer', answer)
          .then((response) => {
            app.$store.commit('courses/setTry', response.data.try);
            app.step += 1;
          })
          .catch((error) => {
            if (error.response && (error.response.status === 301) && error.response.data.redirect) {
              app.$router.push(`/results/${app.test.id}`);
            } else if (error.response && (error.response.status === 400)) {
              app.$router.push(`/courses/${app.course.id}`);
            }
          });
      },
    },
    mounted() {
      this.$store.dispatch('courses/GetCourse', this.id);
      this.$store.dispatch('courses/startTry', { profile_id: this.user.profile_id, test_id: this.test.id });
      this.step = (this.try && this.try.step) ? this.try.step : 1;
      this.setQuestions();
    },
  };
</script>