<template>
  <f7-page name="passport" id="passport-page">

    <f7-block class="mt-10" v-if="form">
      <div v-show="form.status_label.length">
        <b>Статус анкеты</b>:
        <span :class="{'badge':1, 'bg-color-green':form.status == 'approved', 'bg-color-orange':form.status == 'redo', 'bg-color-red':form.status == 'declined'}">{{form.status_label}}</span>
      </div>
      <div v-show="form.comments.length">
        <b>Комментарии модератора</b>:
        <div v-for="comment in form.comments">
          <i class="fa fa-dot-circle-o"></i>
          <span>{{comment.created_at}}</span>
          <div v-html="comment.comment" class="comment"></div>
        </div>
      </div>

      <f7-list form id="passport-form" class="mt-10">
        <f7-list-item class="item-label margin-bottom">
          Для заказа подарка необходимо заполнить все поля. Это нужно, чтобы мы заплатили за
          Вас налог на доходы физических лиц в соответствии с законодательством Российской Федерации
        </f7-list-item>
        <f7-list-input
          label="Фамилия"
          floating-label
          type="text"
          :value="form.last_name"
          placeholder="Фамилия"
          @input="form.last_name = $event.target.value"
          clear-button
          required
        ></f7-list-input>
        <f7-list-input
          label="Имя"
          floating-label
          type="text"
          :value="form.first_name"
          placeholder="Иван"
          @input="form.first_name = $event.target.value"
          clear-button
          required
        ></f7-list-input>
        <f7-list-input
          label="Отчество"
          floating-label
          type="text"
          :value="form.middle_name"
          placeholder="Иванович"
          @input="form.middle_name = $event.target.value"
          clear-button
          required
        ></f7-list-input>
        <f7-list-item class="calendar-block">
          <div class="calendar-wrap" @click="OpenCalendar">
            <div class="title-ico">
              <i class="fal fa-calendar-alt size-21 margin-right"></i>
              <span>Дата рождения</span>
            </div>
            <input class="calendar-date" type="text" readonly v-model="form.birthday_on_local" id="calendar-create-sale" placeholder="дд.мм.гггг"/>
          </div>
        </f7-list-item>
        <f7-list-input
          label="Серия и номер паспорта"
          floating-label
          type="text"
          :value="form.document_series_and_number"
          placeholder="XXXX XXXXXX"
          @input="form.document_series_and_number = $event.target.value"
          v-mask="'#### ######'"
          clear-button
          required
        ></f7-list-input>
        <f7-list-input
          label="ИНН"
          floating-label
          type="text"
          :value="form.inn"
          placeholder="XXXXXXXXXX"
          @input="form.inn = $event.target.value"
          v-mask="'############'"
          clear-button
          required
        ></f7-list-input>
        <f7-list-input
          label="Адрес места жительства в РФ"
          id="passport-address"
          floating-label
          type="text"
          :value="form.address"
          placeholder="125565, г. Москва, Тверская улица, д. 2, кв. 25"
          @input="form.address = $event.target.value"
          clear-button
          required
        ></f7-list-input>
      </f7-list>

      <f7-card>
        <div class="card-header document-controls" @click="PhotoPopup(1)">
          <span>Разворот паспорта</span>
          <i class="f7-icons add-icon add-button">add_round_fill</i>
        </div>
        <div class="row card-content document text-center">
          <div v-if="form.document1_api.url || form.document1_api.file">
            <div v-if="(form.document1_api.url && form.document1_api.url.indexOf('/pdf;') !== -1)
                                 || (form.document1_api.file && form.document1_api.file.indexOf('/pdf;') !== -1)">
              <i class="fa fa-file-pdf-o"></i>
            </div>
            <div v-else>
              <img :src="form.document1_api.url ? form.document1_api.url : form.document1_api.file"/>
            </div>
            <div class="text-center">
              <i class="f7-icons color-red" v-on:click="removeDocument(1)">close_round</i>
            </div>
          </div>
        </div>
      </f7-card>

      <f7-card>
        <div class="card-header document-controls" @click="PhotoPopup(2)">
          <span>Страница регистрации</span>
          <i class="f7-icons add-icon add-button">add_round_fill</i>
        </div>
        <div class="row card-content document text-center">
          <div v-if="form.document2_api.url || form.document2_api.file">
            <div v-if="(form.document2_api.url && form.document2_api.url.indexOf('/pdf;') !== -1)
                                 || (form.document2_api.file && form.document2_api.file.indexOf('/pdf;') !== -1)">
              <i class="fa fa-file-pdf-o"></i>
            </div>
            <div v-else>
              <img :src="form.document2_api.url ? form.document2_api.url : form.document2_api.file"/>
            </div>

            <div class="text-center">
              <i class="f7-icons color-red" v-on:click="removeDocument(2)">close_round</i>
            </div>
          </div>
        </div>
      </f7-card>
      <f7-button @click="Save" big fill class="mt-15" :disabled="!validate">Сохранить</f7-button>
    </f7-block>

    <f7-actions id="passport-photo-1">
      <f7-actions-group>
        <f7-actions-button @click="getPictureFromCamera(1)">
          <i class="f7-icons inline">camera</i> Сфотографировать
        </f7-actions-button>
        <f7-actions-button @click="getPictureFromLibrary(1)">
          <i class="f7-icons inline">images</i> Выбрать из галереи
        </f7-actions-button>
      </f7-actions-group>
      <f7-actions-group>
        <f7-actions-button color="red" bold>
          <i class="f7-icons inline">close_round</i> Отмена
        </f7-actions-button>
      </f7-actions-group>
    </f7-actions>

    <f7-actions id="passport-photo-2">
      <f7-actions-group>
        <f7-actions-button @click="getPictureFromCamera(2)">
          <i class="f7-icons inline">camera</i> Сфотографировать
        </f7-actions-button>
        <f7-actions-button @click="getPictureFromLibrary(2)">
          <i class="f7-icons inline">images</i> Выбрать из галереи
        </f7-actions-button>
      </f7-actions-group>
      <f7-actions-group>
        <f7-actions-button color="red" bold>
          <i class="f7-icons inline">close_round</i> Отмена
        </f7-actions-button>
      </f7-actions-group>
    </f7-actions>

    <div class="space"></div>
  </f7-page>
</template>

<script src="./Passport.js"></script>
<style scoped lang="scss" src="./Passport.scss"></style>
