#passport-address {
    height: auto;
}
#list-address ul {
    padding: 0 !important;
}
#list-address ul .item-title {
    color: gray;
}
.profile-card {
    width:            100%;
    box-sizing:       border-box;
    max-width:        600px;
    margin:           0 auto 10px auto;
    text-align:       center;
    padding:          10px 10px 0 10px;
    box-shadow:       0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #e6e6e6;
    border-radius:    10px;
}
.top-card {
    display: inline-block;
}
.avatar {
    display:             inline-block;
    width:               70px;
    height:              50px;
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     70px;
    /*    background-image: url('../img/avatar.png');*/
    float:               left;
    margin:              0 10px 0 0;
}
.main-info {
    display:    inline-block;
    text-align: left;
}
.profile-name {
    font-size: 17px;
}
.city-card {
    text-transform: uppercase;
    font-size:      15px;
    color:          #595959;
}
.bonus-card {
    padding: 10px 0;
}
.left-bonus {
    display:        inline-block;
    text-align:     center;
    padding:        10px 20px 10px 0;
    border-right:   2px solid #ccc;
    vertical-align: middle;
}
.bonus-label {
    text-transform: uppercase;
    font-size:      13px;
    color:          #595959;
}
.bonus-amount {
    font-size:   45px;
    line-height: 40px;
    color:       #008073;
    font-weight: bold;
}
.right-bonus {
    display:        inline-block;
    font-size:      20px;
    vertical-align: middle;
    transform:      translateX(-5px);
}
.to-card {
    display:     block;
    line-height: 40px;
    height:      40px;
    color:       #009688 !important;
    font-weight: bold;
}
.line-bonus {
    background-color: #ccc;
    height:           2px;
    width:            120px;
}
.add-popover {
    width:       250px !important;
    margin-left: 13px !important;
    margin-top:  5px !important;
}
.card-footer a {
    width:      100%;
    display:    block;
    text-align: center;
}
.profile-row {
    text-align: center;
    padding:    10px 10px 30px;

}
.profile-checkbox:after {
    display: none;
}
.profile-checkbox {
    height:    25px !important;
    width:     50px !important;
    transform: translateX(-10px);
}
.push-switch input[type="checkbox"]:checked + .checkbox:before {
    content: 'ВКЛ' !important;
    color:   #fff;
}
.push-switch .checkbox:before {
    content:     'ВЫКЛ';
    font-size:   11px;
    line-height: 26px;
}
.document {
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}

.document div {
    text-align: center;
    margin: 0 auto;
}

.document img {
    max-width:  100%;
    max-height: 180px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.document .fa-file-pdf-o {
    color: darkred;
    font-size: 80px;
}


.md .badge {
    font-size: 15px !important;
}
.comment {
    color: darkred;
}
.margin-top-10 {
    margin-top: 10px !important;
}

.mt-15 {margin-top: 15px;}

.loader {
    margin: 20px auto 5px;
    text-align: center;
}

.preloader {
    margin: 0 auto;
}