<template>
  <f7-page class="addSale">

    <f7-block-title v-if="saleID !== 'null'">Редактирование продажи / покупки</f7-block-title>
    <f7-block-title v-else class="title-page">Регистрация новой продажи / покупки</f7-block-title>

    <f7-card class="margin xs-margin-8">
      <f7-card-content>
        <f7-list>
          <f7-list-item class="sale-table" v-show="productsSelected.length">

            <div v-for="(position, index) in productsSelected" :key="position.listID" class="table-wrap">
              <div class="st-body">
                <div class="st-name">{{position.name}}</div>
                <f7-link @click="DeleteProduct(position.listID)" class="material-icons del-position" color="white">
                  delete_forever
                </f7-link>

              </div>
              <div class="st-footer">
                <div class="st-bonus">
                  <div class="div-slider">
                    <span class="st-title">Цена:</span>
                    <input
                            type="number"
                            value="0"
                            @change.number="setBonuses($event, position)"
                            min="1"
                            max="10000"
                    >
                  </div>
                </div>
                <div class="st-amount">
                  <div class="div-slider">
                    <span class="st-title">Кол-во:</span>
                    <input
                            type="number"
                            v-model="position.quantity"
                            @change="setProductQuantity($event, position)"
                            min="1"
                            max="100"

                    >
                  </div>

                </div>
              </div>
            </div>
          </f7-list-item>

          <f7-list-item v-show="documents.length">
            <div class="chek-wrap">
              <div class="img-check" v-for="(item, index) in documents" :key="item.name">
                <i class="fal fa-times-circle size-24 delete-btn secondary--text" @click="deleteFile(item, index)"></i>
                <div v-if="CheckPDF(item)">
                  <i class="fal fa-file-pdf big-pdf"></i>
                </div>
                <div v-else class="imageUpload">
                  <img v-if="showPhoto(item)" :src="showPhoto(item)"/>
                </div>
              </div>
            </div>
          </f7-list-item>
          <f7-list-item class="select-prod" title="Выберите бренд"
                        smart-select
                        :smart-select-params="{
                          openIn: 'popup',
                          popupCloseLinkText: 'Закрыть',
                          closeOnSelect: true,
                          searchbar: true,
                          searchbarPlaceholder: 'Поиск бренда',
                        }">
            <select name="group" v-model="group">
              <option :value="item.id" v-for="item in groups" :key="item.id">
                {{item.name}}
              </option>
            </select>
          </f7-list-item>
          <f7-list-item class="select-prod" title="Выберите наименование продукта" smart-select
                        :smart-select-params="{
                          openIn: 'popup',
                          popupCloseLinkText: 'Закрыть',
                          closeOnSelect: true,
                          searchbar: true,
                          searchbarPlaceholder: 'Поиск наименование продукта',
                        }">
            <select name="category" v-model="category">
              <option :value="item.id" v-for="item in categories" :key="item.id">
                {{item.name}}
              </option>
            </select>
          </f7-list-item>
          <f7-list-item class="select-prod" title="Выберите продуктовую позицию" smart-select
                        :smart-select-params="{
                          openIn: 'popup',
                          popupCloseLinkText: 'Закрыть',
                          searchbar: true,
                          searchbarPlaceholder: 'Поиск продуктовой позиции',
                          closeOnSelect: true
                        }">
            <select v-model="product" @change="AddProduct($event)">
              <option :value="item.id" v-for="item in products" :key="item.id">
                {{item.name}}
              </option>
            </select>
          </f7-list-item>
          <f7-list-item link="#" @click="PhotoPopup" title="Чек" class="mini-image">
            <i class="fal fa-images size-21" slot="media"></i>
          </f7-list-item>
          <f7-list-item class="calendar-block">
            <div class="calendar-wrap" @click="OpenCalendar">
              <div class="title-ico">
                <i class="fal fa-calendar-alt size-21 margin-right"></i>
                <span>Дата продажи</span>
              </div>
              <input class="calendar-date" type="text" readonly v-model="soldOn" id="calendar-create-sale" placeholder="дд.мм.гггг"/>
            </div>
          </f7-list-item>

          <f7-list-input :value="number" @change="setNumber" type="text" label="Номер"/>

          <f7-list-item class="total-block">
            <i class="far fa-ruble-sign size-21 margin-right"></i>
            <span>Общая стоимость: <b class="size-18">{{sum}}</b></span>
          </f7-list-item>
          <f7-list-item v-if="sale !== null && sale.saleAction !== null" class="total-block">
            <i class="fas fa-hand-holding-usd size-21 margin-right"></i>
            <span v-if="sale.saleAction.status === null">Баллы за продажу: <b class="size-18">{{sale.saleAction.bonuses}}</b></span>
            <span v-else-if="sale.saleAction.status === 'paid'">Начислено балов: <b class="size-18">{{sale.saleAction.bonuses}}</b></span>
          </f7-list-item>
        </f7-list>
      </f7-card-content>
      <div v-if="saleID !== 'null' && showHistory && sale">
        <div v-for="item in sale.history" :key="item.id" class="sale-footer-wrap padding-8">
          <div class="sale-time margin-bottom-8">
            <i class="material-icons margin-right-4">query_builder</i>
            <span>{{item.created_at}}</span>
          </div>
          <div class="sale-note margin-bottom-8">
            <i class="material-icons margin-right-4">autorenew</i>
            <span>{{item.note}}</span>
          </div>
          <div class="sale-comment" v-if="item.comment">
            <i class="material-icons margin-right-4">chat_bubble_outline</i>
            <i>{{item.comment}}</i>
          </div>
        </div>
      </div>
    </f7-card>

    <div class="sales-btn-wrap">
      <div v-if="saleID !== 'null'" class="btn-bottom">
        <f7-button large fill class="size-16 change-arrow" @click="showHistory = !showHistory">
          <span>История</span>
          <i v-if="showHistory === false" class="fal fa-angle-down size-18 margin-left-8"></i>
          <i v-if="showHistory === true" class="fal fa-angle-up size-18 margin-left-8"></i>
        </f7-button>
      </div>
      <div class="btn-bottom">
        <f7-button large fill class="size-16" @click="onSubmit" :disabled="!validation">
          <span>Отправить на проверку</span>
          <i class="fal fa-paper-plane size-18 margin-left-8"></i>
        </f7-button>
      </div>
    </div>

    <f7-actions id="register_document">
      <f7-actions-group>
        <f7-actions-button @click="PhotoCamera">
          <i class="f7-icons inline">camera</i> Сфотографировать
        </f7-actions-button>
        <f7-actions-button @click="PhotoLibrary">
          <i class="f7-icons inline">images</i> Выбрать из галереи
        </f7-actions-button>
      </f7-actions-group>
      <f7-actions-group>
        <f7-actions-button color="red" bold>
          <i class="f7-icons inline">close_round</i> Отмена
        </f7-actions-button>
      </f7-actions-group>
    </f7-actions>
  </f7-page>
</template>

<script src="./AddSale.js"></script>
