<template>
  <f7-page>
    <f7-block-title class="title-page">Акции</f7-block-title>

    <div class="sales-card" v-if="actions.length">
      <f7-card v-for="action in actions" :key="action.id" class="margin-horizontal margin-bottom elevation-4">
        <f7-card-header class="secondary promo-title">{{action.title}}</f7-card-header>
        <f7-card-content>
          <div>{{action.short_description}}</div>
        </f7-card-content>
        <f7-block-footer class="sh-btn padding-vertical-8 padding-horizontal-8 no-margin">
          <f7-button fill class="rounded-0 padding-horizontal" @click="showDesc(action.id)">
            <span>Описание</span>
            <i class="fal fa-angle-down size-16 margin-left-4"></i>
          </f7-button>

          <f7-button fill class="rounded-0 padding-horizontal" @click="addSale(action.id)">
            <i class="fal fa-plus size-16 "></i>
            <span>Добавить продажу / покупку</span>
          </f7-button>
        </f7-block-footer>
        <p class="padding-horizontal padding-bottom" v-if="action.planForAction">План по акции {{ action.planForAction }} руб.</p>
        <div
            v-if="showDescID && (showDescID === action.id)"
            v-html="action.description"
            class="actions__description"
        ></div>
      </f7-card>
    </div>
    <div v-else>
      <f7-block-title>Нет акций для показа</f7-block-title>
    </div>

  </f7-page>
</template>

<script>

  export default {
    data() {
      return {
        description: '',
        showDescID: false,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      actions() {
        return this.$store.state.sales.actions;
      },
    },
    methods: {
      addSale(id) {
        this.$store.dispatch('sales/GetAction', { action_id: id });
        this.$f7.router.app.views.main.router.navigate('/sale/null');
      },
      showDesc(id) {
        const actions = this.actions.filter(item => item.id === id);
        if (this.showDescID === id) {
          this.description = '';
          this.showDescID = false;
        } else {
          this.showDescID = id;
          this.description = actions.length ? actions[0].description : '';
        }
      },
    },
    mounted() {
      this.$store.dispatch('sales/ClearAction');
      this.$store.dispatch('sales/ClearSale');
      this.$store.dispatch('sales/GetActionsList', { profile_id: this.user.profile_id });
    },
  };
</script>
