<template>
  <f7-page>
    <f7-block-title class="title-page">Продажи / покупки</f7-block-title>

    <f7-block>
      <f7-link class="button button-large button-fill size-16" href="/actions/">
        <span>Новая продажа / покупка</span>
        <i class="fal fa-cart-plus size-21"></i>
      </f7-link>
    </f7-block>

    <div class="sales-card" v-if="sales.length">
      <f7-block-title>История продаж / покупок</f7-block-title>
      <f7-card v-for="sale in sales" :key="sale.id" class="sales-card--point">
        <div :class="`border-${getStatusColor(sale.status)} sup-header rounded-top`">
          {{sale.status_label}}
          <span :class="`bg-${getStatusColor(sale.status)} status-point`"></span>
        </div>
        <div class="card-body">
          <f7-card-header class="secondary">
            <div>{{sale.sold_on_local}}</div>
            <div>Номер: <strong>{{sale.number}}</strong></div>
          </f7-card-header>
          <f7-card-content class="history-sales no-padding">
          <div class="hs-head">
            <span class="hs-number">#</span>
            <span class="hs-name">Наименование</span>
            <span class="hs-amount">Кол-во</span>
            <span class="hs-bonus">Цена</span>
          </div>

          <div v-for="(position, index) in sale.positions" :key="position.product_id" class="hs-body">
            <span class="hs-number">{{index + 1}}</span>
            <span class="hs-name">{{position.product.name}}</span>
            <span class="hs-amount">{{position.quantity}}</span>
            <span class="hs-bonus">{{position.bonuses}}</span>
          </div>

          <div class="hs-head">
            <span class="hs-number"></span>
            <span class="hs-name">Общая стоимость:</span>
            <span class="hs-amount"></span>
            <span class="hs-bonus">{{ sale.bonuses }}</span>
          </div>

          <div v-if="sale.saleAction !== null" class="hs-head">
            <span class="hs-number"></span>
            <span v-if="sale.saleAction.status === null" class="hs-name">Баллы за продажу:</span>
            <span v-else-if="sale.saleAction.status === 'paid'" class="hs-name">Начислено балов:</span>
            <span class="hs-amount"></span>
            <span class="hs-bonus">{{ sale.saleAction.bonuses }}</span>
          </div>
        </f7-card-content>
        </div>
        <f7-block-footer class="sh-btn padding-vertical-8 padding-horizontal-8 no-margin">
          <f7-button fill class="rounded-0 padding-horizontal" @click="showHistory(sale.id)">
            <span>История</span>
            <i class="fal fa-angle-down size-16 margin-left-4"></i>
          </f7-button>

          <f7-button v-if="sale.status === 'adminReview' || sale.status === 'draft'"
                     class="rounded-0 padding-horizontal" fill @click="addSale(sale)">
            <i class="fal fa-edit size-16 "></i>
            <span>Редактировать</span>
          </f7-button>
        </f7-block-footer>
        <div
          v-for="item in history"
          :key="item.id"
          v-if="showHistoryID && (showHistoryID === sale.id)"
          class="sale-footer-wrap padding-8">

          <div class="sale-time margin-vertical-4">
            <i class="material-icons margin-right-4 size-21">query_builder</i>
            <span>{{item.created_at}}</span>
          </div>
          <div class="sale-note margin-vertical-4">
            <i class="material-icons margin-right-4 size-21">autorenew</i>
            <span>{{item.note}}</span>
          </div>
          <div class="sale-comment margin-vertical-4" v-if="item.comment">
            <i class="material-icons margin-right-4 size-21">chat_bubble_outline</i>
            <span v-html="item.comment" class="comment-text"></span>
          </div>
        </div>
      </f7-card>
    </div>
    <div v-else>
      <f7-block-title>История продаж / покупок пуста</f7-block-title>
    </div>

  </f7-page>
</template>

<script>

  export default {
    data() {
      return {
        tables: {
          headers: [
            { text: 'Название', value: 'product.name', sortable: false, align: 'left' },
            { text: 'Кол-во', value: 'quantity', sortable: false, align: 'right' },
            { text: 'Цена', value: 'bonuses', sortable: false, align: 'right' },
          ],
        },
        history: [],
        showHistoryID: false,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      sales() {
        return this.$store.state.sales.sales;
      },
    },
    methods: {
      addSale(sale) {
        this.$store.dispatch('sales/GetAction', { action_id: sale.action_id });
        this.$store.dispatch('sales/GetSale', sale.id);
        this.$f7.router.app.views.main.router.navigate(`/sale/${sale.id}`);
      },
      showHistory(id) {
        const sale = this.sales.filter(item => item.id === id);
        this.history = sale.length ? sale[0].history : [];
        this.showHistoryID = (this.showHistoryID !== id) ? id : false;
      },
      getStatusColor(status) {
        switch (status) {
          case 'adminReview': return 'color-yellow';
          case 'draft': return 'color-orange';
          case 'declined': return 'color-red';
          case 'paid': return 'color-green';
          case 'approved': return 'color-green';
          default: return '';
        }
      },
    },
    mounted() {
      this.$store.dispatch('sales/ClearAction');
      this.$store.dispatch('sales/ClearSale');
      this.$store.dispatch('sales/GetSalesList', { profile_id: this.user.profile_id });
    },
  };
</script>
