<template>
  <f7-page name="geo">
    <f7-navbar back-link="Back"></f7-navbar>

    <f7-toolbar tabbar position="top">
      <f7-link tab-link="#tab_geo_photo" tab-link-active>Сделать фото</f7-link>
      <f7-link tab-link="#tab_geo_history">История</f7-link>
    </f7-toolbar>

    <f7-block-title class="title-page">Фото с геометкой</f7-block-title>

    <f7-tabs>
      <f7-tab id="tab_geo_photo" tab-active>
        <f7-block class="bg-color-white margin no-margin-top no-padding">
          <f7-card-header>
            <f7-button @click="TakePhoto" class="text-color-white padding-horizontal" fill color="green">
              <i class="fal fa-camera size-18 margin-right-4"></i>
              <span>Сделать фото</span>
            </f7-button>
          </f7-card-header>
          <f7-card-content>
            <div class="avatar"><img id="geo-img" height="100px"></div>
          </f7-card-content>
          <f7-card-footer>
            <div>Геометка: <b class="size-16">{{location.lat}}, {{location.long}}</b></div>
          </f7-card-footer>
        </f7-block>

        <f7-block-footer class="margin-vertical">
          <f7-button @click="SendPhoto" large fill class="size-16 " :disabled="!photo_base64">
            <span>Отправить</span>
            <i class="fal fa-paper-plane size-18 margin-left-4"></i>
          </f7-button>
        </f7-block-footer>
      </f7-tab>

      <f7-tab id="tab_geo_history">
        <f7-block class="bg-color-white margin no-margin-top no-padding">
          <f7-card-header v-if="!photos[0]">История пуста!</f7-card-header>
          <div v-for="element in photos" :key="element.created_at">
            <f7-card-header>{{element.created_at}}</f7-card-header>
            <f7-card-content>
              <div class="timeline-item-title"><div class="avatar"><img v-bind:src="element.file_url" height="100px"></div></div>
            </f7-card-content>
            <f7-card-footer>
              <div><b class="size-16">{{element.latitude}}, {{element.longitude}}</b></div>
            </f7-card-footer>
          </div>
        </f7-block>
      </f7-tab>
    </f7-tabs>

  </f7-page>
</template>

<script>
  export default {
    data() {
      return {
        photos: [],
        location: { lat: 0, long: 0 },
        photo_base64: '',
        REST_URL: this.$root.REST_URL,
        STORAGE_ID: this.$root.STORAGE_ID,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
    },
    methods: {
      TakePhoto() {
        const app = this;
        navigator.camera.getPicture(
          (imageData) => {
            app.SetPhoto(imageData);
          }, (error) => {
            console.log('photo error', error);
          },
          {
            destinationType: Camera.DestinationType.DATA_URL,
            sourceType: Camera.PictureSourceType.CAMERA,
          },
        );
      },
      SetPhoto(img) {
        const app = this;
        const image = document.getElementById('geo-img');
        image.src = `data:image/jpg;base64,${img}`;
        this.photo_base64 = img;
        navigator.geolocation.getCurrentPosition((position) => {
          app.location = {
            lat: position.coords.latitude,
            long: position.coords.longitude,
          };
        }, () => {});
      },
      SendPhoto() {
        const app = this;
        const payload = {
          profile_id: this.user.profile_id,
          type: 'jpg',
          latitude: app.location.lat,
          longitude: app.location.long,
          image: app.photo_base64,
        };
        app.$store.getters.axl.post('pictures/api/pictures/load-image', payload)
          .then((response) => {
            console.log(response.data);
            app.$f7.dialog.alert('Фото загружено!');
            this.GetPhotos();
            this.ClearPhoto();
          })
          .catch((error) => {
            app.$store.dispatch('HandleError', error);
          });
      },
      ClearPhoto() {
        this.location = { lat: 0, long: 0 };
        this.photo_base64 = '';
        const image = document.getElementById('geo-img');
        image.src = '';
      },
      GetPhotos() {
        const app = this;
        app.$store.getters.ax.post('pictures/api/pictures/list', {
          profile_id: this.user.profile_id,
        }).then((response) => {
          app.photos = response.data.pictures || [];
        });
      },
    },
    mounted() {
      this.user && this.GetPhotos();
    },
  };
</script>
