<template>
  <v-container fluid fill-height pa-0>
    <v-layout row wrap max>
      <v-flex v-if="faq.length" lg6 xs12 mb-3>
        <v-card>
          <v-card-title class="primary">Часто задаваемые вопросы</v-card-title>
          <v-expansion-panel>
            <v-expansion-panel-content v-for="(item,i) in faq" :key="i">
              <div slot="header">{{item.question}}</div>
              <v-card>
                <v-card-text v-html="item.answer"></v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-card>
      </v-flex>

      <v-flex :class="faq.length ? 'lg4 offset-lg1 md5 offset-md1 xs12' : 'lg6 offset-lg3 md8 offset-md2 xs12'">
        <v-card>
          <v-card-title class="primary">
            <h3 class="headline mb-0">Обратная связь</h3>
          </v-card-title>
          <v-card-text>
            <v-form @submit.prevent="FeedbackSubmit" autocomplete="off" ref="feedbackForm" validation v-model="valid">
              <v-text-field type="text" label="Имя" id="name" v-model="name" :rules="[rules.required]"
                            required></v-text-field>
              <v-text-field type="text" label="E-mail" id="email" v-model="email" :rules="[rules.required, rules.email]"
                            required></v-text-field>
              <v-text-field type="text" label="Телефон" id="phone" v-model="phone" v-mask="'+7 (###) ###-####'" required
                            :rules="[rules.required, rules.phoneLength]"></v-text-field>
              <v-select v-if="categories_options.length" :items="categories_options" v-model="category"
                        label="Категории вопросов" :disabled="categories_options.length === 1"></v-select>
              <v-textarea class="message" v-model="message" pa-5 box background-color="white" :rules="[rules.required]"
                          label="Сообщение" rows="3" autofocus></v-textarea>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-layout row max v-if="documents.length">
                    <div v-for="(item, index) in documents" :key="index" class="filePreview flex xs6 md3 mr-2">
                      <v-icon class="close" @click="HandleDeleteFile(item, index)">
                        control_point
                      </v-icon>
                      <span v-if="CheckPDF(item)">
                        <font-awesome-icon icon="file-pdf" class="middle-pdf pa-1"/>
                      </span>
                      <div v-else class="file">
                        <img v-if="GetFilePath(item)" :src="GetFilePath(item)"/>
                      </div>
                    </div>
                  </v-layout>
                  <div v-if="documents.length < 5">
                    <v-text-field label="Изображение или PDF файл" @click='PickDocument' v-model='document.name'
                                  prepend-icon='attach_file' readonly></v-text-field>
                    <input type="file" style="display: none" ref="document" accept="image/*, application/pdf"
                           @change="OnDocument">
                  </div>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card-text>
          <v-card-actions class="pa-3 justify-space-between">
            <v-btn type="submit" :disabled="loading || !valid" @click="FeedbackSubmit">
              <span>Отправить</span>
              <font-awesome-icon icon="paper-plane" class="size-16 ml-1"/>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

  export default {
    data() {
      return {
        categories_options: [],
        category: '',
        faq: [],
        documents: [],
        document: {
          name: '',
          file: '',
          url: '',
        },
        valid: false,
        name: '',
        email: '',
        phone: '',
        message: '',
        rules: {
          required: value => !!value || 'Поле должно быть заполнено',
          phoneLength: value => (!value || value.length >= 17) || 'Номер телефона заполнен не полностью',
          email: value => pattern.test(value) || 'Поле E-mail заполнено с ошибками',
        },
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      },
      loading() {
        return this.$store.state.loading;
      },
      isEnabled() {
        return !!this.name && !!this.email && !!this.phone && !!this.message;
      },
    },
    methods: {
      GetFeedbackCategories() {
        const app = this;
        app.$store.getters.ax.post('feedback/api/feedback/feedback-categories')
          .then((response) => {
            if (response.data.categories) {
              app.categories = response.data.categories;
              app.categories_options = app.SetFormThemes(response.data.categories);
              app.category = response.data.categories.length ? response.data.categories[0].name : '';
            }
          });
      },
      SetFormThemes(category) {
        return category.map(item => item.name);
      },
      CheckPDF(item) {
        return item.url && (item.url.indexOf('/pdf;') !== -1);
      },
      GetFilePath(item) {
        if (item.url || item.file) {
          return item.url ? item.url : item.file;
        }
        return '';
      },
      GetCategoryID() {
        const arr = this.categories.filter(item => item.name === this.category);
        return arr[0].id;
      },
      HandleDeleteFile(item, index) {
        item.name === this.documents[index].name && this.documents.splice(index, 1);
      },
      PickDocument() {
        this.$refs.document.click();
      },
      OnDocument(e) {
        this.OnFilePicked(e);
      },
      OnFilePicked(e) {
        const app = this;
        const { files } = e.target;
        if (files[0] !== undefined) {
          const [file] = files;
          if (file.name.lastIndexOf('.') <= 0) {
            return;
          }
          app.document.name = file.name;

          const fr = new FileReader();
          fr.readAsDataURL(file);
          fr.addEventListener('load', () => {
            app.document.file = null;
            app.document.url = fr.result;
            app.documents.push(app.document);
            app.document = { file: '', url: '', name: '' };
            app.$forceUpdate();
          });
        } else {
          app.document = { file: '', url: '', name: '' };
        }
      },
      GetFaq() {
        const app = this;
        app.$store.getters.ax.post('feedback/api/feedback/faq')
          .then((response) => {
            app.faq = response.data.faq.filter(item => item.is_published);
          });
      },
      FeedbackSubmit() {
        const app = this;
        if (app.$refs.feedbackForm.validate()) {
          const feedback = {
            name: app.name,
            email: app.email,
            phone_mobile_local: app.phone,
            content: app.message,
          };
          if (app.isAuthenticated) {
            feedback.profile_id = app.user.profile_id;
          }
          if (app.documents.length) {
            feedback.documents = app.documents;
          }
          feedback.category_id = app.category ? app.getCategoryID() : null;

          app.$store.getters.axl.post('feedback/api/feedback/feedback', feedback)
            .then(() => {
              app.$router.push(app.isAuthenticated ? '/dashboard' : '/');
              app.ResetForm();
              app.$store.dispatch('ShowInfo', 'Ваше сообщение успешно отправлено');
            })
            .catch((error) => {
              app.$store.dispatch('HandleError', error);
            });
        }
      },
      ResetForm() {
        this.name = '';
        this.phone = '';
        this.email = '';
        this.message = '';
      },
    },
    mounted() {
      this.GetFaq();
      this.GetFeedbackCategories();
      if (this.isAuthenticated) {
        this.name = this.user.full_name;
        this.email = this.user.email;
        this.phone = this.user.phone_mobile;
      }
    },
  };
</script>
