<template>
  <f7-page class="feedback">
    <f7-block>
      <f7-block-title class="title-page">Помощь</f7-block-title>

      <f7-list form class="bg-color-white elevation-2 form-rounded padding-top">
        <f7-list-input :value="user.full_name" type="text" label="Имя" id="name" pattern="[а-яА-Яё ]*" required validate
                       @input="setFieldValue($event, 'name', validate, {pattern: /[А-Яа-яё ]+$/i})"/>
        <f7-list-input :value="user.phone_mobile" v-mask="'+7 (###) ###-####'"
                       @input="setFieldValue($event, 'phone', validate, {length: 17})" type="tel" autocomplete="off"
                       label="Телефон" required validate/>
        <f7-list-input :value="user.email" type="email" autocomplete="off" label="E-mail адрес" required validate
                       pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                       @input="setFieldValue($event, 'email', validate, {pattern: /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/})"/>

        <f7-list-item
          title="Тема вопроса"
          smart-select
          :smart-select-params="{openIn: 'popup', closeOnSelect: true, popupCloseLinkText: 'Закрыть'}"
          class="padding-right"
        >
          <select @change="setFieldValue($event, 'category', validate, false)" name="category" :value="category"
                  required validate>
            <option v-for="category in categories" :key="category.id" :value="category.id">
              {{category.name}}
            </option>
          </select>
        </f7-list-item>
        <f7-list-input :value="message" type="textarea" autocomplete="off" label="Сообщение" required validate
                       @input="setFieldValue($event, 'message', validate, false)"/>
      </f7-list>
      <f7-button large fill class="size-16 margin-top" @click="sendForm">
        <span>Задать вопрос</span>
        <i class="fal fa-question-circle menu-icon margin-left-4 size-21"></i>
      </f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
  export default {
    data() {
      return {
        isValid: false,
        name: '',
        phone: '',
        email: '',
        message: '',
        categories: [],
        category: '',
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
    },
    methods: {
      /**
       * Метод проверки валидности полей и добавления пользовательских значений в форму.
       * @param e объект поля.
       * @param fieldName имя поля в стэйте в которое добавляется значение.
       * @param validation колбэк функция проверяющая валидность полей данного таба
       *        (validateStep1, validateStep2, validateAll).
       * @param rules правила для валидации текстовых полей
       *        (length - минимальная длина, pattern - регулярки).
       */
      setFieldValue(e, fieldName, validation, rules) {
        if (rules === false) {
          this.$data[fieldName] = e.target.value;
        } else if (rules.length) {
          this.$data[fieldName] = (e.target.value.length >= rules.length) ? e.target.value : '';
        } else if (rules.pattern) {
          this.$data[fieldName] = rules.pattern.test(e.target.value) ? e.target.value : '';
        }
        validation && validation();
      },
      /** Валидация формы. */
      validate() {
        this.isValid = !!(
          this.name
          && this.phone
          && this.email
          && this.message
          && this.category
        );
      },
      /** Получение списка вопросов для обращения. */
      getCategories() {
        const app = this;
        app.$store.getters.ax.post('feedback/api/feedback/feedback-categories')
          .then((response) => {
            app.categories = response.data.categories;
          });
      },
      /** отпрвка формы обратной связи. */
      sendForm() {
        if (this.isValid) {
          const app = this;
          const feedback = {
            profile_id: app.user.profile_id,
            category_id: app.category,
            name: app.name,
            phone_mobile_local: app.phone,
            email: app.email,
            content: app.message,
          };
          app.$store.getters.axl.post('feedback/api/feedback/feedback', feedback)
            .then(() => {
              app.$f7.router.app.views.main.router.navigate('/dashboard/');
              app.$f7.dialog.alert('Ваш вопрос отправлен!');
            })
            .catch((error) => {
              app.$store.dispatch('HandleError', error);
            });
        }
      },
    },
    mounted() {
      this.getCategories();
    },
  };
</script>
