<template>
  <f7-page class="bg-color-whitesmoke">

    <f7-block-header class="bg-color-vine panel-left--user padding-bottom no-margin">
      <img src="~assets/images/logo_tikkurila.jpg" alt="" class="panel-left--logo margin-bottom"/>
      <span class="name">{{user ? user.first_name : ''}} {{user ? user.last_name : ''}}</span>
      <span class="mail">{{user ? user.email : '' }}</span>
    </f7-block-header>

    <f7-list class="menu-list">
      <f7-list-item
        v-for="link in menuLinks"
        :key="link.title"
        :link="link.path"
        :title="link.title"
        panel-close
        :external="link.external"
        :class="link.accent ? 'menu-accent' : ''">
        <i slot="content-start" :class="`${link.icon} menu-icon margin-right size-24`"></i>
      </f7-list-item>
      <f7-list-item link="/logout/" title="Выход"  panel-close>
        <i slot="content-start" class="menu-icon margin-right fal fa-sign-out-alt size-24"></i>
      </f7-list-item>
    </f7-list>

  </f7-page>
</template>


<script>
  export default {
    computed: {
      user() {
        return this.$store.state.user;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      },
      isAdminChecked() {
        return this.$store.getters.isAdminChecked;
      },
      hasClubcard() {
        return this.$store.getters.hasClubcard;
      },
      news() {
        return this.$store.state.settings.news === true;
      },
      instructions() {
        return this.$store.state.settings.instructions === true;
      },
      sales() {
        return this.$store.state.settings.sales === true;
      },
      courses() {
        return this.$store.state.settings.courses === true;
      },
      notifications() {
        return this.$store.state.settings.module_notifications === true;
      },
      tickets() {
        return this.$store.state.settings.module_tickets === true;
      },
      menuLinks() {
        if (this.isAuthenticated && (this.isAdminChecked || this.hasClubcard)) {
          const menu = [];
          this.sales && menu.push({ title: 'Продажи / покупки', path: '/sales/', icon: 'fal fa-shopping-cart', accent: true });
          // menu.push({ title: 'Призы', path: '/eps/', icon: 'fal fa-file-certificate' });
          // menu.push({ title: 'Правила', path: '/rules/', icon: 'fal fa-clipboard-list' });
          // menu.push({ title: 'Платежи', path: '/payments/', icon: 'fal fa-ruble-sign' });
          menu.push({ title: 'Профиль', path: '/dashboard/', icon: 'fal fa-user-circle' });
          this.tickets && menu.push({ title: 'Обращения', path: '/tickets/', icon: 'fal fa-comments' });
          this.notifications && menu.push({ title: 'Уведомления', path: '/notifications/', icon: 'fal fa-bell' });
          this.news && menu.push({ title: 'Новости', path: '/news/', icon: 'fal fa-newspaper' });
          menu.push({ title: 'Горячая линия', path: 'tel:88005008246', icon: 'fal fa-phone', external: true });
          this.instructions && menu.push({ title: 'Инструкции', path: '/instructions/', icon: 'fal fa-chalkboard-teacher' });
          menu.push({ title: 'Помощь', path: '/feedback/', icon: 'fal fa-question-circle' });
          // menu.push({ title: 'Оповещения', path: '/push/', icon: 'fal fa-exclamation-circle' });
          return menu;
        }
        return [];
      },
    },
    mounted() {
      if (this.isAuthenticated) {
        this.$store.dispatch('GetProfile');
        this.$store.dispatch('FirebaseRegisterDevice');
        this.$store.dispatch('FirebaseOnNotification');
      }
    },
  };
</script>
