<template>
  <f7-page name="rules" class="rules">
    <f7-block v-if="rules">
      <f7-block-title class="title-page">{{rules.title}}</f7-block-title>
      <f7-row class="bg-color-white padding">
        <f7-col class="news__content" width="100">
          <div class="news__date">{{rules.created_ad}}</div>
          <div class="news__text" v-html="rules.content"></div>
        </f7-col>
      </f7-row>
    </f7-block>
  </f7-page>
</template>

<script>
  export default {
    name: 'Rules',
    data() {
      return {
        rules: null,
      };
    },
    methods: {
      /** Получение списка вопросов для обращения. */
      getRules() {
        const app = this;
        app.$store.getters.ax.post('/pages/api/pages', { url: 'rules' })
          .then((response) => {
            app.rules = response.data.page;
          });
      },
    },
    mounted() {
      this.getRules();
    },
  };
</script>
