<template>
  <v-container fluid fill-height pa-0>
    <v-layout max row wrap class="mobileNotifications">
      <v-flex xs12 mb-4 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary">
            <h3 class="headline mb-0">Уведомления</h3>
          </v-card-title>
          <v-list v-if="hasNotifications" three-line>
            <template v-for="item in notifications">
              <v-list-tile :key="item.id" avatar :class="`mobileNotifications__item ${item.readed ? 'readed' : ''}`">
                <v-list-tile-avatar>
                  <v-img v-if="item.icon_url" :src="item.icon_url"></v-img>
                  <font-awesome-icon v-else-if="item.fa" :icon="item.fa" class="size-18 secondary--text"/>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{item.title}}</v-list-tile-title>
                  <v-list-tile-sub-title>
                    <div v-html="item.body"></div>
                  </v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action class="mobileNotifications__date">
                  <v-list-tile-action-text>{{ item.created_at }}</v-list-tile-action-text>
                </v-list-tile-action>
              </v-list-tile>
            </template>
          </v-list>
          <v-card-text v-else>
            Уведомления отсутствуют
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data() {
      return {};
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      notifications() {
        return this.$store.state.mobileNotifications.notificationsList;
      },
      hasNotifications() {
        return this.$store.state.mobileNotifications.hasNotifications;
      },
    },
    created() {
      this.user && this.$store.dispatch('mobileNotifications/GetNotifications', this.user.profile_id);
    },
    beforeDestroy() {
      this.user && this.$store.dispatch('mobileNotifications/GetNotifications', this.user.profile_id);
    },
    updated() {
      this.$nextTick(() => {
        this.hasNotifications && this.user && this.$store.dispatch('mobileNotifications/setNotificationsRead', {
          profile_id: this.user.profile_id,
          notification_ids: this.notifications.map(item => item.id),
        });
      });
    },
  };
</script>
