<template>
  <f7-page name="scan" toolbar-fixed>
    <f7-block>
      <f7-button @click="Scan" large fill class="size-16">
        <span>Сканировать</span>
        <i class="fal fa-scanner size-21 margin-left-8"></i>
      </f7-button>
    </f7-block>
    <f7-card v-show="scan_code[0]" class="margin-horizontal scan__card">
      <f7-card-header>Отсканированные коды:</f7-card-header>
      <f7-card-content class="scan__card--list">
        <div v-for="element in scan_code" :key="element" class="scan__card--point">
        {{element}}
      </div>
      </f7-card-content>
    </f7-card>

  </f7-page>
</template>

<script>
  export default {
    data() {
      return {
        scan_code: [],
        REST_URL: this.$root.REST_URL,
        STORAGE_ID: this.$root.STORAGE_ID,
        http: this.$root.$http,
        user: this.$store.state.user.profile_info,
      };
    },
    methods: {
      Scan() {
        // this.$f7.showIndicator();
        const app = this;
        cordova.plugins.barcodeScanner.scan((result) => {
          app.scan_code.unshift(result.text);
        }, (error) => {
          app.$f7.alert(`Ошибка сканирования: ${error}`);
        }, {
          showTorchButton: true,
          torchOn: false,
          saveHistory: true,
          prompt: 'Поместите штрихкод в центральную область',
          resultDisplayDuration: 0,
        });
      },
    },
  };
</script>
