<template>
  <f7-page>

    <div v-if="user && isAuthenticated" class="user-info">

      <div class="user-info--head secondary margin-horizontal margin-top">
        <f7-block-header class="no-margin">
          <f7-icon f7="person_fill" v-if="!user.avatar_url"></f7-icon>
          <img v-else :src="user.avatar_url">
        </f7-block-header>

        <div class="user-name">{{user.full_name ? user.full_name : user.first_name + user.last_name}}</div>
      </div>
      <f7-list class="bg-color-white margin-horizontal no-margin-top lk-list">
        <f7-list-item title="Бонусный баланс в рублях:" :after="`${user.balance ? user.balance : '0'}`" class="user-balance"></f7-list-item>
        <f7-list-item title="Фамилия:" :after="user.last_name"></f7-list-item>
        <f7-list-item title="Имя:" :after="user.first_name"></f7-list-item>
        <f7-list-item title="Отчество:" :after="user.middle_name"></f7-list-item>
        <f7-list-item title="Телефон:" :after="user.phone_mobile"></f7-list-item>
        <f7-list-item title="E-mail:" :after="user.email"></f7-list-item>
        <f7-list-item title="Город:" :after="user.city_local" class="long-string"></f7-list-item>
        <f7-list-item v-if="user.work_place" title="Место работы:" :after="user.work_place" class="long-string"></f7-list-item>
      </f7-list>

      <div class="user-info--head secondary margin-horizontal margin-top padding-left">
        <div class="user-name">Акции</div>
      </div>
      <f7-list class="bg-color-white margin-horizontal no-margin-top lk-list">
        <f7-list-item title="Всего акций:" link="/actions/"
                      :after="actions.length || '0'" class="user-balance"
        ></f7-list-item>
      </f7-list>

      <div class="user-info--head secondary margin-horizontal margin-top padding-left">
        <div class="user-name">Призы / платежи</div>
      </div>
      <f7-list class="bg-color-white margin-horizontal no-margin-top lk-list">
        <f7-list-item title="Всего призов:" link="/eps/"
                      :after="cards.length || '0'" class="user-balance"
        ></f7-list-item>
        <f7-list-item title="Всего заказов:" link="/eps/"
                      :after="epsOrders.length || '0'" class="user-balance"></f7-list-item>
        <f7-list-item title="Платежи:" link="/payments/"
                      :after="payments.length || '0'" class="user-balance"></f7-list-item>
      </f7-list>

      <div class="user-info--head secondary margin-horizontal margin-top padding-left">
        <div class="user-name">Продажи / покупки</div>
      </div>
      <f7-list class="bg-color-white margin-horizontal no-margin-top lk-list">
        <f7-list-item title="Всего продаж / покупок:" link="/sales/"
                      :after="salesList.length || '0'" class="user-balance"></f7-list-item>
      </f7-list>

      <f7-block style="height:20px"></f7-block>
    </div>

  </f7-page>
</template>

<script>
  export default {
    data() {
      return {};
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      },
      sales() {
        return this.$store.state.settings.sales === true;
      },
      tickets() {
        return this.$store.state.settings.module_tickets === true;
      },
      cards() {
        return this.$store.state.eps.cards;
      },
      salesList() {
        return this.$store.state.sales.sales;
      },
      epsOrders() {
        return this.$store.state.eps.orders;
      },
      payments() {
        return this.$store.state.payments.payments;
      },
      actions() {
        return this.$store.state.sales.actions;
      },
    },
    created() {
      this.$store.dispatch('GetProfile');
      if (this.user) {
        this.$store.dispatch('eps/GetEpsCards');
        this.$store.dispatch('eps/GetEpsOrders', this.user.profile_id);
        this.$store.dispatch('payments/GetPayments', this.user.profile_id);
        this.$store.dispatch('sales/GetSalesList', { profile_id: this.user.profile_id });
        this.$store.dispatch('sales/GetActionsList', { profile_id: this.user.profile_id });
      }
    },
  };
</script>
