.panel-left {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)!important;

  &--logo{
    width: 64px;
    height: 64px;
  }

  &--user{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .name,
    .mail{
      color: #fff;
    }

    + .list{
      margin-top: 0!important;
    }
  }
}

.user-head {
  display: flex;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
  height: 56px;

  .link {
    color: #fff;
    display: flex;
    justify-content: flex-end;

    > span {
      margin-top: 2px;
    }
  }
}

.user-avatar {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 31px;
  height: 31px;
}

.menu-list {
  .item-inner {
    background: none !important;
    padding-right: 16px !important;
  }
}

.popoverInfo {
  text-align: center;
}

.info-login {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.menu-list {
  .item-content {
    display: flex;
    align-items: center;
  }

  .item-link {
    &:after,
    &:before {
      content: '';
      position: absolute;
      display: block;
      z-index: 15;
      top: auto;
      right: auto;
      left: 0;
      height: 1px;
      width: 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
    }

    &:after {
      background-color: rgba(255, 255, 255, 0.2);
      bottom: 0;
    }

    &:before {
      background-color: rgba(0, 0, 0, 0.07);
      bottom: 1px;
    }
  }

  .menu-icon {
    width: 40px;
    text-align: center;
  }

  li {
    &.split {
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);

      .item-link {
        &:after {
          display: none;
        }
      }
    }

    &.new {
      .item-title {
        position: relative;
        overflow: visible;

        &:before {
          content: 'new';
          position: absolute;
          left: calc(100% + 8px);
          top: -5px;
          font-size: 0.8rem;
        }
      }
    }
  }

  &.list .item-inner:after {
    display: none;
  }
}

.authenticated-false {
  .view-main {
    margin-left: 0 !important;
  }

  .panel-backdrop {
    display: none !important;
  }
}


@media (min-width: 768px) {
  .user-head {
    height: 64px;
  }
}