<template>
  <v-container fluid fill-height pa-0>
    <v-layout max row wrap col-2>

      <v-flex md7>
        <v-card>
          <v-card-title class="secondary">Корзина</v-card-title>
          <v-card-text>
            <div v-for="(card, cardType) in cart" :key="cardType">
              <v-layout v-for="(qty, nominal) in card" v-if="nominal !== 'card'" :key="nominal" row wrap>
                <v-flex md7 xs12 pr-4>
                  <v-text-field type="text" placeholder="" :value="GetCardTitle(nominal, cardType)" readonly
                                persistent-hint :hint="GetCardHint(nominal, cardType)"></v-text-field>
                </v-flex>
                <v-flex md2 xs6 pr-4>
                  <v-text-field type="number" label="Кол-во" placeholder="" required v-model="cart[cardType][nominal]"
                                @click="ChangeQty(cardType, nominal, cart[cardType][nominal])"
                                @keyup="ChangeQty(cardType, nominal, cart[cardType][nominal])"></v-text-field>
                </v-flex>
                <v-flex md2 xs5 pr-4>
                  <v-text-field type="text" placeholder="" label="Итого" :value="nominal * qty" readonly></v-text-field>
                </v-flex>
                <v-flex md1 xs1>
                  <v-icon class="size-30 remove-card" color="#ed1b24" @click="RemoveCard(cardType, nominal)">
                    delete_forever
                  </v-icon>
                </v-flex>
              </v-layout>
            </div>

            <v-layout row wrap pt-3 v-if="cartLength">
              <v-flex xs12 md8>
                <h3>Мой баланс: {{user.balance}}</h3>
              </v-flex>
              <v-flex xs12 md4>
                <h3>Общая сумма: {{cartSummary}}</h3>
              </v-flex>
            </v-layout>
            <v-layout v-else>
              <h3>Нет позиций</h3>
            </v-layout>

          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex md5 v-if="cartLength">
        <v-card>
          <v-card-title class="secondary">Оформление заказа</v-card-title>
          <v-card-text>
            <div v-if="this.$store.state.settings.taxes === true && !userHasPassport">
              <div class="mb-3">Для заказа призов необходимо заполнить Анкету НДФЛ и дождаться подтверждения анкеты
                модератором сайта</div>
              <v-btn to="/passport" class="mx-0">
                <font-awesome-icon icon="clipboard-list" class="size-18 mr-2"/>
                <span>Заполнить</span>
              </v-btn>
            </div>
            <div v-else>
              <form @submit.prevent="SendOrder" autocomplete="off">
                <v-text-field type="text" label="Эл. почта для получения сертификата" v-model="form.delivery_email"
                              required></v-text-field>

                <div v-if="hasPlastic" class="v-input v-text-field theme--light">
                  <div class="v-input__control">
                    <div class="v-input__slot">
                      <div class="v-text-field__slot">
                        <label aria-hidden="true" class="v-label v-label--active theme--light"
                               style="left: 0px; right: auto; position: absolute;">Адрес доставки</label>
                        <el-autocomplete v-model="form.delivery_address" :fetch-suggestions="AutocompleteSearch"
                                         @select="AutocompleteSelect" placeholder="Москва, Тверской б-р, д 9"
                                         :trigger-on-focus="false" id="delivery-address" required></el-autocomplete>
                      </div>
                    </div>
                    <div class="v-text-field__details">
                      <div class="v-messages theme--light">
                        <div class="v-messages__wrapper"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <v-layout row>
                  <v-flex>
                    <v-checkbox
                            @change="checkbox = !checkbox"
                            class="mt-0 align-start"
                            id="cart-allow-cancel"
                            v-model="form.is_allow_cancel"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex>
                    <label for="cart-allow-cancel" class="sm-label">
                      Я уверен в своем заказе и хочу сразу отправить его на обработку.
                      Я понимаю, что его нельзя будет отменить.
                      (Вы&nbsp;получите данный заказ быстрее)
                    </label>
                  </v-flex>
                </v-layout>

                <v-card-actions class="pa-0">
                  <v-btn v-if="!checkbox" type="submit" :disabled="loading">Заказать</v-btn>
                  <v-btn v-else type="submit" :disabled="loading">Получить быстрее</v-btn>
                </v-card-actions>
              </form>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-dialog v-model="dialogOrdered" width="500">
        <v-card>
          <v-card-text>
            <h2>Заказ оформлен!</h2>
            <div>В течение 5 дней сертификаты придут на указанную почту</div>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="GoToOrders">Продолжить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        dialogOrdered: false,
        checkbox: false,
        form: {
          delivery_email: this.$store.state.user.email,
          delivery_address: '',
          is_allow_cancel: false,
        },
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      userHasPassport() {
        return this.user && this.user.account && this.user.account.status === 'approved';
      },
      loading() {
        return this.$store.state.loading;
      },
      cart() {
        return this.$store.state.eps.cart;
      },
      cartSummary() {
        return this.$store.state.eps.cartSummary;
      },
      cartLength() {
        return this.$store.state.eps.cartLength;
      },
      cards() {
        return this.$store.state.eps.cards;
      },
      hasPlastic() {
        let hasPlastic = false;
        Object.keys(this.cart).forEach((cardType) => {
          for (let i = 0; i < this.cards.length; i += 1) {
            if (this.cards[i].type === cardType && this.cards[i].is_plastic) {
              hasPlastic = true;
            }
          }
        });
        return hasPlastic;
      },
    },
    mounted() {
      this.dialogOrdered = false;
      this.form.is_allow_cancel = false;
      this.form.delivery_email = this.$store.state.user.email;
      this.form.delivery_address = '';
      this.$store.dispatch('GetProfile');
      this.$store.dispatch('eps/GetCards');
    },
    methods: {
      GetCard(cardType) {
        for (let i = 0; i < this.cards.length; i += 1) {
          if (this.cards[i].type === cardType) {
            return this.cards[i];
          }
        }
        return null;
      },
      GetCardTitle(price, cardType) {
        const card = this.GetCard(cardType);
        let text = card.title;
        for (let i = 0; i < card.nominals_text.length; i += 1) {
          if (card.nominals_text[i].price === parseInt(price, 10)) {
            text = `${text} ${card.nominals_text[i].nominal}`;
          }
        }
        return text;
      },
      GetCardHint(price, cardType) {
        const card = this.GetCard(cardType);
        for (let i = 0; i < card.nominals_text.length; i += 1) {
          if (card.nominals_text[i].price === parseInt(price, 10)) {
            return `${card.nominals_text[i].text}`;
          }
        }
        return '';
      },
      ChangeQty(cardType, nominal, qty) {
        if (qty <= 0) {
          this.RemoveCard(cardType, nominal);
          return;
        }
        this.$store.dispatch('eps/ChangeQty', { cardType, nominal, qty });
      },
      RemoveCard(cardType, nominal) {
        this.$store.dispatch('eps/RemoveCard', { cardType, nominal });
      },
      SendOrder() {
        const app = this;
        const formData = app.form;
        formData.profile_id = app.user.profile_id;
        formData.items = app.$store.getters['eps/cartItems'];

        app.$store.getters.axl.post('catalog/api-v3/orders/create', formData)
          .then(() => {
            app.dialogOrdered = true;
            app.$store.dispatch('GetProfile', app.user.profile_id);
            app.$store.dispatch('eps/GetOrders', app.user.profile_id);
            app.$store.dispatch('eps/ClearCart');
          })
          .catch((error) => {
            app.$store.dispatch('HandleError', error);
          });
      },
      GoToOrders() {
        this.$router.push('/orders');
      },
      AutocompleteSearch(queryString, cb) {
        if (!queryString) return;
        const app = this;
        const info = { count: 20, query: queryString };
        const config = {
          headers: {
            Accept: 'application/json, text/javascript, */*; q=0.01',
            Authorization: 'Token 7a77efb8ab6dae6e380c7e438b85360185660f34',
            'Content-Type': 'application/json',
          },
        };

        axios.post('https://dadata.ru/api/v2/suggest/address', info, config)
          .then((res) => {
            app.suggestions = res.data.suggestions;
            cb(app.suggestions);
          })
          .catch((err) => {
            console.log(err);
          });
      },
      AutocompleteSelect(item) {
        this.suggestions.forEach((sug) => {
          if (sug.value === item.value) {
            this.form.address_data = sug.data;
            document.getElementById('delivery-address').focus();
          }
        });
      },
    },
  };
</script>

<style lang="scss" scoped>
  .remove-card {
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;
    margin-bottom: -25px;
  }
</style>