<template>
  <v-container fluid fill-height pa-0>
    <v-layout max row wrap>

      <v-flex xs12 lg8 offset-lg2 mb-4>
        <v-card class="card">

          <v-card-title class="primary">
            <h3 class="headline">Подарочный сертифткат: {{card.title}}</h3>
          </v-card-title>

          <div class="card-box">
            <v-layout max row wrap class="pa-3 pb-0">
              <v-flex xs12 sm4>
                <v-img :src="card.image" aspect-ratio="1.8" class="card-box-img"></v-img>
              </v-flex>
              <v-flex xs12 sm8 class="pl-3 card-description">
                <div v-html="card.description"></div>
              </v-flex>
            </v-layout>
          </div>

          <v-card-actions class="px-3">
            <v-layout row wrap>

              <v-flex xs6 md4>
                <v-select
                  :items="card.nominals_text"
                  :id="'select-card-' + card.id"
                  :hint="cardHint"
                  v-model="card.nominal"
                  label="Номинал"
                  class="mr-3"
                  item-text="nominal"
                  item-value="price"
                  single-line
                ></v-select>
              </v-flex>

              <v-flex xs6 md2>
                <v-text-field
                  class="mr-3"
                  type="number"
                  label="Кол-во"
                  placeholder=""
                  required
                  v-model="qty"
                  @click="ChangeQty"
                  @keyup="ChangeQty"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6 py-3 justify-space-between d-flex>
                <v-btn @click="Return">
                  <v-icon>keyboard_arrow_left</v-icon>
                  <span>Назад</span>
                </v-btn>
                <v-btn @click="Add(card)">
                  <span>В корзину</span>
                  <font-awesome-icon icon="shopping-basket" class="ml-2 size-18" />
                </v-btn>
              </v-flex>

            </v-layout>
          </v-card-actions>
        </v-card>
      </v-flex>

      <v-dialog v-model="dialogAdded" width="500">
        <v-card>
          <v-card-text>
            <h2>Сертификат добавлен в корзину</h2>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="dialogAdded = false;">Продолжить</v-btn>
            <v-btn @click="dialogAdded = false; GoToCart();">Оформить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['type'],
    data() {
      return {
        dialogAdded: false,
        qty: 1,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      card() {
        return this.$store.state.eps.card;
      },
      cardHint() {
        if (!this.card.nominals_text || !this.card.nominals_text.length) {
          return '';
        }
        // for (let i = 0; i < this.card.nominals_text.length; i += 1) {
        //   if (this.card.nominals_text[i].price === parseInt(this.card.nominal, 10)) {
        //     return `${this.card.nominals_text[i].text}`;
        //   }
        // }
        for (let i = 0; i < this.card.nominals_text.length; i += 1) {
          if (this.card.nominals_text[i].price === parseInt(this.card.nominal, 10)) {
            if (this.card.nominals_text[i].price === this.card.nominals_text[i].nominal) {
              return `Спишется ${this.card.nominals_text[i].nominal} баллов`;
            }
            // const percent = this.card.nominals_text[i].price - this.card.nominals_text[i].nominal;
            return `Спишется ${this.card.nominals_text[i].price} баллов (включая коммиссию)`;
          }
        }
        return '';
      },
    },
    methods: {
      Add(card) {
        const app = this;
        if (card.nominal === undefined || !card.nominal) {
          document.getElementById(`select-card-${card.id}`).click();
          return;
        }
        app.$store.dispatch('eps/AddToCart', { card, qty: app.qty });
        app.dialogAdded = true;
        card.nominal = null;
        app.qty = 1;
      },
      GoToCart() {
        this.$router.push('/eps-cart');
      },
      Return() {
        this.$router.push('/prizes');
      },
      ChangeQty(e) {
        if (+e.target.value > 0) {
          this.qty = +e.target.value;
        } else {
          this.qty = 1;
        }
      },
    },
    mounted() {
      const app = this;
      app.$store.dispatch('eps/GetCard', this.type);
      app.$store.dispatch('eps/GetCards');
    },
  };
</script>

<style lang="scss" scoped>
  .card-box {
    display: flex;
    justify-content: center;
  }
  .card-box-img {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    object-fit:cover;
  }
  #app .v-menu__content,
  #app .menuable__content__active{
    max-height: 250px!important;
    z-index: 50!important;
  }
  @media (max-width: 600px) {
    .card-box-img{
      margin: 0 auto 16px;
    }
    .card-description{
      padding-left: 0!important;
    }
  }
</style>
