<template>
  <v-container fluid fill-height pa-0>
    <v-layout max row wrap>
      <v-flex xs12 md8 offset-md2>
        <v-tabs fixed-tabs>
          <v-tab><h3 class="headline">Сертификаты</h3></v-tab>
          <v-tab-item>
            <v-card v-for="order in epsOrders" :key="order.ms_order_id" class="mt-4">
              <v-card-title class="secondary">
                <div>Заказ №{{order.ms_order_id}} от {{order.created_at}}</div>
              </v-card-title>
              <v-card-text class="certificate-list pa-0">
                <div v-if="order.delivery_address && order.delivery_address.length">
                  <b>Адрес доставки</b>: {{order.delivery_address}}
                </div>
                <div v-for="(item, index) in order.items" :key="index" class="certificate-list--wrap">
                  <v-layout row wrap class="card-line-wrap">
                    <v-flex lg2 sm2 xs12 pa-2>
                      <v-img :src="getPrizeByID(item.card).image" aspect-ratio="1.8" class="eps__img"></v-img>
                    </v-flex>
                    <v-flex lg2 sm2 xs12 pa-2>
                      <small class="sert-label">Сертификат</small>
                      <div class="sert-title">{{item.card_title}}</div>
                    </v-flex>
                    <v-flex lg2 sm2 xs4 pa-2 class="text-center text-xs-left">
                      <small class="sert-label">Номинал</small>
                      <div class="sert-title text-center text-xs-left">{{item.nominal}}</div>
                    </v-flex>
                    <v-flex lg2 sm3 xs4 pa-2 class="text-center">
                      <small class="sert-label">Количество</small>
                      <div class="sert-title">{{item.qty}}</div>
                    </v-flex>
                    <v-flex lg2 sm3 xs4 pa-2 class="text-center">
                      <small class="sert-label">Сумма</small>
                      <div class="sert-title">{{item.nominal*item.qty}}</div>
                    </v-flex>
                    <v-flex lg2 sm12 xs12 pa-2 class="text-right">
                      <div v-if="item.cards && item.cards.length">
                        <v-icon class="icon-download" v-for="card in item.cards" :key="card.ms_card_id"
                                @click="DownloadCard(order, card)">
                          cloud_download
                        </v-icon>
                      </div>

                      <div class="block-chip" v-else>
                        <v-chip class="border-color-orange-rgba-7 sale-status bg-color-white">
                          Сертификат еще не готов
                          <span class="bg-color-orange status-point"></span>
                        </v-chip>
                      </div>
                    </v-flex>
                  </v-layout>
                </div>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab><h3 class="headline">Платежи</h3></v-tab>
          <v-tab-item>
            <v-card v-for="payment in payments" :key="payment.ms_payment_id" class="mt-4">
              <v-card-title class="secondary justify-space-between">
                Заказ №{{payment.ms_payment_id}}
                <v-chip v-if="payment.status === 'paid'" class="border-color-green-rgba-7 sale-status">
                  Обработан
                  <span class="bg-color-green status-point"></span>
                </v-chip>
                <v-chip v-else class="border-color-orange-rgba-7 sale-status">
                  В обработке
                  <span class="bg-color-orange status-point"></span>
                </v-chip>
              </v-card-title>

              <v-card-text class="payments-list pa-0">
                <v-layout row wrap class="payments-list--wrap">
                  <v-flex xs12 sm1 pa-2>
                    <v-layout align-center justify-center row fill-height>
                      <v-icon class="payment-icon">
                        {{getPaymentIcon(payment.type)}}
                      </v-icon>
                    </v-layout>
                  </v-flex>
                  <v-flex xs12 sm4 md5 pa-2 class="text-xs-center">
                    <small class="pay-label">{{getPaymentByType(payment.type).title}}</small>
                    <div class="pay-title">{{payment.parameters.phone_mobile}}</div>
                  </v-flex>
                  <v-flex xs12 sm4 md4 pa-2 class="text-center">
                    <small class="pay-label">Дата платежа</small>
                    <div class="date pay-title">{{payment.created_at}}</div>
                  </v-flex>
                  <v-flex pa-2 class="text-center">
                    <small class="pay-label">Сумма</small>
                    <div class="date pay-title">{{payment.amount}}</div>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
        <v-card v-if="epsOrders.length === 0">
          <v-card-title>
            Заказы отсутствуют
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    computed: {
      user() {
        return this.$store.state.user;
      },
      requirePers() {
        return this.$store.state.settings.profile_pers === true && !this.$store.state.user.pers_at;
      },
      epsOrders() {
        return this.$store.state.eps.orders;
      },
      cards() {
        return this.$store.state.eps.cards;
      },
      payments() {
        return this.$store.state.payments.payments;
      },
      paymentsInfo() {
        return this.$store.state.paymentsInfo;
      },
      hasEps() {
        return this.$store.state.settings.eps === true;
      },
      hasPayments() {
        return this.$store.state.settings.payments === true;
      },
      hasShop() {
        return this.$store.state.settings.shop === true;
      },
    },
    mounted() {
      const app = this;
      if (app.hasEps) {
        app.$store.dispatch('eps/GetOrders', this.user.profile_id);
        app.$store.dispatch('payments/GetPayments', this.user.profile_id);
        app.$store.dispatch('GetPaymentsSettings');
      }
      if (app.requirePers) {
        app.$router.push('/dashboard', () => {
          setTimeout(() => {
            app.$store.dispatch('ShowError', 'Для раздела "Заказы" необходимо согласие на обработку персональных данных!');
          }, 500);
        });
      }
    },
    methods: {
      DownloadCard(order, card) {
        this.$store.dispatch('DownloadFile', {
          url: '/catalog/api-v3/cards/download-blob',
          data: {
            profile_id: this.user.profile_id,
            ms_order_id: order.ms_order_id,
            ms_card_id: card.ms_card_id,
          },
          filename: `${card.type}_${card.nominal}.pdf`,
        });
      },
      getPaymentByType(type) {
        const arr = this.paymentsInfo.methods.filter(item => item.type === type);
        return arr[0];
      },
      getPaymentIcon(type) {
        switch (type) {
          case 'phone':
            return 'local_phone';
          case 'yandex':
            return 'monetization_on';
          case 'webmoney':
            return 'attach_money';
          case 'qiwi':
            return 'account_balance_wallet';
          case 'card':
            return 'credit_card';
          case 'rbs':
            return 'account_balance';
          default:
            return 'account_balance_wallet';
        }
      },
      getPrizeByID(type) {
        const arr = this.cards.filter(item => item.type === type);
        return arr[0] || false;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .icon-download {
    color:         #666;
    font-size:     32px;
    padding-right: 6px;

    &:hover {
      color: #111;
    }
  }
</style>
