<template>

  <v-container fluid pa-0 class="content-full">

    <Payments v-if="hasPayments"/>

    <v-layout max row wrap>
      <v-flex xs12 md10 offset-md1 class="xs-padding-x0">
        <v-layout max row wrap>
          <v-flex xs12 sm6 md4 mb-3 px-2 v-for="card in cards" :key="card.id" class="eps xs-padding-x0">
            <v-card class="eps__card">
              <v-img :src="card.image" aspect-ratio="1.8" class="eps__img" @click="GetDetails(card.type)"></v-img>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  // eslint-disable-next-line import/no-unresolved
  import Payments from './PrizesPayments';

  export default {
    components: {
      Payments,
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      requirePers() {
        return this.$store.state.settings.profile_pers === true && !this.$store.state.user.pers_at;
      },
      hasEps() {
        return this.$store.state.settings.eps === true;
      },
      hasPayments() {
        return this.$store.state.settings.payments === true;
      },
      hasShop() {
        return this.$store.state.settings.shop === true;
      },
      cards() {
        return this.$store.state.eps.cards;
      },
    },
    methods: {
      GetDetails(type) {
        this.$router.push(`eps/${type}`);
      },
    },
    mounted() {
      const app = this;
      if (app.requirePers) {
        app.$router.push('/dashboard', () => {
          setTimeout(() => {
            app.$store.dispatch('ShowError', 'Для раздела "Призы" необходимо согласие на обработку персональных данных!');
          }, 500);
        });
      }
      if (app.hasEps) {
        app.$store.dispatch('eps/GetCards');
      }
    },
  };
</script>

<style lang="scss" scoped>
  .eps__card {
    background-color: transparent;
    transition: transform 0.3s;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    &:hover {
      transition: transform 0.3s;
      transform: scale(1.06);
    }
  }
</style>
