<template>
  <v-container fluid pa-0>
    <v-layout max row wrap v-if="!paymentFinish" class="payments">

      <v-flex xs12 lg10 offset-lg1 mb-4>
        <v-card>
          <v-card-title class="primary">
            <h3 class="headline">Перевод на эл.кошельки и мобильные телефоны</h3>
          </v-card-title>
          <v-layout column>
            <v-flex xs12 sm6 md4 lg6 mx-1>

              <v-card-title>Метод перевода:</v-card-title>

              <v-layout class="paymentsMemu pt-0" v-if="user" row wrap>
                <v-flex
                  ma-2
                  v-for="item in enabledPayments"
                  :key="item.id"
                  @click="handleChangeMethod(item)"
                  :class="[{paymentsMemuActiveItem: item.type == current.type, paymentsMemuItem: true}]"
                >
                  <div :class="`ico-${item.type} mode`">
                    <span class="mode-title">{{ item.title }}</span>
                  </div>

                </v-flex>
              </v-layout>
            </v-flex>

            <v-flex xs12 sm6 md8 lg6>
              <v-card-text class="pt-0 pb-0">
                <v-form
                        autocomplete="off"
                        ref="form"
                        validation
                        v-model="form.valid"
                        class="prizes-form"
                >
                  <v-text-field v-if="current.type === 'yandex' || current.type === 'webmoney'"
                                type="num" id="value"
                                :label="current.title"
                                v-model="form.value"
                                :rules="[rules.required, rules.purse]"
                  ></v-text-field>
                  <v-text-field v-if="current.type === 'rbs'"
                                type="text" id="value"
                                :label="current.title"
                                v-model="form.value"
                                :rules="[rules.required, rules.number]"
                  ></v-text-field>
                  <v-text-field v-if="current.type === 'phone' || current.type === 'qiwi'"
                                type="text" id="value"
                                :label="current.title"
                                v-model="form.value"
                                v-mask="'+7 (###) ###-####'"
                                :rules="[rules.required, rules.phoneLength]"
                  ></v-text-field>
                  <v-text-field v-if="current.type === 'card'"
                                type="text" id="value"
                                :label="current.title"
                                v-model="form.value"
                                v-mask="'#### #### #### ####'"
                                :rules="[rules.required, rules.cardLength]"
                  ></v-text-field>
                  <v-text-field type="num" label="Сумма" id="amount"
                                v-model="form.amount"
                                @input="GetTaxes"
                                :rules="[rules.required, rules.number]"
                  ></v-text-field>
                </v-form>
                <div v-if="hasTaxes && taxes.string">
                  Спишется {{taxes.sum}} баллов {{taxes.string}}
                </div>
              </v-card-text>
            </v-flex>
          </v-layout>
          <v-divider light class="mb-2"></v-divider>
          <v-card-text v-if="hasTaxes && !userHasPassport">
            Для переводов необходимо заполнить Анкету НДФЛ и дождаться подтверждения анкеты модератором сайта
          </v-card-text>
          <v-card-actions class="pa-3">
            <v-spacer></v-spacer>
            <v-btn v-if="this.hasTaxes && !userHasPassport" to="/passport">
              <font-awesome-icon icon="clipboard-list" class="size-18 mr-2"/>
              <span>Заполнить</span>
            </v-btn>
            <v-btn class="mt-1" :disabled="!form.valid || (this.hasTaxes && !userHasPassport)" @click="paymentSubmit">Перевести</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>

    </v-layout>

    <v-layout max row wrap v-if="paymentFinish">
      <v-flex xs12 lg6 offset-lg3 px-3 mb-4>
        <v-card>
          <v-card-title class="primary body-1">Перевод успешно отправлен</v-card-title>
          <v-card-text>Ваш платеж принят в работу. Платеж будет обработан в ближайшее время.</v-card-text>
          <v-card-actions class="pa-3">
            <v-spacer></v-spacer>
            <v-btn class="mt-3" @click="paymentFinish = !paymentFinish">Завершить</v-btn>
            <v-btn class="primary mt-3" to="/purse">Все платежи</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  const patternNumber = /^\d{1,10}$/;
  const patternPurse = /^\d{12,15}$/;

  export default {
    data() {
      return {
        current: {},
        enabledPayments: [],
        settings: [],
        paymentFinish: false,
        form: {
          value: '',
          amount: '',
          valid: true,
        },
        taxes: { sum: '', string: '' },
        rules: {
          required: value => !!value || 'Поле должно быть заполнено',
          phoneLength: value => (value.length >= 17) || 'Номер телефона заполнен не полностью',
          cardLength: value => (value.length >= 19) || 'Номер карты заполнен не полностью',
          number: value => patternNumber.test(value) || 'Поле должно содержать только числа',
          purse: value => patternPurse.test(value) || 'Поле должно содержать только числа',
        },
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      },
      paymentsInfo() {
        return this.$store.state.paymentsInfo;
      },
      hasTaxes() {
        return this.$store.state.settings.taxes === true;
      },
      userHasPassport() {
        return this.user && this.user.account && this.user.account.status === 'approved';
      },
    },
    methods: {
      GetPaymentsSettings() {
        const app = this;
        app.$store.getters.axl.post('api/login', { login: app.login, password: app.password })
          .then((response) => {
            app.$store.dispatch('UserLogin', response.data);
            app.$router.push('/dashboard');
          })
          .catch((error) => {
            app.$store.dispatch('HandleError', error);
          });
      },
      GetPaymentMethods(arr) {
        return arr.filter(method => method.enabled);
      },
      handleChangeMethod(item) {
        this.current = item;
        this.ResetForm();
      },
      GetTaxes(amount) {
        const app = this;
        const params = {
          profile_id: app.user.id,
          amount,
          type: app.current.type,
        };
        this.$store.getters.ax.post('payments/api-v3/payments/calculate', params)
          .then((response) => {
            app.taxes = {
              sum: parseInt(response.data.amount, 10) + parseInt(response.data.commission, 10),
              string: `(включая комиссию ${response.data.message})`,
            };
          })
          .catch(() => {
            app.taxes = { sum: '', string: '' };
          });
      },
      paymentSubmit() {
        const app = this;
        if (app.form.valid) {
          const payment = {
            profile_id: app.user.profile_id,
            type: app.current.type,
            amount: app.form.amount,
            parameters: {
              phone_mobile: app.form.value,
            },
          };
          app.$store.getters.axl.post('payments/api-v3/payments/create', payment)
            .then(() => {
              app.ResetForm();
              this.$store.dispatch('GetProfile');
              app.paymentFinish = true;
            })
            .catch((error) => {
              app.$store.dispatch('HandleError', error);
            });
        }
      },
      ResetForm() {
        this.$refs.form.reset();
        this.form.amount = '';
        this.form.value = '';
        this.taxes = { sum: '', string: '' };
      },
    },
    mounted() {
      this.$store.dispatch('GetPaymentsSettings');
      this.enabledPayments = this.GetPaymentMethods(this.paymentsInfo.methods);
      // eslint-disable-next-line prefer-destructuring
      this.current = this.enabledPayments[0];
    },
  };
</script>