<template>
  <!-- App -->
  <f7-app :params="f7params" id="app" :class="`authenticated-${isAuthenticated}`">
    <!-- STATUSBAR -->
    <f7-statusbar></f7-statusbar>

    <!-- SIDEBAR -->
    <f7-panel left cover>
      <f7-view url="/menu/" links-view=".view-main"/>
    </f7-panel>

    <!-- NAVBAR -->
    <f7-navbar color="brown" id="navbar">
      <f7-nav-left>
        <f7-link v-show="'back' in routeMeta && routeMeta.back" back>
          <i class="fal fa-arrow-left size-21 text-color-white"></i>
        </f7-link>
        <f7-link v-show="isAuthenticated" class="panel-open sm-show" open-panel="left">
          <i class="f7-icons size-30 text-color-white">menu</i>
        </f7-link>
      </f7-nav-left>

      <f7-nav-title class="logo-block">
        <img src="~assets/images/logo_tikkurila.jpg"/>
      </f7-nav-title>

      <f7-nav-right v-show="isAuthenticated">
        <f7-link href="/notifications/" class="top-notify">
          <i class="fal fa-bell size-25 text-color-white"></i>
          <span v-show="newMobileNotifications.length > 0" class="counter">
              {{newMobileNotifications.length}}
            </span>
        </f7-link>
        <f7-link :href="isAuthenticated ? '/dashboard/' : '/'">
          <i class="fal fa-home size-28 text-color-white"></i>
        </f7-link>
      </f7-nav-right>
    </f7-navbar>

    <!-- CONTENT PAGES -->
    <f7-view url="/" :main="true" class="ios-edges"></f7-view>

    <!-- PRELOADER GIF -->
    <div class="preloader"></div>
  </f7-app>
</template>

<script>
  import routes from './routes';

  export default {
    data() {
      return {
        f7params: {
          theme: 'auto',
          routes,
          id: 'com.ms.tikkurilaclub',
          language: 'ru',
          dialog: {
            title: 'Сообщение',
            buttonOk: 'OK',
            buttonCancel: 'Отмена',
            preloaderTitle: 'Подождите...',
            progressTitle: 'Загрузка...',
          },
          panel: {
            swipe: 'left',
            leftBreakpoint: 768,
          },
        },
      };
    },
    computed: {
      routeMeta() {
        return this.$store.state.routeMeta;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      },
      newMobileNotifications() {
        return this.$store.state.mobileNotifications.notificationsNew;
      },
      user() {
        return this.$store.state.user;
      },
      bgUrl() {
        return this.$store.state.settings && this.$store.state.settings.bgUrl
          ? this.$store.state.settings.bgUrl : null;
      },
    },
    created() {
      this.$store.dispatch('GetSettings');
    },
    mounted() {
      const app = this;

      if (this.user) {
        app.$store.dispatch('mobileNotifications/GetNotifications');
      }

      app.$store.dispatch('ChangeRouteMeta', { requiresGuest: false, requiresAuth: false, back: null, title: null });

      // регистрация обработчика события перехода на страницу
      const interval = setInterval(() => {
        if (app.$f7) {
          app.$f7.on('routeChange', (to) => {
            const { requiresGuest, requiresAuth, back, title } = 'meta' in to.route ? to.route.meta : {};
            app.$store.dispatch('ChangeRouteMeta', { requiresGuest, requiresAuth, back, title });
            navigator.splashscreen.hide();
          });
          clearInterval(interval);
        }
      }, 500);

      // если не закрылся сплэшскрин, закрываем
      setInterval(() => {
        navigator.splashscreen.hide();
      }, 3000);

      $$(document).on('page:afterin', (e) => {
        const { requiresGuest, requiresAuth } = 'meta' in e.detail.route.route ? e.detail.route.route.meta : {};
        if (requiresGuest === true && app.isAuthenticated) {
          app.$f7.views.main.router.navigate('/dashboard/');
        } else if (requiresAuth === true && app.isAuthenticated === false) {
          app.$f7.views.main.router.navigate('/');
        }
        $$('.panel-backdrop').hide();
      });
    },
  };
</script>
