<template>
  <v-container fluid pa-0>

    <v-layout max row wrap v-if="user !== null">
      <v-flex xs12 mb-2 mx-3 class="xs-margin-x0" v-if="isAdminChecked && actions.length">
        <v-card>
          <v-card-title class="primary">
            <h3 class="headline">Акции</h3>
          </v-card-title>
        </v-card>
      </v-flex>

      <v-flex v-if="isAdminChecked && actions.length" v-for="action in actions" :key="action.id" xs12 md6 mb-3>
        <v-card class="card ma-3 xs-margin-x0">
          <v-card-title class="primary">
            {{action.title}}
          </v-card-title>
          <v-card-text class="py-3">
            {{action.short_description}}
          </v-card-text>
          <v-card-actions class="px-3 actions__btn-bottom">
            <v-layout row wrap>
              <v-flex class="first-btn">
                <v-btn @click="showDesc(action.id)">
                  <span>Описание</span>
                  <v-icon>keyboard_arrow_down</v-icon>
                </v-btn>
              </v-flex>
              <v-flex class="text-xs-right">
                <v-btn @click="addSale(action.id)">
                  <span>Добавить продажу / покупку</span>
                  <font-awesome-icon icon="plus-circle" class="ml-2"/>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card-actions>
          <p class="px-3 pb-2" v-if="action.planForAction">План по акции {{ action.planForAction }} руб.</p>
          <v-card-text
                  v-if="showDescID && (showDescID === action.id)"
                  class="py-2 actions__description"
                  v-html="action.description"
          ></v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 mb-4 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary">
            <h3 class="headline">Личный кабинет</h3>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 row fill-height mx-3 class="xs-margin-x0">
        <v-carousel v-if="isBannersOn && banners.length" class="mb-3" interval="4000" height="590">
          <v-progress-circular
            :size="70"
            :width="5"
            color="#ae0e15"
            indeterminate
            class="carousel-preloader"
          ></v-progress-circular>
          <v-carousel-item v-for="item in banners" :key="item.id" :src="item.banner_url">
            <div class="car-link">
              <v-btn to="#">Подробнее</v-btn>
            </div>
          </v-carousel-item>
        </v-carousel>

        <img v-if="isBannersOn && banners.length === 1" v-for="item in banners" :src="item.banner_url">

        <v-layout row wrap pt-1 v-if="isAuthenticated && user" justify-space-around class="block-x-equalize">
          <v-flex md4 xs12 px-3 pb-4>
            <v-card height="100%">
              <v-card-title :class="`secondary ${isAdminChecked ? '' : 'space-between'}`">
                Личные данные
                <v-chip v-if="!isAdminChecked" label small color="#ae0e15" text-color="white">на проверке</v-chip>
              </v-card-title>
              <v-card-text class="stable-height">
                <div><b>{{user.last_name}} {{user.first_name}} {{user.middle_name}}</b></div>
                <div>Телефон: <b>{{user.phone_mobile}}</b></div>
                <div>E-mail: <b>{{user.email}}</b></div>
                <div v-if="user.work_place">Место работы: <b>{{user.work_place}}</b></div>
              </v-card-text>
              <v-card-actions class="pa-3">
                <v-btn color="default" to="/profile">
                  <font-awesome-icon icon="user-edit" class="size-18 mr-2"/>
                  <span>Изменить</span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>

          <v-flex v-if="isAdminChecked && (user !== null)" md4 xs12 px-3 pb-4>
            <v-card height="100%">
              <v-card-title class="secondary">Баланс</v-card-title>
              <v-card-text class="stable-height">
                <span>Доступно к выводу: <b>{{user.balance}}</b></span>
                <br>
                <span>Общий баланс: <b>{{user.balance_total}}</b></span>
              </v-card-text>
              <v-card-actions class="pa-3" bottom>
                <v-btn color="default" to="/purse">
                  <font-awesome-icon icon="ruble-sign" class="size-18 mr-2"/>
                  <span>Движение баллов</span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>

          <v-flex v-if="isAdminChecked && (user !== null)" md4 xs12 px-3 pb-4>
            <v-card height="100%">
              <v-card-title class="secondary">Призы / Платежи</v-card-title>
              <v-card-text class="stable-height">
                <span>Доступно призов: <b>{{cards.length}}</b></span>
              </v-card-text>
              <v-card-actions class="pa-3" bottom>
                <v-btn color="default" to="/prizes">
                  <font-awesome-icon icon="gift" class="size-18 mr-2"/>
                  <span>Призы / Платежи</span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>

          <v-flex v-if="isAdminChecked && (user !== null)" md4 xs12 px-3 pb-4>
            <v-card height="100%">
              <v-card-title class="secondary">История заказов призов</v-card-title>
              <v-card-text class="stable-height">
                <span>Всего заказов: <b>{{epsOrders.length}}</b></span>
                <br>
                <span>Всего платежей: <b>{{payments.length}}</b></span>
              </v-card-text>
              <v-card-actions class="pa-3" bottom>
                <v-btn color="default" to="/orders">
                  <font-awesome-icon icon="credit-card" class="size-18 mr-2"/>
                  <span>Перейти к истории</span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>

          <v-flex v-if="isAdminChecked && (user !== null)" md4 xs12 px-3 pb-4>
            <v-card height="100%">
              <v-card-title class="secondary">Продажи / покупки</v-card-title>
              <v-card-text class="stable-height">
                <span>Всего продаж: <b>{{sales.length}}</b></span>
              </v-card-text>
              <v-card-actions class="pa-3" bottom>
                <v-btn color="default" to="/sales">
                  <font-awesome-icon icon="shopping-cart" class="size-18 mr-2"/>
                  <span>Продажи / покупки</span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>

          <v-flex md4 xs12 px-3 pb-4 v-if="(user !== null) && this.$store.state.settings.taxes === true && isAdminChecked">
            <v-card height="100%">
              <v-card-title class="secondary">Налоговая анкета</v-card-title>
              <v-card-text class="stable-height">
                <span>Статус:

                  <v-chip
                    v-if="account && account.status === 'approved'"
                    class="border-color-green-rgba-7 sale-status"
                  >{{account.status_label}}
                    <span class="bg-color-green status-point"></span>
                  </v-chip>

                  <v-chip
                    v-if="account && account.status !== 'approved'"
                    class="border-color-red-rgba-7 sale-status"
                  >{{account.status_label}}
                    <span class="bg-color-orange status-point"></span>
                  </v-chip>

                  <v-chip
                    v-if="!account"
                    class="border-color-red-rgba-7 sale-status"
                  >не заполнена
                    <span class="bg-color-red status-point"></span>
                  </v-chip>
                </span>
              </v-card-text>

              <v-card-actions class="pa-3" v-show="!account || account.status !== 'approved'">
                <v-btn color="default" to="/passport">
                  <font-awesome-icon icon="address-card" class="size-18 mr-2"/>
                  <span>Заполнить анкету</span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>

          <v-flex md4 xs12 px-3 pb-4 v-if="requirePers && pagePers && isAdminChecked">
            <v-card height="100%">
              <v-card-title class="secondary">Персональные данные</v-card-title>
              <v-card-text class="stable-height">
                <small>Просим Вас ознакомиться с соглашением по сбору Ваших персональных данных.
                  Это нам необходимо для сдачи налоговой информации.
                </small>
                <v-checkbox label="Согласие на обработку персональных данных" readonly v-model="user.pers_at"
                            @click="dialogPers=true"></v-checkbox>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

      </v-flex>
    </v-layout>

    <v-dialog v-if="isAuthenticated && hasSurvey" v-model="$store.state.dialogs.surveys" class="elevation-0"
              hide-overlay transition="dialog-bottom-transition" max-width="800px">
      <Surveys/>
    </v-dialog>

    <v-dialog v-if="isAuthenticated && hasNotifications" v-model="$store.state.dialogs.notifications"
              class="elevation-0" hide-overlay transition="dialog-bottom-transition" max-width="800px">
      <Notifications/>
    </v-dialog>

    <v-dialog v-model="dialogPers" width="500" v-if="requirePers && pagePers && isAdminChecked">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title v-html="pagePers.title"></v-card-title>
        <v-card-text v-html="pagePers.content"></v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn  @click="dialogPers = false;">Отклонить</v-btn>
          <v-btn  @click="dialogPers = false; ConfirmPers();">Принять</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import Surveys from './Surveys.vue';
  import Notifications from './Notifications.vue';

  export default {
    data() {
      return {
        pagePers: null,
        dialogPers: false,
        description: '',
        showDescID: false,
      };
    },
    components: {
      Surveys,
      Notifications,
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      requirePers() {
        return this.$store.state.settings.profile_pers === true && !this.$store.state.user.pers_at;
      },
      account() {
        return this.$store.state.user.account;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      },
      isAdminChecked() {
        return this.$store.getters.isAdminChecked;
      },
      hasSurvey() {
        return this.$store.state.surveys.hasSurvey;
      },
      hasNotifications() {
        return this.$store.state.notifications.hasNotifications;
      },
      isBannersOn() {
        return this.$store.state.settings.module_banners === true;
      },
      isModuleSurvey() {
        return this.$store.state.settings.module_survey === true;
      },
      isModuleNotifications() {
        return this.$store.state.settings.module_notifications === true;
      },
      banners() {
        return this.$store.state.banners.bannersList || [];
      },
      cards() {
        return this.$store.state.eps.cards;
      },
      sales() {
        return this.$store.state.sales.sales;
      },
      epsOrders() {
        return this.$store.state.eps.orders;
      },
      payments() {
        return this.$store.state.payments.payments;
      },
      actions() {
        return this.$store.state.sales.actions;
      },
    },
    methods: {
      ConfirmPers() {
        const app = this;
        app.$store.getters.axl.post('profiles/api/auth/confirm-pers', { profile_id: app.user.profile_id })
          .then(() => {
            app.user.pers_at = true;
          })
          .catch((error) => {
            app.$store.dispatch('HandleError', error);
          });
      },
      addSale(id) {
        this.$store.dispatch('sales/GetAction', { action_id: id });
        this.$router.push('/sale/null');
      },
      showDesc(id) {
        const actions = this.actions.filter(item => item.id === id);
        if (this.showDescID === id) {
          this.description = '';
          this.showDescID = false;
        } else {
          this.showDescID = id;
          this.description = actions.length ? actions[0].description : '';
        }
      },
    },
    created() {
      this.$store.dispatch('GetProfile');
      this.$store.dispatch('GetSettings');
      this.$store.dispatch('eps/GetCards');
      this.$store.dispatch('sales/ClearAction');
      this.$store.dispatch('sales/ClearSale');
      this.isBannersOn && this.$store.dispatch('banners/GetBannersList');
      if (this.user !== null) {
        this.$store.dispatch('eps/GetOrders', this.user.profile_id);
        this.$store.dispatch('payments/GetPayments', this.user.profile_id);
        this.$store.dispatch('sales/GetSalesList', { profile_id: this.user.profile_id });
        this.$store.dispatch('sales/GetActionsList', { profile_id: this.user.profile_id });
        this.isModuleSurvey && this.$store.dispatch('surveys/GetSurveys', this.user.profile_id);
        this.isModuleNotifications && this.$store.dispatch('notifications/GetNotifications', this.user.profile_id);
      }
    },
    mounted() {
      const app = this;
      this.user && app.$store.getters.ax.post('profiles/api/register/info', { phone: app.user.phone })
        .then((response) => {
          app.pagePers = response.data.pagePers;
        });
    },
  };
</script>
