<template>
  <v-card class="notifications">
    <v-img v-if="notification.image_url" :src="notification.image_url" :aspect-ratio="16/9">
      <v-layout column fill-height class="lightbox white--text">
        <v-flex v-if="notification.bonuses" pa-2 shrink class="notification__desc">
          <div class="subheading text-xs-center">За прохождение опроса
            <v-chip class="notification__bonuses" color="primary" text-color="white">+{{ notification.bonuses }}</v-chip>
            баллов!
          </div>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex pa-2 shrink class="notification__desc">
          <v-card-title class="headline notification__title">{{ notification.title }}</v-card-title>
        </v-flex>
      </v-layout>
    </v-img>
    <v-card-title v-else class="primary">{{ notification.title }}</v-card-title>
    <v-card-text v-html="notification.content"></v-card-text>
    <v-btn v-if="notification.url" :to="notification.url">Подробнее</v-btn>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="submitLater">Закрыть</v-btn>
      <v-btn @click="submit">Согласен</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    data() {
      return {};
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      notification() {
        return this.$store.state.notifications.notification;
      },
    },
    methods: {
      setTimeStamp() {
        return Math.round(new Date().getTime() / 1000);
      },
      submitLater() {
        this.$store.commit('SetDialog', { dialog: 'notifications', value: false });
        this.$store.commit('notifications/SetLastShowTime', { id: this.notification.id, time: this.setTimeStamp() });
        this.user && this.$store.dispatch('notifications/GetNotifications', this.user.profile_id);
        this.$store.commit('SetDialog', { dialog: 'notifications', value: true });
      },
      submit() {
        this.user && this.$store.dispatch('notifications/successNotification', {
          profile_id: this.user.profile_id, notification_id: this.notification.id,
        });
        this.user && this.$store.dispatch('notifications/GetNotifications', this.user.profile_id);
      },
    },
    mounted() {
      console.log(this.notification);
    },
  };
</script>
