<template>
  <v-container fluid fill-height pa-0>
    <v-layout max row wrap v-if="user" class="purse">

      <v-flex xs12 row mb-4 mx-3 class="xs-margin-x0">
        <v-layout row wrap>
          <v-flex xs12>
            <v-card>
              <v-card-title class="primary">
                <h3 class="headline mb-0">
                  Количество&nbsp;баллов:&nbsp;<span class="balance">{{user.balance}}</span></h3>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex xs12 row fill-height>
        <v-layout row wrap pt-1 justify-center>
          <v-flex xs12 sm8 offset-sm2 md6 offset-md0 lg4 px-3 pb-3 mb-2  class="xs-padding-x0"
                  v-for="(item, index) in transactions" :key="index">
            <v-card height="100%">
              <v-card-title class="secondary">
                <v-layout align-center justify-space-between row fill-height>
                  <div class="item md6" align-center>
                    <v-icon class="transaction-icon" v-if="(item.type === 'in')" right color="green">
                      arrow_upward
                    </v-icon>
                    <v-icon class="transaction-icon" v-if="(item.type === 'out')" right color="red">
                      arrow_downward
                    </v-icon>
                    <span>{{item.amount}}</span>
                  </div>
                  <div class="item md6">
                    <small>{{item.created_at}}</small>
                  </div>
                </v-layout>
              </v-card-title>
              <v-card-text>
                <div>{{item.title}}</div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  export default {
    computed: {
      user() {
        return this.$store.state.user;
      },
      transactions() {
        return this.$store.state.userTransactions;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      },
    },
    mounted() {
      this.$store.dispatch('GetProfile');
      this.$store.dispatch('GetTransactions');
    },
  };
</script>

<style lang="scss" scoped>
  #app {
    .transaction-icon {
      margin-right:   0;
      vertical-align: bottom;
    }

    .wallet-icon {
      font-size:      35px;
      vertical-align: bottom;
      margin-bottom:  -4px;
    }
  }
</style>

