<!--suppress ALL -->
<template>
  <v-container fluid fill-height pa-0>
    <v-layout row wrap max>

      <v-flex lg6 offset-lg3 md8 offset-md2 xs12>
        <v-card>
          <v-card-title class="primary">
            <h3 class="headline mb-0">Редактировать профиль</h3>
          </v-card-title>
          <v-card-text>
            <v-form autocomplete="off" v-model="valid" validation ref="form">
              <v-layout row wrap col-2>
                <v-flex sm6 xs12>
                  <v-text-field
                    type="text"
                    v-model="profile.last_name"
                    autofocus
                    :rules="[rules.required]"
                    label="Фамилия"
                    required
                    id="lastName"
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 xs12>
                  <v-text-field
                    type="text"
                    v-model="profile.first_name"
                    autofocus
                    :rules="[rules.required]"
                    label="Имя"
                    required
                    id="firstName"
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 xs12>
                  <v-text-field
                    type="text"
                    v-model="profile.middle_name"
                    autofocus
                    :rules="[rules.required]"
                    label="Отчество"
                    required
                    id="middleName"
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 xs12>
                  <v-text-field
                    type="text"
                    v-model="profile.email"
                    :rules="[rules.required, rules.email]"
                    label="E-mail"
                    id="email"
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 xs12>
                  <v-text-field
                    type="text"
                    v-model="profile.work_place"
                    :rules="[rules.required]"
                    label="Место работы"
                    id="workPlace"
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 xs12 v-if="settings.register_birthday">
                  <v-text-field
                    v-model="profile.birthday_on"
                    label="Дата рождения"
                    hint="дд.мм.гггг"
                    v-mask="'##.##.####'"
                    placeholder="01.01.1970"
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 xs12 v-if="settings.register_specialty">
                  <v-text-field
                    v-model="profile.specialty"
                    type="text"
                    label="Специальность"
                    :rules="[rules.required]"
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 xs12 v-if="settings.register_role">
                  <v-text-field
                    v-if="settings.register_role"
                    v-model="profile.role"
                    type="text"
                    label="Роль"
                    :rules="[rules.required]"
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 xs12 v-if="settings.register_gender">
                  <div slot="label">Пол</div>
                  <v-radio-group v-model="profile.gender" class="mt-0" :rules="[rules.required]" row>
                    <v-radio value="male" label="Мужской" color="primary"></v-radio>
                    <v-radio value="female" label="Женский" color="primary"></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-layout>
              <v-layout row wrap v-if="settings.register_city">
                <v-flex xs12>
                  <v-autocomplete
                    v-model="profile.city_local"
                    :placeholder="profile.city_local"
                    :items="cities"
                    :search-input.sync="search"
                    :clearable="true"
                    :open-on-clear="true"
                    hide-details
                    hide-no-data
                    label="Город"
                    class="plcolor"
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card-text>

          <v-card-actions class="pa-3 justify-space-between">
            <v-btn to="/dashboard" class="z10">
              <v-icon>keyboard_arrow_left</v-icon>
              Назад
            </v-btn>
            <v-btn type="submit" :disabled="loading || !valid" @click="profileSubmit">Сохранить</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  // import axios from 'axios';

  const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  export default {
    data() {
      return {
        valid: false,
        profile: {},
        rules: {
          required: value => !!value || 'Поле должно быть заполнено',
          email: value => pattern.test(value) || 'Поле E-mail заполнено с ошибками',
        },
        search: '',
        cities: [],
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      },
      loading() {
        return this.$store.state.loading;
      },
      settings() {
        return this.$store.state.settings;
      },
    },
    methods: {
      createUser() {
        this.profile = { ...this.user };
      },
      profileSubmit() {
        const app = this;
        if (this.$refs.form.validate() && this.isAuthenticated) {
          const profile = {
            profile_id: app.profile.profile_id,
            last_name: app.profile.last_name,
            first_name: app.profile.first_name,
            middle_name: app.profile.middle_name,
            email: app.profile.email,
            birthday_on: app.profile.birthday_on,
            city_local: app.profile.city_local,
            gender: app.profile.gender,
            specialty: app.profile.specialty,
            role: app.profile.role,
            work_place: app.profile.work_place,
          };
          app.$store.getters.axl.post('profiles/api/auth/profile-edit', profile)
            .then(() => {
              app.$store.dispatch('ShowInfo', 'Ваш профиль был успешно обновлён');
              this.$router.push('/');
            })
            .catch((error) => {
              app.$store.dispatch('HandleError', error);
            });
        } else {
          app.$store.dispatch('HandleError', 'Ошибка отправки формы');
        }
      },
    },
    watch: {
      search(val) {
        if (val) {
          this.$store.getters.ax.post('profiles/api/auth/city', { city: val })
            .then((result) => {
              this.cities = result.data.cities;
            });
        }
      },
    },
    mounted() {
      if (this.isAuthenticated) {
        this.$store.dispatch('eps/GetOrders', this.user.profile_id);
        this.createUser();
        this.user.city_local ? this.search = this.user.city_local : '';
      }
    },
  };
</script>
