<template>
  <v-card class="survey">
    <v-img v-if="survey.image_url" :aspect-ratio="16/9" :src="survey.image_url">
      <v-layout column fill-height class="lightbox white--text">
        <v-flex v-if="survey.bonuses" pa-2 shrink class="survey__desc">
          <div class="subheading text-xs-center">За прохождение опроса
            <v-chip class="survey__bonuses" color="primary" text-color="white">+{{ survey.bonuses }}</v-chip>
            баллов!
          </div>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex pa-2 shrink class="survey__desc">
          <v-card-title class="headline survey__title">{{ survey.title }}</v-card-title>
        </v-flex>
      </v-layout>
    </v-img>
    <v-card-text v-html="survey.content"></v-card-text>
    <v-divider inset></v-divider>

    <v-stepper v-if="questions.length" v-model="step" vertical>
      <template v-for="(item, index) in questions">
        <v-stepper-step :complete="step > (index + 1)" :step="index + 1">
          {{ item.title }}
          <small v-if="item.multiple">Можно указать несколько ответов</small>
          <small v-else>Можно выбрать только один ответ</small>
        </v-stepper-step>
        <v-stepper-content :step="index + 1">
          <v-card color="grey lighten-4 elevation-0" class="mb-3">
            <v-layout row wrap>
              <v-flex xs12 py-2 px-4>
                <div v-if="item.multiple && item.answers.length">
                  <v-checkbox v-for="(answer, index) in item.answers" :key="index" v-model="item.answer.checked" :value="answer.id"
                              color="#3e4c66" hide-details :label="answer.title"></v-checkbox>
                </div>
                <v-radio-group v-else-if="!item.multiple && item.answers.length" v-model="item.answer.checked">
                  <v-radio v-for="(answer, index) in item.answers" :key="index" :value="answer.id"
                           color="#3e4c66" :label="answer.title"></v-radio>
                </v-radio-group>
                <v-textarea v-if="item.custom && checkUserComment(item)"
                            v-model="item.answer.user_comment" pa-5 box background-color="white"
                            :rules="[rules.required]" label="Свой вариант ответа" rows="3"></v-textarea>
                <v-textarea v-else-if="item.custom && !checkUserComment(item)"
                            v-model="item.answer.user_comment" pa-5 box background-color="white"
                            label="Свой вариант ответа" rows="3" ></v-textarea>
              </v-flex>
            </v-layout>
          </v-card>
          <v-btn v-if="(questions.length - 1) === index" color="primary"
                 @click="submit" :disabled="!questionValidate(item) && !checkAllValidate">Отправить</v-btn>
          <v-btn v-else color="primary" @click="nextStep" :disabled="!questionValidate(item)">Продолжить</v-btn>
          <v-btn flat @click="prevStep">Назад</v-btn>
        </v-stepper-content>
      </template>
    </v-stepper>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn flat="flat" @click="submitLater">Пройти позже</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    data() {
      return {
        step: 0,
        questions: [],
        isValid: false,
        rules: {
          required: value => !!value || 'Поле должно быть заполнено',
        },
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      survey() {
        return this.$store.state.surveys.survey;
      },
      checkAllValidate() {
        return !this.questions.filter(item => !item.isValid).length;
      },
    },
    methods: {
      closeDialog() {
        this.$store.commit('SetDialog', { dialog: 'surveys', value: false });
      },
      openDialog() {
        this.$store.commit('SetDialog', { dialog: 'surveys', value: true });
      },
      setQuestions() {
        if ((JSON.stringify(this.survey) !== '{}') && this.survey.questions.length) {
          this.questions = [];
          // eslint-disable-next-line no-plusplus
          for (let i = 0; i < this.survey.questions.length; i++) {
            this.questions.push({
              ...this.survey.questions[i],
              answer: {
                id: this.survey.questions[i].id,
                checked: (this.survey.questions[i].multiple) ? [] : 0,
                user_comment: '',
              },
              isValid: false,
            });
            this.openDialog();
          }
        }
      },
      checkUserComment(item) {
        let require = false;
        if (item.answer.checked === 0 || item.answer.checked.length === 0) {
          require = true;
        }
        return require;
      },
      questionValidate(item) {
        let isValid = false;
        if (item.custom && item.answer.user_comment) {
          isValid = true;
        }
        if (!item.multiple && item.answer.checked) {
          isValid = true;
        }
        if (item.multiple && item.answer.checked.length) {
          isValid = true;
        }
        item.isValid = isValid;
        return isValid;
      },
      prevStep() {
        if (this.step > 1) {
          this.step = this.step - 1;
        }
      },
      nextStep() {
        if (this.survey.questions.length !== this.step) {
          this.step = this.step + 1;
        }
      },
      setTimeStamp() {
        return Math.round(new Date().getTime() / 1000);
      },
      submitLater() {
        this.closeDialog();
        this.$store.commit('surveys/SetLastShowTime', { id: this.survey.id, time: this.setTimeStamp() });
      },
      submit() {
        if (this.checkAllValidate) {
          const app = this;
          const survey = {
            profile_id: app.user.profile_id,
            survey_id: app.survey.id,
            type: 'answer',
            questions: {},
          };
          survey.questions = app.questions.map(item => item.answer);

          app.$store.getters.axl.post('survey/api/surveys/survey-answer', survey)
            .then(() => {
              app.$store.dispatch('ShowInfo', 'Ваш опрос успешно отправлен');
              app.closeDialog();
              this.$store.commit('surveys/SetLastShowTime', { id: app.survey.id, time: null });
            })
            .catch((error) => {
              app.$store.dispatch('HandleError', error);
            });
        }
      },
    },
    created() {
      this.$store.dispatch('GetProfile');
      this.setQuestions();
    },
  };
</script>

<style lang="scss" scoped>
  .survey {
    background: white !important;
    &__bonuses {
      font-size: 1.1em;
      font-weight: 700;
    }
    &__desc {
      background: rgba(35, 20, 70, 0.7);
    }
    &__title {
      justify-content: center;
    }
  }
  .v-input {
    .v-label {
      font-size: 14px !important;
    }
  }
</style>
