<template>
  <v-container fluid fill-height pa-0>
    <v-layout max row wrap v-if="user">

      <v-flex xs12 row mb-2>
        <v-layout row wrap pt-1>
          <v-flex xs12 sm6 offset-sm3>
            <v-card>
              <v-card-title class="justify-space-around cardbal">
                <v-btn color="primary" @click="Subscribe">Подписаться</v-btn>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import * as firebase from 'firebase/app';
  import 'firebase/messaging';

  export default {
    computed: {
      user() {
        return this.$store.state.user;
      },
    },
    mounted() {
      this.InitFirebase();
    },
    methods: {
      InitFirebase() {
        if (!('Notification' in window)) {
          return; // Инициализация Firebase, если браузер поддерживает
        }

        const config = {
          apiKey: 'AIzaSyDR4v9-58vxAMMqXcMldSOrnEYDHTRKiTs',
          authDomain: 'ms-unitile.firebaseapp.com',
          databaseURL: 'https://ms-unitile.firebaseio.com',
          projectId: 'ms-unitile',
          storageBucket: '',
          messagingSenderId: '105188338272',
        };
        firebase.initializeApp(config);
        console.log('...firebase initialized...');

        // пользователь уже разрешил получение уведомлений
        if (Notification.permission === 'granted') {
          console.log('...WEB-push granted, subscribing...');
          // подписываем на уведомления если ещё не подписали
          this.Subscribe();
        }
      },
      Subscribe() {
        if (!('Notification' in window)) {
          return;
        }

        const app = this;
        const messaging = firebase.messaging();

        // запрашиваем разрешение на получение уведомлений
        messaging.requestPermission()
          .then(() => {
            // получаем ID устройства
            messaging.getToken()
              .then((currentToken) => {
                console.log(currentToken);

                if (currentToken) {
                  this.SendTokenToServer(currentToken);
                } else {
                  console.warn('Не удалось получить токен.');
                  app.SetTokenSentToServer(false);
                }
              })
              .catch((err) => {
                console.warn('При получении токена произошла ошибка.', err);
                app.SetTokenSentToServer(false);
              });
          })
          .catch((err) => {
            console.warn('Не удалось получить разрешение на показ уведомлений.', err);
          });
      },
      SendTokenToServer(token) {
        // отправка ID на сервер
        if (window.localStorage.getItem('sentFirebaseMessagingToken') !== token) {
          console.log('Отправка токена на сервер...');
          const app = this;
          const info = {
            profile_id: app.user.profile_id,
            platform: 'web',
            token,
          };
          app.$store.getters.ax.post('mobile/api/firebase/register-device', info)
            .then((response) => {
              app.SetTokenSentToServer(token);
              console.log(response.data.gcm);
            })
            .catch((error) => {
              app.$store.dispatch('HandleError', error);
            });
        } else {
          console.log('Токен уже отправлен на сервер.');
        }
      },
      SetTokenSentToServer(currentToken) {
        window.localStorage.setItem('sentFirebaseMessagingToken', currentToken);
      },
    },
  };
</script>

