<template>
  <f7-page class="login">

    <f7-toolbar tabbar position="top">
      <f7-link tab-link="#tab-regular" text="Стандартный вход" tab-link-active></f7-link>
      <f7-link tab-link="#tab-frofclub" text="Участник Pro Club"></f7-link>
    </f7-toolbar>

    <f7-tabs>
      <f7-tab id="tab-regular" tab-active>
        <f7-block-title class="title-page">Стандартный вход в программу</f7-block-title>
        <f7-list form class="bg-color-white margin-left margin-right no-margin-bottom elevation-2 form-rounded">
          <f7-list-input label="Телефон" type="tel" v-mask="'+7 (###) ###-####'" :value="regular.login"
                         autocomplete="off" placeholder="+7 " @input="regular.login = $event.target.value"/>
          <f7-list-input label="Пароль" :value="regular.password" @input="regular.password = $event.target.value"
                         type="password" placeholder="••••••" autocomplete="off"/>
        </f7-list>

        <f7-block>
          <f7-button @click="LoginForm(regular)" large fill class="size-16 centered">
            <span>Войти</span>
            <i class="material-icons margin-left-4">exit_to_app</i>
          </f7-button>
        </f7-block>
      </f7-tab>

      <f7-tab id="tab-frofclub">
        <f7-block-title class="title-page">Вход в программу как участник Pro&nbsp;Club</f7-block-title>
        <f7-list form class="bg-color-white margin-horizontal no-margin-bottom elevation-2 form-rounded">
          <f7-list-input label="Номер клубной карты" type="text" v-mask="'########'" :value="profclub.login"
                         autocomplete="off" placeholder="12345678" @input="profclub.login = $event.target.value"/>
          <f7-list-input label="Пароль" :value="profclub.password" @input="profclub.password = $event.target.value"
                         type="password" placeholder="••••••" autocomplete="off"/>
        </f7-list>

        <f7-block>
          <f7-button @click="LoginForm(profclub)" large fill class="size-16 flex-center">
            <span>Войти</span>
            <i class="material-icons margin-left-4">exit_to_app</i>
          </f7-button>
        </f7-block>
      </f7-tab>
    </f7-tabs>

    <f7-block-footer class="bottom-link row no-margin nowrap">
      <f7-button href="/register/" fill class="centered">
        <i class="material-icons margin-right-4">assignment</i>
        <span>Регистрация</span>
      </f7-button>

      <f7-button href="/remind/" fill class="centered">
        <i class="material-icons margin-right-4">help_outline</i>
        <span>Забыли пароль</span>
      </f7-button>
    </f7-block-footer>

  </f7-page>
</template>


<script>
  export default {
    data() {
      return {
        profclub: {
          role: 'profclub',
          login: '',
          password: '',
        },
        regular: {
          role: 'regular',
          login: '',
          password: '',
        },
      };
    },
    methods: {
      LoginForm(item) {
        const app = this;
        const data = { ...item };
        app.$store.getters.axl.post('profiles/api/auth/login', data)
          .then((response) => {
            app.$store.dispatch('UserLogin', response.data);
            app.$f7.router.app.views.main.router.navigate('/dashboard/');
            app.ResetForm(item);
          })
          .catch((error) => {
            app.$store.dispatch('HandleError', error);
          });
      },
      ResetForm(item) {
        item.login = '';
        item.password = '';
      },
    },
  };
</script>

