<template>
  <f7-page>

  </f7-page>
</template>


<script>
  export default {
    mounted() {
      const app = this;
      this.$store.dispatch('UserLogout');
      app.$f7.router.app.views.main.router.navigate('/');
    },
  };
</script>
