<template>
  <f7-page class="push">
    <f7-block>
      <f7-block-title class="title-page text-align-center">
        <span>Какие оповещения присылать?</span>
      </f7-block-title>
      <f7-list v-if="user.profile_id" form class="elevation-2 form-rounded bg-color-white">

        <f7-list-item
                checkbox
                title="Новости"
                name="demo-checkbox"
                class="pushing-check"
                :checked="!!user.push_news"
                @change="pushChange($event, 'pushNews')"
        ></f7-list-item>
        <f7-list-item
                checkbox
                title="Продажи"
                name="demo-checkbox"
                class="pushing-check"
                :checked="!!user.push_sales"
                @change="pushChange($event, 'pushSales')"
        ></f7-list-item>
        <f7-list-item
                checkbox
                title="Гарантийные случаи"
                name="demo-checkbox"
                class="pushing-check"
                :checked="!!user.push_warranty"
                @change="pushChange($event, 'pushWarranty')"
        ></f7-list-item>
      </f7-list>

      <f7-button back fill class="float-left">
        <i class="fal fa-arrow-left margin-right-4"></i>
        <span>Назад</span>
      </f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
  export default {
    data() {
      return {
        pushNews: false,
        pushSales: false,
        pushWarranty: false,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
    },
    methods: {
      /**
       * Метод устанавливающий значение чекбокса.
       * @param e объект поля.
       * @param name имя поля.
       */
      pushChange(e, name) {
        this.$data[name] = !!e.target.checked;
        this.sendPush();
      },
      /** Установка чекбоксов оповещений в соответствии с настройками пользователя */
      setPushes() {
        this.pushNews = !!this.user.push_news || false;
        this.pushSales = !!this.user.push_sales || false;
        this.pushWarranty = !!this.user.push_warranty || false;
      },
      /** Отправка запроса на изменение статуса оповещений. */
      sendPush() {
        const app = this;
        const pushes = {
          profile_id: app.user.profile_id,
          push_news: app.pushNews ? '1' : '0',
          push_sales: app.pushSales ? '1' : '0',
          push_warranty: app.pushWarranty ? '1' : '0',
        };
        app.$store.getters.axl.post('profiles/api/auth/profile-edit', pushes)
          .then(() => {
            app.$store.dispatch('GetProfile');
          });
      },
    },
    mounted() {
      this.$store.dispatch('GetProfile');
      this.user.profile_id && this.setPushes();
    },
  };
</script>
