<template>
  <f7-page>
    <f7-block-title class="title-page text-align-center">
      <f7-link back class="float-left color-black">
        <i class="fal fa-arrow-left size-21"></i>
      </f7-link>
      <span>Восстановление пароля</span>
    </f7-block-title>

    <div v-show="!sentCode && !token">
      <f7-list form class="margin-horizontal elevation-2 form-rounded bg-color-white">
        <f7-list-input :value="user.phone" @input="user.phone = $event.target.value"
                       type="text"
                       label="Номер телефона" placeholder="+7 "
                       id="remindPhone" autocomplete="off"/>
      </f7-list>
      <f7-block>
        <f7-button
                :disabled="loading"
                @click="SendCode"
                large
                fill
                class="size-16"
        >Отправить код</f7-button>
      </f7-block>
    </div>

    <f7-block-title v-show="sentCode || token">{{user.phone}}</f7-block-title>
    <div v-show="sentCode && !token">
      <f7-list form class="margin-horizontal elevation-2 form-rounded bg-color-white">
        <f7-list-input :value="code" @input="code = $event.target.value" type="text" autocomplete="off"
                  label="Проверочный код" id="remindCode" placeholder="" v-mask="'#####'"/>
      </f7-list>
      <f7-block>
        <f7-button :disabled="loading" @click="CheckCode" large fill class="size-16">Проверить код
        </f7-button>
      </f7-block>
    </div>

    <div v-show="token">
      <f7-list form class="margin-horizontal elevation-2 form-rounded bg-color-white">
        <input type="password" style="display:none"/>
        <f7-list-input :value="user.password" @input="user.password = $event.target.value" type="password"
                  autocomplete="off" label="Пароль"/>
        <f7-list-input :value="user.passwordConfirm" @input="user.passwordConfirm = $event.target.value" type="password"
                  autocomplete="off" label="Повтор пароля"/>
      </f7-list>
      <f7-block>
        <f7-button :disabled="loading" @click="ChangePassword" large fill class="size-16">Новый пароль
        </f7-button>
      </f7-block>
    </div>

  </f7-page>
</template>


<script>
  export default {
    data() {
      return {
        user: {
          phone: '',
          password: '',
          passwordConfirm: '',
        },
        type: 'sms_profile',
        code: '',
        sentCode: false,
        token: null,
      };
    },
    computed: {
      comparePasswords() {
        return this.user.password === this.user.passwordConfirm ? true : 'Пароли не совпадают';
      },
      loading() {
        return this.$store.state.loading;
      },
    },
    mounted() {
      this.ResetForm();
      this.Focus('remindPhone');
    },
    methods: {
      Focus(id) {
        this.$nextTick(() => {
          window.$$(`#${id} > input`).focus();
        });
      },
      ResetForm() {
        this.user = {
          phone: '',
          password: '',
          passwordConfirm: '',
        };
        this.sentCode = false;
        this.code = '';
        this.token = null;
        this.Focus('remindPhone');
      },
      SendCode() {
        const app = this;
        app.$store.getters.axl.post('api/token/get-sms', { phone: app.user.phone, type: app.type })
          .then(() => {
            app.sentCode = true;
            app.Focus('remindCode');
          })
          .catch((error) => {
            app.$store.dispatch('HandleError', error);
            app.Focus('remindPhone');
          });
      },
      CheckCode() {
        const app = this;
        app.$store.getters.axl.post('api/token/check-sms', { phone: app.user.phone, type: app.type, code: app.code })
          .then((response) => {
            app.token = response.data.token;
            app.Focus('regLastName');
          })
          .catch((error) => {
            app.$store.dispatch('HandleError', error);
            app.Focus('regCode');
          });
      },
      ChangePassword() {
        const app = this;
        const formData = app.user;
        formData.token = app.token;

        app.$store.getters.axl.post('api/remind', formData)
          .then(() => {
            app.ResetForm();
            app.$f7.dialog.alert('Ваш пароль изменен');
            app.$f7.router.app.views.main.router.navigate('/');
          })
          .catch((error) => {
            app.$store.dispatch('HandleError', error);
          });
      },
    },
  };
</script>
