* {
  user-select: none;
}

#app {
  input, select, textarea {
    -webkit-user-select: initial;
    user-select: initial;
  }

  .page, .page-content {
    padding-top: 0;
  }

  .page-content {
    padding-bottom: 100px;
  }

  .block-title {
    white-space: initial;
    text-align: center;
    margin-top: 15px;
  }

  .list .item-title, .smart-select .item-after, .smart-select-popup .navbar .title, .smart-select-page .navbar .title {
    white-space: initial;
    font-size: 16px;
    line-height: 18px;
  }

  .page > .navbar, .view > .navbar, .views > .navbar {
    position: relative;
  }

  .toolbar {
    top: 0;
    position: relative;
  }

  .toolbar-inner {
    padding: 0;
  }

  .toolbar-top ~ *, .ios .toolbar-top-ios ~ *, .md .toolbar-top-md ~ *, .aurora .toolbar-top-aurora ~ * {
    --f7-page-toolbar-top-offset: none;
  }

  .smart-select-popup .navbar, .smart-select-page .navbar {
    position: relative;
  }

  .ios #navbar {
    transform: none;
  }
}

.authenticated-false {
  .panel-left {
    display: none !important;
  }

  .view-main {
    margin-left: 0 !important;
  }

  .panel-backdrop {
    display: none !important;
  }
}