.center {
  text-align: center;
}

.tab-link {
  &.active:not(.offline),
  &.active:not(.online) {
    background-color: rgba(1, 18, 25, 0.1);
  }

  &.offline {
    background-color: rgba(255, 0, 0, 0.60);

    &.active {
      background-color: rgba(255, 0, 0, 0.70);
    }
  }

  &.online {
    background-color: rgba(0, 255, 0, 0.25);

    &.active {
      background-color: rgba(0, 255, 0, 0.50);
    }
  }

  i {
    font-size: 24px;
    color: #FFFFFF;

    &.settings-icon {
      font-size: 26px;
      margin-top: -2px;
      margin-left: 2px;
    }

    &.a {
      display: inline-block;
    }
    &.b {
      display: none;
    }
  }

  &.active {

    i {
      &.a {
        display: none;
      }
      &.b {
        display: inline-block;
      }
    }
  }
}

.fw-flag {
  width: 44px;
  height: 34px;
  border: 1px solid #EEE;
}

.phone-code-selection, .language-selection {

  .item-title-row {
    background-position-y: 10px !important;

    .item-title span {
      display: block;
      font-size: 12px;
      color: #999;
    }

    .item-after {
      position: relative;
      top: 11px;
    }
  }
}

.content-block-16-mar {
  margin: 16px 0;
}

#select-contact {
  position: relative;

  i {
    position: absolute;
    font-size: 18px;
    left: 10px;
    top: 50%;
    margin-top: -10px;
  }
}

.phone-code-selection-area {
  margin-bottom: 0;
  margin-top: 0;
}

.phone-number-area {
  margin-top: -1px;

  ul:before {
    background: none;
    display: none;
  }

  i {
    font-size: 26px;
    margin-left: 7px;
    margin-top: 5px;
  }
}

.phone-info {
  border-radius: 3px;
  padding: 6px 0;
  text-align: center;
  color: #FFF;
  position: relative;

  i, span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }

  i {
    font-size: 23px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -12px;
  }

  &.phone-good {
    background: #2196F3;

    .icon-close {
      display: none;
    }
  }

  &.phone-bad {
    background: #F44336;

    .icon-check {
      display: none;
    }
  }
}

.mar-topbot-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.settings-icon {
  font-size: 35px;
  margin-left: 4px;
}

.settings-icon-mini {
  font-size: 25px;
  margin-left: 8px;
}

.help-request-item {
  .item-title {
    padding-left: 6px;
  }
}

.phone_number_input_wrap {
  .item-media {
    width: 46px;
  }
}
