.calendar {
  width: calc(100% - 12px);
  bottom: 6px;
  left: 6px;
  border: 2px solid #923a37;
  border-radius: 8px;
  .toolbar-inner{
    background: #000;
    color: #fff;
    border-radius: 4px 4px 0 0;
  }
  .toolbar {
    .icon-next {
      background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23ffffff'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'><path%20d%3D'M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z'%2F><path%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F><%2Fsvg>");
    }
    .icon-prev {
      background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23ffffff'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M15.41%207.41L14%206l-6%206%206%206%201.41-1.41L10.83%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E")
    }
  }
  .calendar-week-header{
    background: rgba(0,0,0,0.5);
    color: #fff;
  }
  .calendar-day.calendar-day-today .calendar-day-number{
    color: #4caf50;
    border: 1px solid #4caf50;
  }
  .calendar-day.calendar-day-selected .calendar-day-number{
    color: white;
    background: #4caf50;
  }
  .calendar-month-selector{
    padding-right: 2px;
  }
  .calendar-year-selector {
    padding-left: 2px;
  }
  .calendar-month-selector a.icon-only,
  .calendar-year-selector a.icon-only {
    width: 30%;
  }
}