.navbar:not(.color-black) {
  background-color: transparent;

  &:after {
    display: none;
  }
}

.md, .ios {
  body {
    font-family: 'Open Sans', sans-serif;
  }

  .button.button-fill,
  .button.button-fill-md,
  .button.button-active,
  .button.tab-link-active,
  .button.button-fill.active-state {
    //background: -webkit-gradient(linear, left top, left bottom, from(#bcbec0), color-stop(#808285), to(#bcbec0));
    //background: linear-gradient(180deg, #bcbec0, #808285, #bcbec0);
    //background-size: 350% 350%;
    background-color: #c98980;
  }
}

.size {
  &-10 {
    font-size: 10px;
  }

  &-11 {
    font-size: 11px;
  }

  &-12 {
    font-size: 12px;
  }

  &-13 {
    font-size: 13px;
  }

  &-14 {
    font-size: 14px;
  }

  &-16 {
    font-size: 16px;
  }

  &-17 {
    font-size: 17px;
  }

  &-18 {
    font-size: 18px;
  }

  &-19 {
    font-size: 19px;
  }

  &-20 {
    font-size: 20px;
  }

  &-21 {
    font-size: 21px;
  }

  &-22 {
    font-size: 22px;
  }

  &-24 {
    font-size: 24px;
  }

  &-25 {
    font-size: 25px;
  }

  &-27 {
    font-size: 27px;
  }

  &-28 {
    font-size: 28px;
  }

  &-30 {
    font-size: 30px;
  }

  &-32 {
    font-size: 32px;
  }

  &-40 {
    font-size: 40px;
  }

  &-50 {
    font-size: 50px;
  }
}

.margin {
  &-right-4 {
    margin-right: 4px;
  }

  &-left-4 {
    margin-left: 4px;
  }

  &-top-4 {
    margin-top: 4px;
  }

  &-bottom-4 {
    margin-bottom: 4px;
  }

  &-horizontal-4 {
    margin-left: 4px;
    margin-right: 4px;
  }

  &-vertical-4 {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &-right-8 {
    margin-right: 8px;
  }

  &-bottom-8 {
    margin-bottom: 8px;
  }

  &-left-8 {
    margin-left: 8px;
  }

  &-top-8 {
    margin-top: 8px;
  }

  &-horizontal-8 {
    margin-left: 8px!important;
    margin-right: 8px!important;
  }
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}
.mx-0{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.padding {
  &-8 {
    padding: 8px;
  }

  &-horizontal-8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  &-vertical-8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  &-horizontal-4 {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  &-vertical-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}

.rounded {
  border-radius: 4px;

  &-top {
    border-radius: 4px 4px 0 0 !important;
  }

  &-bottom {
    border-radius: 0 0 4px 4px !important;
  }

  &-0 {
    border-radius: 0 !important;
  }
}

.text-strong {
  font-weight: bold;
}

.small-caps {
  font-variant: small-caps;
}

.width-auto {
  width: auto !important;
  min-width: auto !important;
}

.row-100 {
  flex: 1;
}

.md, .ios {
  .bg-color-orange {
    background-color: rgba(255, 152, 0, 1) !important;

    &-rgba-1 {
      background-color: rgba(255, 152, 0, 0.1) !important;
    }

    &-rgba-2 {
      background-color: rgba(255, 152, 0, 0.2) !important;
    }

    &-rgba-3 {
      background-color: rgba(255, 152, 0, 0.3) !important;
    }

    &-rgba-4 {
      background-color: rgba(255, 152, 0, 0.4) !important;
    }

    &-rgba-5 {
      background-color: rgba(255, 152, 0, 0.5) !important;
    }

    &-rgba-6 {
      background-color: rgba(255, 152, 0, 0.6) !important;
    }

    &-rgba-7 {
      background-color: rgba(255, 152, 0, 0.7) !important;
    }

    &-rgba-8 {
      background-color: rgba(255, 152, 0, 0.8) !important;
    }

    &-rgba-9 {
      background-color: rgba(255, 152, 0, 0.9) !important;
    }
  }

  .bg-color-red {
    background-color: rgba(244, 67, 54, 1) !important;

    &-rgba-1 {
      background-color: rgba(244, 67, 54, 0.1) !important;
    }

    &-rgba-2 {
      background-color: rgba(244, 67, 54, 0.2) !important;
    }

    &-rgba-3 {
      background-color: rgba(244, 67, 54, 0.3) !important;
    }

    &-rgba-4 {
      background-color: rgba(244, 67, 54, 0.4) !important;
    }

    &-rgba-5 {
      background-color: rgba(244, 67, 54, 0.5) !important;
    }

    &-rgba-6 {
      background-color: rgba(244, 67, 54, 0.6) !important;
    }

    &-rgba-7 {
      background-color: rgba(244, 67, 54, 0.7) !important;
    }

    &-rgba-8 {
      background-color: rgba(244, 67, 54, 0.8) !important;
    }

    &-rgba-9 {
      background-color: rgba(244, 67, 54, 0.9) !important;
    }
  }

  .bg-color-green {
    background-color: rgba(76, 175, 80, 1) !important;

    &-rgba-1 {
      background-color: rgba(76, 175, 80, 0.1) !important;
    }

    &-rgba-2 {
      background-color: rgba(76, 175, 80, 0.2) !important;
    }

    &-rgba-3 {
      background-color: rgba(76, 175, 80, 0.3) !important;
    }

    &-rgba-4 {
      background-color: rgba(76, 175, 80, 0.4) !important;
    }

    &-rgba-5 {
      background-color: rgba(76, 175, 80, 0.5) !important;
    }

    &-rgba-6 {
      background-color: rgba(76, 175, 80, 0.6) !important;
    }

    &-rgba-7 {
      background-color: rgba(76, 175, 80, 0.7) !important;
    }

    &-rgba-8 {
      background-color: rgba(76, 175, 80, 0.8) !important;
    }

    &-rgba-9 {
      background-color: rgba(76, 175, 80, 0.9) !important;
    }
  }

  .bg-color-blue {
    background-color: rgba(0, 71, 143, 1) !important;

    &-rgba-1 {
      background-color: rgba(0, 71, 143, 0.1) !important;
    }

    &-rgba-2 {
      background-color: rgba(0, 71, 143, 0.2) !important;
    }

    &-rgba-3 {
      background-color: rgba(0, 71, 143, 0.3) !important;
    }

    &-rgba-4 {
      background-color: rgba(0, 71, 143, 0.4) !important;
    }

    &-rgba-5 {
      background-color: rgba(0, 71, 143, 0.5) !important;
    }

    &-rgba-6 {
      background-color: rgba(0, 71, 143, 0.6) !important;
    }

    &-rgba-7 {
      background-color: rgba(0, 71, 143, 0.7) !important;
    }

    &-rgba-8 {
      background-color: rgba(0, 71, 143, 0.8) !important;
    }

    &-rgba-9 {
      background-color: rgba(0, 71, 143, 0.9) !important;
    }
  }

  .bg-color-black {
    background-color: rgba(0, 0, 0, 1) !important;

    &-rgba-1 {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }

    &-rgba-2 {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }

    &-rgba-3 {
      background-color: rgba(0, 0, 0, 0.3) !important;
    }

    &-rgba-4 {
      background-color: rgba(0, 0, 0, 0.4) !important;
    }

    &-rgba-5 {
      background-color: rgba(0, 0, 0, 0.5) !important;
    }

    &-rgba-6 {
      background-color: rgba(0, 0, 0, 0.6) !important;
    }

    &-rgba-7 {
      background-color: rgba(0, 0, 0, 0.7) !important;
    }

    &-rgba-8 {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }

    &-rgba-9 {
      background-color: rgba(0, 0, 0, 0.9) !important;
    }
  }

  .bg-color-vine {
    background-color: rgba(103, 53, 52, 1) !important;

    &-rgba-1 {
      background-color: rgba(103, 53, 52, 0.1) !important;
    }

    &-rgba-2 {
      background-color: rgba(103, 53, 52, 0.2) !important;
    }

    &-rgba-3 {
      background-color: rgba(103, 53, 52, 0.3) !important;
    }

    &-rgba-4 {
      background-color: rgba(103, 53, 52, 0.4) !important;
    }

    &-rgba-5 {
      background-color: rgba(103, 53, 52, 0.5) !important;
    }

    &-rgba-6 {
      background-color: rgba(103, 53, 52, 0.6) !important;
    }

    &-rgba-7 {
      background-color: rgba(103, 53, 52, 0.7) !important;
    }

    &-rgba-8 {
      background-color: rgba(103, 53, 52, 0.8) !important;
    }

    &-rgba-9 {
      background-color: rgba(103, 53, 52, 0.9) !important;
    }
  }

  .bg-red-gradient {
    background: linear-gradient(to bottom, #bb041d, #ff4405);
  }
  
  .color-brown{
    background: #923a37;
  }
}

#app .page {
  background: #f2f2f2;
}

.flex-col .page-content {
  display: flex;
  flex-direction: column;
}

.block-title {
  font-size: 1.2rem;
  color: #000 !important;
  flex-shrink: 0;
  white-space: normal;
  line-height: 1.2!important;
}

.link {
  .icon-back {
    width: 27px;
    height: 27px;
  }
}

.flex-direction {
  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }
}

.md, .ios {
  .primary,
  .info,
  .v-tabs__container {
    border-color: #ae0e15 !important;
    color: #fff !important;
    background-color: #673534;
    //background: linear-gradient(90deg, #ed1c24, #000000, #ae0e15) !important;
    //background-size: 350% 350% !important;
  }

  .secondary {
    //background: linear-gradient(180deg, #923a37, #000000, #923a37);
    //background-size: 350% 350%;
    background-color: #923a37!important;
    color: #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    text-shadow: 0 0 1px #000;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 1px;
      width: 100%;
    }

    &:before {
      top: 1px;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:after {
      bottom: 0;
      background-color: #777;
    }
  }

  .color-primary{
    color: #ed1c24;
  }
}

.border-1 {
  border: 1px solid transparent;
}

.secondary--text {
  color: #be3e44 !important;
}

.secondary--border {
  border-color: #be3e44 !important;
}

.primary--text,
.accent--text {
  color: #333 !important;
  caret-color: #333 !important;
}

.popup {
  .title {
    justify-content: center !important;
  }
}

.md .range-slider.color-red .range-bar-active,
.md .range-slider.color-red .range-knob,
.md .range-slider.color-red .range-knob-label,
.md .range-slider.color-red .range-knob-label:before {
  background-color: #be3e44;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pushing-check{
  .icon-checkbox{
    margin-right: 16px!important;
  }
}

.md, .ios {
  .border-color {
    &-white {
      border-color: rgba(255, 255, 255, 1) !important;

      &-rgba-1 {
        border-color: rgba(255, 255, 255, 0.1)
      }

      &-rgba-2 {
        border-color: rgba(255, 255, 255, 0.2)
      }

      &-rgba-3 {
        border-color: rgba(255, 255, 255, 0.3)
      }

      &-rgba-4 {
        border-color: rgba(255, 255, 255, 0.4)
      }

      &-rgba-5 {
        border-color: rgba(255, 255, 255, 0.5)
      }

      &-rgba-6 {
        border-color: rgba(255, 255, 255, 0.6)
      }

      &-rgba-7 {
        border-color: rgba(255, 255, 255, 0.7)
      }

      &-rgba-8 {
        border-color: rgba(255, 255, 255, 0.8)
      }

      &-rgba-9 {
        border-color: rgba(255, 255, 255, 0.9)
      }
    }

    &-orange,
    &-yellow {
      border-color: rgba(255, 167, 38, 1) !important;

      &-rgba-1 {
        border-color: rgba(255, 167, 38, 0.1)
      }

      &-rgba-2 {
        border-color: rgba(255, 167, 38, 0.2)
      }

      &-rgba-3 {
        border-color: rgba(255, 167, 38, 0.3)
      }

      &-rgba-4 {
        border-color: rgba(255, 167, 38, 0.4)
      }

      &-rgba-5 {
        border-color: rgba(255, 167, 38, 0.5)
      }

      &-rgba-6 {
        border-color: rgba(255, 167, 38, 0.6)
      }

      &-rgba-7 {
        border-color: rgba(255, 167, 38, 0.7)
      }

      &-rgba-8 {
        border-color: rgba(255, 167, 38, 0.8)
      }

      &-rgba-9 {
        border-color: rgba(255, 167, 38, 0.9)
      }
    }

    &-red {
      border-color: rgba(211, 47, 47, 1) !important;

      &-rgba-1 {
        border-color: rgba(211, 47, 47, 0.1)
      }

      &-rgba-2 {
        border-color: rgba(211, 47, 47, 0.2)
      }

      &-rgba-3 {
        border-color: rgba(211, 47, 47, 0.3)
      }

      &-rgba-4 {
        border-color: rgba(211, 47, 47, 0.4)
      }

      &-rgba-5 {
        border-color: rgba(211, 47, 47, 0.5)
      }

      &-rgba-6 {
        border-color: rgba(211, 47, 47, 0.6)
      }

      &-rgba-7 {
        border-color: rgba(211, 47, 47, 0.7)
      }

      &-rgba-8 {
        border-color: rgba(211, 47, 47, 0.8)
      }

      &-rgba-9 {
        border-color: rgba(211, 47, 47, 0.9)
      }
    }

    &-green {
      border-color: rgba(56, 142, 60, 1) !important;

      &-rgba-1 {
        border-color: rgba(56, 142, 60, 0.1)
      }

      &-rgba-2 {
        border-color: rgba(56, 142, 60, 0.2)
      }

      &-rgba-3 {
        border-color: rgba(56, 142, 60, 0.3)
      }

      &-rgba-4 {
        border-color: rgba(56, 142, 60, 0.4)
      }

      &-rgba-5 {
        border-color: rgba(56, 142, 60, 0.5)
      }

      &-rgba-6 {
        border-color: rgba(56, 142, 60, 0.6)
      }

      &-rgba-7 {
        border-color: rgba(56, 142, 60, 0.7)
      }

      &-rgba-8 {
        border-color: rgba(56, 142, 60, 0.8)
      }

      &-rgba-9 {
        border-color: rgba(56, 142, 60, 0.9)
      }
    }
  }
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.long-string{
  .item-after{
    white-space: normal;
    flex-shrink: unset;
    text-align: right;
  }
  .item-title{
    flex-shrink: 0;
  }
}
.register-calendar .item-inner {
  flex-direction: column;
}
.register-city {
  .smart-select .item-after{
    max-width: 100%;
    padding-left: 0;
  }
  .item-inner {
    flex-direction: column;
  }
}

.pageEpsCart label.item-radio > .icon-radio{
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .sm-hide, .sm-show {
    display: none !important;
  }
}

@media screen and (max-width: 400px) {
  .sm-pad-8,
  .xs-padding-8{
    padding-left: 8px !important;
    padding-right: 8px !important;;
  }
  .md .xs-margin-8{
    margin: 8px!important;
  }
}

//400

@media screen and (max-width: 500px) {
  .block-title {

    &.title-page {
      white-space: normal;
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .block-footer.bottom-link {
    display: flex;
    flex-direction: column;

    a {
      width: 100%;
      &:first-child {
        margin-bottom: 8px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .block-footer.size-18 {
    font-size: 16px;
  }
}//350