.bottom-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0!important;
  min-width: auto!important;
  width: 50px!important;
  height: 50px!important;
  border-radius: 50% !important;
}

.lk-list{
  .item-title {
    white-space: normal;
  }
  .item-after{
    white-space: normal;
    flex-shrink: unset;
    text-align: right;
  }
  .item-content{
    padding-left: 0!important;
  }
  .item-inner{
    padding-left: 16px;
  }
  .user-balance{
    .item-after {
      font-size: 1.2rem;
    }
  }
}

.user-info{
  &--head{
    display: flex;
    align-items: center;
    padding: 8px 0;
    .block-header{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      flex-shrink: 0;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .user-name{
    color: #fff;
    font-size: 1rem;
    line-height: 1.3;
    padding-right: 16px;
  }
}

.btn-outside{
  z-index: 10;
}
.plus-btn{
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  filter: blur(0.6px);
}
@media screen and (max-width: 400px) {
  .lk-list .item-title{
    font-size: 0.9rem;}
}