input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.form-rounded {
  border-radius: 4px;
  ul {
    &:before,
    &:after {
      display: none !important;
    }
  }
}
.item-input-focused {
  .item-input-wrap:after {
    background: #000 !important;
  }
  .item-label {
    color:      #000 !important;
    font-size:  12px !important;
    transition: 0.2s;
  }
}
.item-label {
  font-size:  14px !important;
  transition: 0.2s;
}
.page-red {
  form {
    .item-input-focused {
      .item-input-wrap:after {
        background: #fff !important;
      }
      .item-label {
        color: #fff !important;
      }
    }
  }
  select option {
    background-color: #850003;
    padding:          5px;
  }
}
.md .page-red .smart-select {
  .item-after {
    color: #fff;
  }
}
.md .smart-select {
  .item-after {
    font-size:   16px;
    line-height: normal;
    color:       #212121;
  }
}
.smart-select-page {
  .page-content {
    > .list {
      margin:             16px;
      background:         #fff;
      border-radius:      4px;
      -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
      box-shadow:         0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    }
  }
  .navbar {
    .title {
      justify-content: flex-start;
    }
  }
}
.md label.item-radio input[type="radio"]:checked ~ .icon-radio,
.md label.item-radio input[type="radio"]:checked ~ * .icon-radio,
.md .radio input[type="radio"]:checked ~ .icon-radio {
  border-color: #000;
}
.md label.item-radio input[type="radio"]:checked ~ .icon-radio:after,
.md label.item-radio input[type="radio"]:checked ~ * .icon-radio:after,
.md .radio input[type="radio"]:checked ~ .icon-radio:after {
  background-color: #000;
}
.md label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox,
.md label.item-checkbox input[type="checkbox"]:checked ~ * .icon-checkbox,
.md .checkbox input[type="checkbox"]:checked ~ i {
  border-color:     #000;
  background-color: #000;
}
#userForm {
  .item-inner {
    justify-content: flex-start;
  }
}