.publication{
  .news__head{
    margin-bottom: 12px;
  }
  .news__title{
    width: auto;
    margin-bottom: 8px;
    background-color: transparent;
    color: #333;
    font-weight: 600;
    padding: 0;
    letter-spacing: normal;
  }
}

.instructions{
  &__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px!important;
  }

  &__item{
    max-width: 360px;
    min-width: 235px;
    width: 50%;
  }

  &__head{
    flex-direction: column;
    align-items: flex-start;
    text-transform: none !important;
  }

  &__card{
    height: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    .card-header {
      padding: 0;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      &.with-img{
        min-height: 200px;
      }
    }
    .card-content{
      flex-grow: 1;
    }
  }
  .noread .instructions__card {
    &:before {
      content: 'new';
      position: absolute;
      right: 0;
      top: 0;
      padding: 2px 12px;
      border-radius: 0 4px 0 0;
      background-color: #4caf50;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      z-index: 5;
      box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
  &__title{
    font-size: 17px;
    line-height: 1.33;
    padding: 4px 16px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    letter-spacing: 0.7px;
    width: 100%;
  }

  .card-footer{
    justify-content: flex-end;
  }
  &__read-btn{
    width: auto!important;
    display: flex !important;
    -ms-align-items: center;
    align-items: center;
    i{
      position: relative;
    }
  }
  &__img{
    max-width: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.instruction{
  .instructions__head{
    margin-bottom: 12px;
  }
  .instructions__title{
    width: auto;
    margin-bottom: 8px;
    background-color: transparent;
    color: #333;
    font-weight: 600;
    padding: 0;
    letter-spacing: normal;
  }

  .block-footer{
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .instructions__item{
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .instruction{
    .block-footer{
      flex-direction: column-reverse;
      .button:first-child{
        margin-top: 8px;
      }
    }
  }
}
