.login {
  padding-top: 70px;
  &__tabs-nav {
    margin-top: 65px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    padding-top: 56px;
    &__tabs-nav {
      margin-top: 56px;
    }
  }
}
