#app #navbar {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: none;

  .title {
    position: absolute;
    padding: 0;
    width: 70px;
    margin-right: 0;
    margin-left: -35px;
    top: 0;
    left: 50% !important;
    text-align: center;
    height: 100%;
    font-size: 14px;
    line-height: 16px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  #app.authenticated-true #navbar {
    left: 260px;
    width: calc(100% - 260px);
  }
}