.top-notify{
  position: relative;

  .counter{
    position: absolute;
    top: 8px;
    right: 3px;
    font-size: 12px;
    border-radius: 50% ;
    color: #000;
    background: #fff;
    min-width: 14px;
    height: 14px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}

.notifications__card{
  &--body{
    display: flex;
  }
  &--icon{
    width: 30px;
    flex-shrink: 0;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .card-header{
    font-weight: 600;
    background: rgba(0, 0, 0, 0.12);

    small{
      white-space: nowrap;
    }
  }
}

.mobileNotifications__item {
  &.noread .notifications__card {
    &:before {
      content: 'new';
      position: absolute;
      right: 0;
      top: 0;
      padding: 0px 8px;
      border-radius: 0 4px 0 0;
      background-color: #4caf50;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 11px;
      z-index: 5;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }
}
@media (max-width: 500px) {
  .notifications__card {
    .card-header {
      flex-direction: column;
      small{
        align-self: flex-end;
      }
    }
    &--title{
      align-self: flex-start;
    }
  }
}
