.rules {
  .b-quote__i{
    overflow-x: auto;
  }
  table{
    width: 100%;
    min-width: 500px;
  }

  .news__text{
    overflow-x: hidden;
    >table {
      width: auto;
      min-width: auto;
    }
  }
}