.sale-table{
  .item-inner,
  .item-content{
    padding: 0!important;
  }
  .table-wrap{
    width: calc(100% - 32px);
    padding: 8px 16px;
    position: relative;

    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
    }
    &:before{
      bottom: 0;
      background: rgba(0,0,0,0.2);
    }
    &:after{
      bottom: 1px;
      background: rgba(255,255,255,0.7);
    }

    &:nth-child(even){
      background-color: rgba(0,0,0,0.05);
    }
    &:nth-child(odd){
      background-color: rgba(0,0,0,0.1);
    }
  }
  .item-inner {
    display: flex;
    flex-direction: column;
  }

  .st-head{
    width: calc(100% - 32px);
    border-radius: 4px 4px 0 0 ;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2);
    padding: 8px 16px;
    border-bottom: 2px solid rgba(0,0,0,0.4);
  }
  .st-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .st-footer{
    width: 100%;
  }

  .st-title{
    font-size: 0.8rem;
    color: #666;
    font-weight: 600;
    margin-right: 8px;
    width: 100px;
  }

  .st-name{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .st-bonus{
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .item-input-wrap{
      background: #fff;
      border-radius: 12px;

      input{
        text-align: center;
        border-radius: 12px;
        transition: 0.3s;
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0;
        }

      }
      &:after{
        content: '+';
        position: absolute;
        left: calc(100% - 3px);
        width: 10px;
        height: 10px;
        top: calc(50% - 7px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 0 5px 5px 0;
        padding: 2px 2px 2px 0;
      }
      &:before{
        content: '-';
        position: absolute;
        left: -7px;
        width: 10px;
        height: 10px;
        top: calc(50% - 7px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5px 0 0 5px;
        padding: 0 0 4px 2px;
      }
    }

  }

  .bonus-tit{
    margin-right: 88px;
  }

  .div-slider{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    margin-right: 8px;
    margin-bottom: 4px;

    .st-title{
      margin-right: 8px;
    }

    input{
      max-width: 80px;
      text-align: center;
      background-color: #fff;
      border-radius: 10px;
      padding: 0 4px;
      border: 1px solid rgba(0,0,0,0.2);
    }
  }

  .st-amount{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .del-position{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #923a37;
    border-radius: 0 0 0 50px;
    display: flex;
    font-size: 28px;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 5px;
  }
}

.select-prod{
  .item-content{
    &:before{
      font-family: "Font Awesome 5 Pro";
      content: '\f46d';
      font-size: 24px;
      margin-right: 20px;
      padding-left: 4px;
      color: #666;
      font-weight: 400;
    }
  }
}

.mini-image{
  .item-media{
    min-width: 25px!important;
    text-align: center;
  }
}

.calendar-wrap{
  width: 100%;
  display: flex;
  align-items: center;

  .title-ico{
    width: 150px;
    flex-shrink: 0;
  }
  .calendar-date{
    text-align: right;
    flex-grow: 1;
  }
}

.number-block {
  .item-inner{
    display: flex!important;
    align-items: center;
    padding-right: 0!important;
  }

  .label-number {
    font-size: 16px!important;
    color: #333;
    width: 100px !important;
  }

  .item-input-wrap{
    width: calc(100% - 85px);

    input{
      text-align: right;
      padding-right: 16px;
    }
  }
}

.total-block{
  background-color: rgba(0, 0, 0, 0.1);

  .item-inner{
    justify-content: flex-start;
  }
}

.chek-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;

  .img-check {
    margin-right: 8px;
    position: relative;
    width: calc(25% - 8px);
    min-width: 120px;

    .delete-btn{
      position: absolute;
      right: 0;
      top: 0;
      background:rgba(255,255,255, 0.5);
      border: 1px solid rgba(255,255,255, 1);
      border-radius: 50%;
    }

    .imageUpload img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sales-btn-wrap{
  padding: 8px;
  display: flex;
  justify-content: space-between;

  .button{
    padding-left: 24px;
    padding-right: 24px;

  }
}

.addSale{
  .foot-history{
    flex-wrap: wrap;
  }
}

/* history-table */

.history-sales{
  display: flex;
  flex-direction: column;

  .hs-head,
  .hs-body{
    width: calc(100% - 16px);
    display: flex;
    font-size: 0.8rem;
  }

  .hs-head{
    font-weight: 600;
    color: #666;
    margin: 4px 0;
    padding: 4px 8px;
  }

  .hs-body{
    color: #333;
    padding: 4px 8px;
    &:nth-child(even){
      background: rgba(0,0,0,0.06);
    }
    &:nth-child(odd){
      background: rgba(0,0,0,0.03);
    }
  }

  .hs-number{
    width: 20px;
    flex-shrink: 0;
  }
  .hs-name{
    flex-grow: 1;
  }
  .hs-amount{
    width: 60px;
    text-align: center;
    flex-shrink: 0;
  }
  .hs-bonus{
    width: 60px;
    text-align: center;
    flex-shrink: 0;
  }
}

.sales-card{
  .sup-header{
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -20px;
    right: 0;
    height: 20px;
    line-height: 1;
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid transparent;
    padding: 0 16px 0 8px;
  }

  .status-point{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translateX(12px);
    margin-left: -8px;
    border: 1px solid rgba(0,0,0,0.1);
  }
  .card-header{
    border-radius: 0;
    font-size: 12px;
    min-height: auto;
  }

  .sh-btn{
    display: flex;
    justify-content: space-between;
  }

  &--point{
    margin: 0 16px 40px 16px!important;
  }
}


.sale-footer-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.8rem;
  position: relative;

  &:before{
    content: '';
    position: relative;
    bottom: 9px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  &:after{
    content: '';
    position: relative;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
  }

  &:nth-child(even){
    background: rgba(0,0,0,0.1);
  }
  &:nth-child(odd){
    background: rgba(0,0,0,0.05);
  }

  .sale-time,
  .sale-note,
  .sale-comment{
    display: flex;
    align-items: center;
  }
  .sale-comment{
    align-items: flex-start;

    .comment-text * {
      padding: 0;
      margin: 0;
    }
  }
}

.promo-title{
  font-size: 16px!important;
  border-radius: 4px 4px 0 0!important;
}


.actions{
  &__description{
    padding: 1px 16px;
    font-size: 13px;
    background-color: rgba(201, 137, 128, 0.2);
    img{
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media only screen and (max-width: 500px) {
  .sales-btn-wrap {
    flex-wrap: wrap;
    .button {
      font-size: 14px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .smart-select-popup{
    label.item-radio > .icon-radio{
      margin-right: 16px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .sales-btn-wrap {
    .btn-bottom {
      width: 100%;

      &:first-child{
        margin-bottom: 12px;
      }
    }
  }

  .sales-card .sh-btn{
    flex-direction: column-reverse;
    .button:first-child{
      margin-top: 8px;
    }
  }

  .sale-table {
    .st {
      &-name{
        font-size: 14px;
        font-weight: 500;
      }
    }
    .table-wrap {
      width: calc(100% - 16px);
      padding: 8px;
    }
    .bonus-tit {
      margin-right: 80px;
    }
  }
}
