#app {
  .toolbar {
    a {
      background-color: rgba(237, 28, 36, 0.7);
      color: rgba(255, 255, 255, 0.7);
      padding-left: 8px;
      padding-right: 8px;
      white-space: normal;
      line-height: 1.3;
      text-align: center;
      &.tab-active,
      &.tab-link-active {
        border-bottom: 4px solid #fff;
        color: #fff;
        background-color: #ed1c24;
      }
    }
  }
  .tabbar a{
    &.link{
      text-transform: none;
      line-height: 15px;
    }
  }

}