#message-sendbox{

  textarea{
    width: 100%;
    padding: 8px;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }
  position: sticky;
  bottom: 0;
}

#messages-box{
  overflow: auto;
  .message-wrap{
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    &:nth-child(even){
      background-color: rgba(0,0,0,0.03);
    }
    &:nth-child(odd){
      background-color: rgba(255,255,255,0.7);
    }
  }
  .message-avatar{
    width: 40px;
    height: 40px;
    align-self: flex-start;

    img{
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .ticket-title{
    padding: 8px 16px;
    font-weight: 600;
  }
}
.tickets{
  .message-wrap{
    display: flex;
    align-self: flex-start;
    padding: 8px 16px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;

    &:nth-child(odd){
      background-color: rgba(0,0,0,0.05);
    }
    &:nth-child(even){
      background-color: rgba(255,255,255,0.7);
    }

    .ticket-title{
      font-weight: 600;
      line-height: 1.2;
      padding-bottom: 7px;
    }

    .message-header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .ico-message{
    position: relative;
  }
  .counter_messages{
    font-family: "Open Sans";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
  }

  .message-text{
    margin-top: 8px;
    word-break: break-word;
  }
  img{
    max-width: 100%;
  }
}
.message-file{
  img{
    max-width: 100%;
  }
}

.ticket{
  .page-content {
    max-height: 100vh;
    overflow: hidden;
  }
  .block-header{
    font-weight: 600;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    margin: 0 16px;
    padding: 4px 16px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 9px 20px rgba(0,0,0,0.4);
  }
  img{
    max-width: 100%;
  }
}