<template>
  <v-container fluid fill-height>
    <v-layout row wrap max>
      <v-flex md8 offset-md2 xs12>
        <v-card class="mb-5">
          <v-card-title class="primary">
            <h3 class="headline">Вход</h3>
          </v-card-title>
          <v-card-text>
            <v-tabs v-model="active" slider-color="white">
              <v-tab href="#tab-1">Стандартный вход</v-tab>
              <v-tab href="#tab-2">Участники Pro Club</v-tab>
              <v-tab-item value="tab-1">
                <v-card flat>
                  <v-card-text>
                    <v-text-field type="text" label="Номер телефона" v-model="regular.login.login"
                                  v-mask="'+7 (###) ###-####'" :rules="[rules.phone, rules.required]"></v-text-field>
                    <v-text-field label="Пароль" v-model="regular.login.password" required autocomplete="new-password"
                                  :append-icon="regular.login.hidePw ? 'visibility_off' : 'visibility'"
                                  @click:append="regular.login.hidePw = !regular.login.hidePw"
                                  :type="regular.login.hidePw ? 'password' : 'text'" counter
                                  :rules="[rules.password]"></v-text-field>
                  </v-card-text>
                  <v-card-actions class="pa-3 justify-space-between">
                    <v-btn type="submit" :disabled="!regularLoginValidate || loading"
                           @click="UserLogin(regular)">Войти</v-btn>
                    <v-btn to="/remind">Забыли пароль</v-btn>
                  </v-card-actions>
                </v-card>
              </v-tab-item>
              <v-tab-item value="tab-2">
                <v-card flat>
                  <v-card-text>
                    <v-text-field type="text" label="Номер клубной карты" v-model="profclub.login.login"
                                  v-mask="'########'" :rules="[rules.required, rules.clubCard]"></v-text-field>
                    <v-text-field label="Пароль" v-model="profclub.login.password" required autocomplete="new-password"
                                  :append-icon="profclub.login.hidePw ? 'visibility_off' : 'visibility'"
                                  @click:append="profclub.login.hidePw = !profclub.login.hidePw"
                                  :type="profclub.login.hidePw ? 'password' : 'text'" counter
                                  :rules="[rules.password]"></v-text-field>
                  </v-card-text>
                  <v-card-actions class="pa-3 justify-space-between">
                    <v-btn type="submit" :disabled="!profclubLoginValidate || loading"
                           @click="UserLogin(profclub)">Войти</v-btn>
                    <v-btn to="/remind">Забыли пароль</v-btn>
                  </v-card-actions>
                </v-card>
              </v-tab-item>
            </v-tabs>
          </v-card-text>
          <v-card-actions class="pa-3 justify-space-between">
            <v-btn to="/registration">Регистрация</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script src="./Login.js"></script>
