<template>
  <v-container fluid fill-height>
    <v-layout row wrap max>
      <v-flex lg4 offset-lg4 md8 offset-md2 xs12>
        <v-card>
          <v-card-title class="primary">
            Вход в программу
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script src="./LoginExternal.js"></script>
<style src="./LoginExternal.scss" lang="scss" scoped></style>
