.courses {
  &__card {
    transition: transform 0.3s;
    &:hover {
      cursor: pointer;
      transition: transform 0.3s;
      transform: scale(1.06);
    }
  }
  &__title {
    background: rgba(35, 20, 70, 0.8);
  }
  &__bonuses {
    font-size: 1.3em;
    font-weight: 600;
  }
  .same-head{
    min-height: 60px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }
  .bg-pink{
    background-color: rgba(170, 170, 200, 0.7);
  }
  .color-primary{
    color: #231446;
  }
  .flex-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }
}

.test {
  &-title {
    font-size: 1.2em;
    font-weight: 600;

    > p {
      font-weight: normal;
    }
  }
  &-body {
    background: rgba(255, 255, 255, 0.8);
  }
}
#app .test-footer{
  padding-top: 8px!important;
  .v-btn {
    text-shadow: none;
  }
}