.v-text-field.message {
  .v-input__slot{
    padding-left: 0!important;
  }
  .v-text-field__details {
    padding: 0;
  }
}

.filePreview {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  .file{
    border-radius: 8px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.5);
  }

  img {
    max-width: 100%;
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 4px 8px rgba(0,0,0,0.25);
  &:hover {
    cursor: pointer;
    color: red;
  }
}