.head-top{
  align-items: flex-start!important;
}
.instructions {
  height: auto!important;
  &__head{
    flex-direction: column;
    align-items: flex-start;
    text-transform: none !important;

    .instructions__date{
      font-size: 0.9rem;
      margin-top: 12px;
    }
  }

  &__card{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  .noread .instructions__card{
    &:before {
      content: 'new';
      position: absolute;
      right: 0;
      top: 0;
      padding: 2px 12px;
      background-color: green;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      z-index: 5;
      box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }

  &__title{
    font-size: 17px;
    line-height: 1.33;
  }
}

@media (max-width: 500px) {
  .instructions {
    .px-3 {
      padding: 0 !important;
    }
    .headline {
      font-size: 18px !important;
      line-height: 1.33 !important;
    }
    &__title{
      font-size: 16px;
    }
  }
}

@media (max-width: 375px) {
  .instructions__button{
    flex-direction: column-reverse;
    .v-btn{
      width: 100%;
      &+.v-btn{
        margin-left: 0;
        margin-bottom: 8px;
      }
    }
  }
}
