.menu-btn{
  position: relative;
  border-radius: 0;

  .menu-title{
    border-radius: 0;
    min-width: 88px;
    height: 28px;
    position: absolute;
    top: calc(100% + 20px);
    left: -10px;
    margin-left: 0!important;
    color: #fff;
    background: #ed1b24;
    padding: 3px 6px;
    text-align: center;
    opacity: 0;
    transform: translateY(-30px);

    &.home{
      display: none;
    }
    &.long-title {
      font-size: 0.8rem;
      padding: 5px 0 0 0;
    }
    &.double-string{
      height: auto;
      white-space: normal;
    }
  }

  &.menu-accent{
    background-color: #bcbec0;
    .v-btn__content{
      color: #fff!important;
    }
    &.v-btn--active{
      .svg-inline--fa{
        color: #969696 !important;
      }
    }
  }

  &.number{
    .menu-title {
      font-size: 1.2rem;
      padding: 2px 6px;
    }
  }

  &:hover > .v-btn__content .menu-title{
    transform: translateY(0);
    opacity: 1;
    transition: .3s cubic-bezier(.25,.8,.5,1),color 1ms;
  }

  &.v-btn--active > .v-btn__content .menu-title{
    transform: translateY(0);
    opacity: 1;
    font-size: 0.8rem;
    padding: 0 0 2px 0;
    height: 20px;
    background-color: #fff;
    color: #969696;
    &.double-string{
      height: auto;
    }
  }



  &.notify{
    .v-badge{
      position: absolute;
      right: 15px;
      top: 0;
    }
  }
}

.menu__list {
  .v-btn__content {
    color: #bcbec0;
    i {
      font-size: 24px;
    }
  }
  .v-btn--active{
    .v-btn__content {
      color: #969696!important;
    }
  }
}

#app .menu__list .menu-btn.v-btn--active,
#app .menu__list .menu-btn:hover {
  color: #969696!important;
  opacity: 1;
}
#app .menu__list .v-btn--active:before, 
#app .menu__list .v-btn:focus:before{
  background-color: #fff;
}

#app .menu__list .menu-btn:not(.v-btn--active).v-btn:hover:before{
  background-color: #ed1b24;
  opacity: 1;
}

@media (min-width: 1200px) {
  .menu-btn .menu-title{
    left: -16px;
  }
}

@media only screen and (min-width: 1263px) {
  .hidden-md-and-up {
    display: none !important;
  }
}

@media only screen and (max-width: 1263px) {
  .logo-wraper{
    width: 75px;
    height: 75px;
    top: -10px;
  }
  #app #header .v-toolbar__title {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-left: -48px;
  }

  .v-toolbar__side-icon{
    .v-btn__content .v-icon{
      transition: none;
    }
  }
}

@media only screen and (max-width: 450px) {
  .v-toolbar__side-icon{
    margin: 6px !important;
    &:after {
      display: none;
      content: '';
    }
  }
}
