.top-menu-btn{
  .v-btn__content{
    color: #808285;
  }
}

.v-navigation-drawer>.v-list:not(.v-list--dense) .v-list__tile{
  border-bottom: 1px solid #ddd;
}

.menu-accent {
  background-color: #999;
  .v-list__tile,
  .svg-inline--fa{
    color: #fff!important;
  }
}

#app {
  &.menu_left #header .v-toolbar__title {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  .v-list__tile{
    position: relative;
    padding-left: 4px;
    &__action{
      justify-content: center;
    }

    &:before{
      content: '';
      width: 0;
      height: calc(100% + 2px);
      position: absolute;
      left: 0;
      top: -1px;
      background-color: transparent;
      transition: 0.3s;
    }

    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      transition: 0.2s;
    }

    &--avatar {
      background: #673534;
      border: 0;
      margin: 0;
      padding: 0 5px 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: auto;

      .drawer{
        &-logo{
          margin-bottom: 20px;
          height: 50px;
          width: 50px;
        }
        &-user,
        &-mail{
          font-size: 14px;
          color: #fff;
          letter-spacing: 0.7px;
          line-height: 1.3;
        }
      }
    }
  }
  .v-list__tile--active.v-list__tile{

    &:before{
      background-color: rgba(237, 27, 36, 1);
      width: 5px;
      transition: 0.3s;
    }

    &:after{
      width: 100%;
      background-color: rgba(237, 27, 36, 0.7);
      transition: 0.3s;
    }

    .svg-inline--fa{
      color: inherit;
    }
  }

  .v-list__tile--avatar {
    border-bottom: 0;
  }
}

.left-menu__list{
  .v-list__tile__action i{
    font-size: 24px;
  }
}
.ico-reverse{
  transform: rotateY(180deg);
}
@media only screen and (max-width: 1264px) {
  .menu_left #loader-gif {
    left: calc(50% - 100px);
  }
  #app.menu_left #header .v-toolbar__title{
    margin-left: -48px;
  }
}
