.news {
  height: auto!important;
  &__head{
    flex-direction: column;
    align-items: flex-start;
    text-transform: none !important;

    .news__date{
      font-size: 0.9rem;
      margin-top: 12px;
    }
  }

  &__card{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  .noread .news__card{
    &:before {
      content: 'new';
      position: absolute;
      right: 0;
      top: 0;
      padding: 2px 12px;
      background-color: green;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      z-index: 5;
      box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
  &__title{
    font-size: 19px;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
#app .news .v-card__title{
  text-transform: none;
}
@media (max-width: 500px) {
  .news{
    .px-3 {
       padding: 0 !important;
     }
    .headline {
      font-size: 18px !important;
      line-height: 1.33 !important;
    }
    &__title{
      font-size: 16px;
    }
  }
}
