.mobileNotifications{
  .v-list {
    background-color: rgba(255,255,255,0.8);
    &__tile {
      padding: 8px 16px!important;
      height: auto;
      &--avatar {
        background: transparent !important;
      }
      &__title{
        white-space: normal;
        height: auto;
      }
    }
  }
  &__item{
    position: relative;
    &:not(.readed) {
      background-color: rgba(237, 27, 36, 0.2);
      &:before {
        content: 'new';
        color: #fff;
        position: absolute;
        left: -20px;
        top: calc(75% - 25px);
        line-height: 1;
        width: 50px;
        padding: 2px 8px;
        background: #ed1b24;
        transform: rotate(-90deg);
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .v-list__tile__title{
        font-weight: 600;
      }
      .v-list__tile__sub-title,
      .v-list__tile__action-text{
        color: #333;
      }
      &:nth-child(even){
        background: rgba(237, 27, 36, 0.25)!important;
      }
    }
    &:nth-child(even){
      background: rgba(0,0,0,0.05)!important;
    }
  }
  &__date{
    flex-shrink: 0;
    padding-left: 8px;
  }
}

@media (max-width: 500px) {
  .mobileNotifications{
    .v-list {
      &__tile{
        align-items: flex-start;
        flex-direction: column;
        &__avatar{
          margin-top: 0;
          min-width: auto;
          align-self: center;
          margin-bottom: 4px;
        }
      }
    }
    &__date{
      align-self: flex-end;
      margin-top: 4px;
    }
  }
}