.paymentsMemu{
  justify-content: center;
}

@media (max-width: 500px) {
  .payments{
    .headline {
      font-size: 18px !important;
      line-height: 1.33 !important;
    }
    &__title{
      font-size: 16px;
    }
  }
}