.paymentsMemuItem {
  width: calc((100% / 6) - 16px);
  max-width: 160px;
  height: 100px;
  border-radius: 8px;

  .ico-phone,
  .ico-yandex,
  .ico-webmoney,
  .ico-qiwi,
  .ico-card,
  .ico-rbs{
    background-repeat: no-repeat;
    background-position: 50% 5px;
    -webkit-background-size: 70%;
    background-size: 70%;
  }

  .mode{
    line-height: 1.1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);
    background-color: #e6e6e6;
    transition: 0.3s;

    &.ico-phone{background-image: url("../images/ico-phone.png");}
    &.ico-yandex{background-image: url("../images/ico-yandex.png");}
    &.ico-webmoney{background-image: url("../images/ico-webmoney.png");}
    &.ico-qiwi{background-image: url("../images/ico-qiwi.png");}
    &.ico-card{background-image: url("../images/ico-card.png");}
    &.ico-rbs{background-image: url("../images/ico-rbs.png");}

    &-title{
      padding: 4px 8px;
      background-color: rgba(0,0,0,0.7);
      color: #fff;
      border-radius: 0 0 8px 8px;
      width: 100%;
      letter-spacing: 0.8px;
      font-size: 13px;
    }
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
      background-color: #fff;
      transition: 0.3s;
    }
  }

  &.paymentsMemuActiveItem {
    position: relative;

    .mode{
      transform: scale(1.15) translateY(6px);
      background-color: #fff;
    }
  }
}

.prizes-form{
  display: flex;
  background: #e6e6e6;
  padding: 4px 8px;
  border-radius: 8px;
  .v-input{
    margin-right: 8px;
    &:last-child{
      margin-right: 0;
      margin-left: 8px;
    }
  }
}

.card-line-wrap{
  position: relative;
}
.block-chip{
  .v-chip__content{
    white-space: normal;
  }
}

@media (max-width: 900px) {
  .paymentsMemuItem {
    flex-wrap: wrap;
    width: calc((100% / 3) - 16px);

    .mode {
      position: relative;
      transform: none;
      &:hover{
        cursor: pointer;
        transform: none;
        background-color: #fff;
        transition: 0.3s;
      }
      &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: 2px solid transparent;
        border-radius: 8px;
        transition: 0.3s;
      }
    }
    &.paymentsMemuActiveItem {
      .mode{
        transform: none;
        background-color: #fff;

        &:before{
          border: 2px solid #ae0e15;
          transition: 0.3s;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .paymentsMemuItem {
    flex-wrap: wrap;
    width: calc((100% / 2) - 16px);
  }
  .prizes-form{
    flex-wrap: wrap;
    flex-direction: column;
    .v-input{
      margin-right: 0;
      &:last-child{
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  .block-chip{
    .v-chip__content{
      text-indent: unset;
      width: auto;
      height: auto;
      padding: 0 4px;

      .status-point{
        padding-left: 4px;
      }
    }
  }
}