.sale {

  .imageUpload {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  .imageUpload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .filePreview {
    position: relative;
    width: 50px;
    height: 60px;
    margin: 0 0 4px 8px;
    display: inline-flex;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: none;
    box-shadow: none;
  }

  .filePreview .close {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 2px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    transition: 0.3s;

    &:hover{
      background-color: rgba(0,0,0,1);
      transition: 0.3s;
    }
  }

  &--form{
    .right-block{
      flex-direction: column;
      display: flex;

    }
  }
  .addsales-btn{
    display: flex;
    justify-content: space-between;
  }

  .select-block{
    .v-input{
      margin-left: 32px;
    }
  }

  &__select-field {
    input, .v-icon {
      cursor: pointer;
    }
  }

  .delete-position{
    color: rgba(0,0,0,0.3)!important;
    &:hover{
      color: rgba(0,0,0,0.7)!important;
    }
  }

  .table-sales {
    margin-left: 32px;
    border-bottom: 2px solid #949494;
    table.v-table tbody td{
      padding: 0 12px;
    }

    th:first-child,
    table.v-table tbody td:first-child{
      padding-left: 0;
    }
    th:last-child,
    table.v-table tbody td:last-child{
      padding-right: 0;
      padding-left: 0;
    }

    .bonus-td{
      width: 100px;
      input{
        text-align: right;
      }
    }
  }
  .table-total{
    font-weight: 600;
    margin-left: 32px;
    margin-top: 18px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .number{
      font-size: 24px;
      font-weight: 700;
      margin-right: 56px;
    }
  }
  .input-quantity{
    border: 1px solid #949494;
    border-radius: 4px;
    padding-top: 0;

    .v-text-field__slot{
      input{
        text-align: right;
        min-width: 40px;
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }

  .btn-send{
    display: inline-flex;
    margin-bottom: 18px;
  }
}

.custom-card{
  background: #f5f5f5;
  font-weight: 600;

  &--top-left{
    padding: 40px 24px 12px;
    border-radius: 0 0 25px 0;
  }
  &--top-right{
    padding: 40px 24px 12px;
    border-radius: 0 0 0 25px ;
  }
  &--bottom-left{
    border-radius: 0 25px 0 0;
    padding: 12px 24px;
  }
  .v-icon{
    color: #767676;
  }
  .no-error{
    .v-text-field__details{
      display: none;
    }
  }
  .wrap-icon{
    display: flex;
    align-items: center;
    .v-input{
      margin-left:0;
    }
  }

  .ico-gray{
    color: #767676;
  }

  .btn-link{
    .v-btn__content{
      color: #753231;
    }
    &:hover{
      .v-btn__content{
        color: #fff;
      }
    }
  }

  .v-btn--disabled{
    display: none;
  }
  .btn-delete{
    background-color: #afa794!important;
    margin-left: 32px;
  }

}

.transform-none{
  text-transform: none;
}

.grow-0{
  flex-grow: 0;
}



#app .custom-card {
  .v-icon.primary--text,
  .v-label.v-label--active.primary--text,
  .v-text-field>.v-input__control>.v-input__slot:after,
  .v-input--is-focused.v-input:not(.v-input--is-disabled) input,
  .v-input--is-focused.v-input:not(.v-input--is-disabled) textarea{
    color: #753231 !important;
  }
}


.sale-status{
  border: 1px solid rgba(255,255,255,0.5);
  text-shadow: none;
  font-weight: 600;
  .v-chip__content {
    height: auto;
    box-shadow: 0 0 1px #fff;
    font-size: 11px;
  }
  .status-point{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    transform: translateX(5px);
    flex-shrink: 0;
    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid rgba(255,255,255,0.5);
      border-radius: 50%;
    }
  }
}

.head-top{
  > .actions{
    height: auto!important;
  }
}

.table-sales .td-label{display: none;}

.v-picker{
  .v-btn__content{
    color: #333;
  }
}


#app .v-picker {
  .accent--text{
    color: #753231!important;
    .v-btn__content{
      color: #753231!important;
    }
    &:hover{
      .v-btn__content{
        color: #fff!important;
      }
    }
  }
}

.upload-wrap{
  display: flex;
  align-items: flex-start;

  .icon-green{
    color: darkgreen;
  }
  .icon-red{
    color: darkred;
  }
}

@media (max-width: 768px) {
  .sale{
    .v-btn__content{
      font-size: 12px;
    }
  }
}

@media (max-width: 600px) {
  .table-sales {
    thead{
      display: none;

      tbody tr{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-bottom: 8px;
        padding: 8px 0;

        td{
          padding: 0 8px!important;
          height: auto;
        }
      }

      .delete-td{
        position: absolute;
        right: 0px;
        top: 8px;
        height: auto;

        i{
          border-radius: 50%;
          font-size: 24px;
          padding: 4px;
          background-color: #b1181f;
          color: #fff!important;
        }
      }

      .slide-td{
        padding-left:24px!important;
      }

      .image-td{
        width: 100%;
        text-align: center !important;
      }
    }
    .bonus-td{
      .v-text-field__details{
        display: none;
      }
      .v-input__slot{
        margin-bottom: 0;
      }
      >.v-input{
        padding-top: 0;
        margin-top: 0;
      }
    }

    .td-label{
      display: block;
      font-size: 10px;
      font-weight: 600;
      text-align: center;
    }
  }

  .custom-card--top-left.mr-3,
  .custom-card--bottom-left.mr-3{
    margin-right: 0!important;
  }

  .custom-card--top-right{
    padding: 12px 24px;
    margin: 12px 0 8px;
  }
  .custom-card--top-left > .pr-4{
    padding-right: 0!important;
  }

  .sale .table-sales table.v-table tbody tr{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    padding: 8px 0;

    .name-td{
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
    .delete-td{
      display: flex;
      align-items: center;
      margin-left: 16px;
    }
  }


}

@media (max-width: 500px) {
  .sales{
    &__btn {
      &-top {
        width: calc(100% + 16px);
        margin: 16px -8px -8px -8px;
      }
      &-bottom{
        .layout{
          flex-direction: column-reverse;
        }
        .v-btn{
          width: 100%;
        }
      }
    }
    .first-btn{
      margin-top: 8px;
    }
  }

  .sale-status .v-chip__content{
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .status-point{
      transform: none;
    }
  }
  .sale {
    .table-sales{
      margin-left: 16px;
    }
   .table-total{
    margin-left: 16px;
    .number{
      margin-right: 0;
    }
   }
  }
  .sale .table-sales {
    table.v-table tbody tr{
      flex-wrap: wrap;
    }
    table.v-table td{
      height: auto;
    }
    .name-td{
      width: 100%;
      padding-right: 30px!important;
    }
    .delete-td{
      position: absolute;
      right: 0;
      top: 8px;
    }
  }
  .custom-card--top-left.mr-3,
  .custom-card--bottom-left.mr-3{
    padding: 12px 8px;
  }

  .custom-card--top-right{
    padding: 12px 8px;
  }
  .addsales-btn button{
    margin: 4px!important;
  }
}
