.tickets{
  .comment{
    position: relative;
  }
  .counter_messages{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
  }

  .message-text{
    margin-top: 8px;
  }
  img{
    max-width: 100%;
  }
}



.message-card{
  display: flex;
}

.message-head{
  display: flex;
  &__icon{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__date{
    font-weight: 700;
  }
}

.message-body{
  flex-grow: 1;
  &__name{
    font-weight: 700;
    font-size: 14px;
  }
  &__file{
    img{
      max-height: 100px;
      object-fit: cover;
    }
  }
}

.message-btn{
  align-self: center;
}


.message-item{
  display: flex;
  align-self: flex-start;
  padding: 8px 16px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;

  &:nth-child(odd){
    background-color: rgba(0,0,0,0.05);
  }
  &:nth-child(even){
    background-color: rgba(255,255,255,0.7);
  }
  &__avatar{
    width: 80px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__date{
    font-weight: 700;
  }
  &__name{
    font-weight: 700;
  }
  &__text{
    word-break: break-word;
  }

  img{
    max-width: 100%;
    max-height: 250px;
  }
}

.ticket__title{
  flex-wrap: nowrap;
}

@media (max-width: 767px) {
  .message {
    &-card {
      flex-wrap: wrap;
      flex-direction: column;
    }
    &-btn{
      margin: 16px 16px 0 0;
      align-self: flex-end;
      width: 100%;
    }
    &-head {
      &__icon {
        flex-direction: row;
        align-items: center;
        width: auto;
        i{
          margin-right: 8px;
        }
      }
    }
  }
}


@media (max-width: 500px) {
  .message-item {
    &__avatar {
      width: 40px;
      img{
        width: 40px;
        height: 40px;
      }
    }
  }

}