.adress-table{
  display: flex;
  flex-direction: column;
  width: 300px;

  .at-wrap{
    display: flex;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ccc;

    &:nth-child(odd){
      background-color: rgba(0,0,0,0.1);
    }

    &:nth-child(even){
      background-color: rgba(0,0,0,0.2);
    }

    .atw {
      &-title {
        width: 150px;
        padding: 2px 4px;
        font-weight: 600;
      }
      &-data{
        padding: 2px 4px;
      }
    }
  }
}