.certificate-list{
  &--wrap{
    &:nth-child(odd){
      background-color: rgba(0,0,0,0.1);
    }
    &:nth-child(even){
      background-color: rgba(0,0,0,0.2);
    }
  }
  .sert-label{
    color: #666;
  }
  .sert-title{
    font-weight: 600;
    font-size: 1.1rem;
  }
}

.payments-list {
  &--wrap {
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .pay-label {
    color: #666;
  }
  .pay-title {
    font-weight: 600;
    font-size: 1.2rem;

    &.date{
      font-size: 1rem;
    }
  }
}