#header {
  background-color: whitesmoke;
}

#app {
  .v-input{
    font-size: 14px;
  }
  .v-btn{
    font-size: 12px;
  }
  .main-cont{
    padding-top: 84px;
  }
  .v-content {
    background-color: rgba(20, 30, 70, 0.2);
  }
  .v-btn--disabled {
    opacity: 0.3;
  }
  .v-chip {
    background: transparent;
    color: inherit;
  }
  .v-list__tile__title .ava-name {
    font-weight: normal;
    color: #fff;
    font-size: 18px;
  }

  .v-list__tile--active.v-list__tile {
    color: #fff !important;
  }
  .v-list__tile--active.v-list__tile:after {
    background-color: rgba(255, 99, 71, 0.7);
  }
  .v-list__tile--active.v-list__tile:before {
    background-color: rgba(255, 99, 71, 1);
    height: 100%;
    top: 0;
    width: 7px;
  }
  .v-list__tile--active.v-list__tile .v-list__tile__action {
    color: #fff;
    z-index: 10;
  }
  .v-navigation-drawer {
    background-color: #dcdcdc;
    z-index: 20;
  }
  .v-navigation-drawer--open{
    z-index: 30;
  }
  .v-card__title.cardbal svg {
    font-size: 24px;
  }
  .v-card__title .balance {
    font-weight: bold;
  }
  .v-carousel__controls__item .v-icon {
    transition: none;
  }
}
.v-input {
  font-size: 16px;
}

.v-btn__content {
  color: #fff;
}

.v-btn:focus .v-btn__content,
.v-btn--active .v-btn__content {
  color: #fff !important;
}
.v-navigation-drawer > .v-list .v-list__tile {
  color: #333;
  height: 64px;
}

aside .svg-inline--fa,
.theme--light.v-icon {
  color: #333;
  z-index: 7;
}

.user-avatar {
  color: #b1181f;
}

.v-list__tile__content {
  z-index: 10;
}

.v-navigation-drawer > .v-list:not(.v-list--dense) .v-list__tile {
  width: 100%;
  font-size: 16px;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #888;
}

.v-navigation-drawer .v-list {
  padding: 0;
}

.logo-wraper {
  width: 85px;
  height: 85px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.v-input__slot.white {
  background-color: transparent !important;
}

.v-input--selection-controls__ripple {
  z-index: 15;
}

.el-input__inner {
  background-color: transparent!important;
}

.sm-label {
  font-size: 0.9em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.align-start .v-input__slot {
  align-items: flex-start;
}

.v-card .primary .v-btn__content {
  font-weight: normal;
}

.v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input::-webkit-input-placeholder,
.v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input::-moz-placeholder,
.v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input:-ms-input-placeholder,
.v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input:-moz-placeholder {
  color: #333;
}

.v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input:focus::-webkit-input-placeholder,
.v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input:focus::-moz-placeholder,
.v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input:focus:-ms-input-placeholder,
.v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input:focus:-moz-placeholder {
  color: transparent;
}

.v-autocomplete__content {
  .v-list {
    background-color: #d5d8dd;
    color: #333;
    transition: none !important;
    .v-list__tile--link:hover {
      background-color: rgba(255, 99, 71, 0.5);
    }
    .v-list__tile__title {
      font-weight: 600;
      transition: none;
    }
  }
}

.z10,
.z10 .v-icon.v-icon.v-icon--link {
  z-index: 6;
}

.car-link {
  position: absolute;
  bottom: 50px;
  left: 50%;
  background: rgba(237, 27, 36, 0.5);
  transform: translate(-50%, 0);
  padding: 10px 10px 5px;
  border-radius: 5px 5px 0 0;
  .v-btn{
    background-color: #fff!important;
  }
}

.v-carousel {
  &__prev {
    left: 0;

    .v-btn {
      border-radius: 0 50% 50% 0;
    }
  }

  &__next {
    right: 0;

    .v-btn {
      border-radius: 50% 0 0 50%;
    }
  }

  &__prev,
  &__next {
    height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    .v-btn,
    .v-btn {
      background-color: #b1181f;
      opacity: 0.5;
      width: 30px;

      .v-btn__content {
        color: #fff;
      }
    }

    &:hover .v-btn,
    &:hover .v-btn {
      opacity: 0.8;
      width: 70px;
    }
  }

  &__controls {
    background-color: rgba(237, 27, 36, 0.5);
  }
}

.v-stepper__step--complete .text-purple,
.v-stepper__step--active .text-purple,
.v-input--selection-controls.v-input .v-label {
  color: #333;
}

.v-progress-circular.carousel-preloader {
  position: absolute;
  left: 50%;
  top: 25vh;
  transform: translate(-50%);
}



.select-number input{
  text-align: center;
}
.select-number .v-input__slot:before{
  border-color: transparent!important;
}
.color-white{
  color: #fff!important;
}
.bg-color-white{
  background: #fff;
}
.rounded-50{
  border-radius: 50%;
}

.text-center{
  text-align: center;
}
.size {
  &-10 {
    font-size: 10px;
  }
  &-11 {
    font-size: 11px;
  }
  &-12 {
    font-size: 12px;
  }
  &-13 {
    font-size: 13px;
  }
  &-14 {
    font-size: 14px;
  }
  &-16 {
    font-size: 16px;
  }
  &-17 {
    font-size: 17px;
  }
  &-18 {
    font-size: 18px;
  }
  &-19 {
    font-size: 19px;
  }
  &-20 {
    font-size: 20px;
  }
  &-21 {
    font-size: 21px;
  }
  &-22 {
    font-size: 22px;
  }
  &-24 {
    font-size: 24px;
  }
  &-25 {
    font-size: 25px;
  }
  &-27 {
    font-size: 27px;
  }
  &-28 {
    font-size: 28px;
  }
  &-30 {
    font-size: 30px;
  }
  &-32 {
    font-size: 32px;
  }
  &-40 {
    font-size: 40px;
  }
  &-50 {
    font-size: 50px;
  }
}
.v-overlay--active{
  z-index: 20;
}
.display-flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.sale-footer-wrap{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.sale-footer-wrap .sale-note,
.sale-footer-wrap .sale-time {
  flex-shrink: 0;
}
.sale-footer-wrap .sale-comment,
.sale-footer-wrap .sale-note,
.sale-footer-wrap .sale-time{
  display: flex;
}
.sale-footer-wrap .sale-comment i,
.sale-footer-wrap .sale-note i,
.sale-footer-wrap .sale-time i{
  font-size: 21px;
  margin-right: 4px;
}

#app .sales .v-card__title{
  text-transform: none;
}

.v-tabs__slider-wrapper .accent{
  background-color: #fff!important;
  border-color: #fff!important;
}

.btn-back{
  padding: 0;
  min-width: 50px;
  i,
  .v-btn__content{
    color: #fff;
  }
}

.v-card__title{
  .v-btn{
    letter-spacing: 0;
    margin: 0px;
  }
}
.space-between{
  display: flex;
  justify-content: space-between;

  .v-chip{
    margin: 0;
  }
}

.actions{
  &__description{
    background-color: rgba(201, 137, 128, 0.2);
    img{
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/*media*/
@media (max-width: 959px) {
  .v-btn__content {
    font-size: 14px;
  }

  .logo-wraper {
    width: 148px;
  }
}

.badge-left {
  .v-badge__badge {
    right: -15px;
  }
}

.head-top{
  align-items: flex-start!important;
}
.height-auto{
  height: auto!important;
}

@media (max-width: 700px) {
  .sale-footer-wrap{
    flex-wrap: wrap;
  }

  .sale-footer-wrap .sale-note,
  .sale-footer-wrap .sale-time{
    margin-bottom: 8px;
  }
}

@media (max-width: 600px) {
  .xs-col{
    flex-direction: column;
    justify-content: flex-start;
  }

  .headline{
    font-size: 18px!important;
    line-height: 1.3!important;
  }
}
@media (max-width: 500px) {
  .v-card__title{
    .v-btn:not(.btn-back){
      width: 100%;
      margin-top: 16px;
    }
  }
}

.big-pdf{
  font-size: 150px;
  opacity: 0.5;
  color: #ae0e15;
}

.middle-pdf{
  font-size: 80px;
  opacity: 0.5;
  color: #ae0e15;
}

.text-right{
  text-align: right;
}

.headline {
  font-size: 21px !important;
  .text-center {
    width: calc(100% - 40px);
  }
}
.vue-tooltip{
  background-color:#923a37!important;
  font-family: "Open Sans";
}
.vue-tooltip[x-placement^="bottom"] .tooltip-arrow{
  border-bottom-color:#923a37!important;
}



@media (max-width: 400px) {
  .addsales-btn{
    flex-direction: column-reverse!important;
    align-items: center;
  }
  .addsales-btn .v-btn{
    margin-bottom: 8px;
  }
}

@media (max-width: 350px) {
  #app .sales .v-card__title{
    font-size: 14px;
  }
  #app .sales .v-card__text,
  #app .sales .v-card__actions{
    padding-left: 4px!important;
    padding-right: 4px!important;
  }
  .sales .v-card__actions .v-btn__content{
    font-size: 13px;
  }
  .sales table.v-table tbody td:first-child,
  .sales table.v-table tbody td:not(:first-child),
  .sales table.v-table tbody th:first-child,
  .sales table.v-table tbody th:not(:first-child),
  .sales table.v-table thead td:first-child,
  .sales table.v-table thead td:not(:first-child),
  .sales table.v-table thead th:first-child,
  .sales table.v-table thead th:not(:first-child){
    padding-left: 4px!important;
    padding-right: 4px!important;
  }
  .sale-footer-wrap .sale-comment,
  .sale-footer-wrap .sale-note,
  .sale-footer-wrap .sale-time{
    font-size: 13px;
  }

  .sale-footer-wrap .sale-time{
    flex-shrink: 1;
  }
}

.margin{
  &-right{
    &-8{margin-right: 8px;}
  }
}
