#app {
  .toolbar {
    background: #fff;

    a {
      padding: 4px 0 0;
      border-bottom: 4px solid transparent;
      color: rgba(0, 0, 0, 0.5);
      background-color: rgba(255, 255, 255, 0.5);

      &.tab-active,
      &.tab-link-active {
        border-bottom: 4px solid #333;
        color: #333;
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
  .eps-nominal {
    min-height: 38px;
    height: 38px;
    line-height: 38px;

    .item-inner:after {
      content: none;
    }
    .item-inner {
      padding-top: 0;
      padding-bottom: 0;
      min-height: 38px;
      height: 38px;
      line-height: 38px;
    }
  }
  .toolbar-eps a {
    width: calc(100% / 3);
  }
}

.pageEps, .epsOrders, .pageEpsCart {
  .toolbar + .page-content {
    padding-top: 40px;
  }
}

.pageEps {
    .card-wrap{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .card{
        height: calc(100% - 16px);
        display: flex;
        flex-direction: column;
        border-radius: 8px;
      }
    }
    .card-image{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      height: 185px;
      img {
        width: 100%;
        height: 100%;
        background: white;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .eps {
      max-width: 320px;
      border-radius: 4px;

      .card{
        position: relative;
      }

      &-title {
        z-index: 1;
        margin-bottom: -15px;
        padding: 8px 16px;
        flex-grow: 1;
        letter-spacing: 0.5px;
        font-size: 15px;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
      }
    }

  .type-Korablik, .type-DochkiSinochki, .type-Litres {
    border: 1px solid #ddd;
    border-radius: 10px;
  }
}

.pageEpsCard {
  .eps-block {
    background: white;
  }
  .block-footer{
    display: flex;
    justify-content: space-between;
  }

  .eps {
    text-align: center;

    img {
      max-width: 100%;
      max-height: 180px;
    }

    &-title {
      margin: 25px 0 10px;
      font-size: 18px;
      white-space: normal;
    }
  }

  .type-Korablik, .type-DochkiSinochki, .type-Litres {
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .eps-content{
    &--body{
      display: flex;
      align-items: flex-start;
      padding: 8px;
    }
    .eps-image{
      .card-info{
        padding:0 16px;
        height: 0;
        visibility: hidden;
        transform: translateY(-100%);
        overflow: hidden;
        transition: 0.5s;
      }
      .active{
        overflow: hidden;
        .card-info{
          padding-bottom: 8px;
          height: auto;
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
          transition: 0.5s;
        }
      }
    }


    .eps-image{
      .item-link:not(.smart-select){
        display: inline-block;
        height: 160px;
        width: 40%;
        max-width: 250px;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .eps-order-form{
      flex-grow: 1;
      height: 160px;
      margin-left: 8px!important;
    }

    .cards-summary{
      .item-content {
        width: 100%;
        .item-inner{
          display: flex;
          justify-content: space-between;
          padding-right: 0;
          padding-bottom: 0;
          
          &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(0,0,0,.2);
          }
        }
        &.item-input-focused{
          .item-inner:before{
            height: 2px;
            background-color: rgba(0,0,0,1);
          }
        }
      }
      &--mylabel{
        position: absolute;
        left: 0;
        top: calc(50% - 9px);
        line-height: normal;
        color: #333;
        font-size: 16px;

        + .item-input-wrap{
          padding-right: 16px;

          input{
            text-align: right;
          }
        }
      }
      .item-input-wrap{
        &:after{
          display: none;
        }
      }
      &--total{
        font-weight: bold;
        font-size: 15px;
        padding-left: 8px;
      }
    }
  }
}

.pageEpsCart {
  .card-title{
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
  }
  .card-name{
    padding-left: 16px;
  }
  .delete-cart {
    padding-right: 16px;
    padding-left: 16px;
    min-height: 48px;
    color: #FF4F4F;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }
  .small-text {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.65);
  }

  label.allow-cancel {
    font-size: 13px;
    margin-top: 15px;

    input {
      margin-left: -3px;
    }
  }
}

#cart-form{
  margin-top: 0;
}
.eps-order-form {
  background-size: 0;

  .order-total{
    font-size: 14px;
  }
}

.instead-img {
  .about-text {
    display: none;
  }
}
input[type=number]::-webkit-inner-spin-button {
  margin-left: 10px;
}

.epsOrder-card {
  .card-body {
    .card-name {
      font-weight: 600;
      text-shadow: 0 0 1px #fff;
    }

    .card-header {
      font-size: 14px;
      display: flex;
      padding: 8px;
      justify-content: space-between;
      background: -webkit-gradient(linear, left top, left bottom, from(#bcbec0), color-stop(#808285), to(#bcbec0));
      background: linear-gradient(180deg, #bcbec0, #808285, #bcbec0);
      background-size: 350% 350%;

      .sup-header {
        font-size: 12px;
        font-weight: 600;
        box-shadow: 0 0 1px #923a37;
        flex-shrink: 0;
        border-radius: 4px;
        padding: 0 4px;

        &.bg-color-red,
        &.bg-color-green {
          color: #fff;
        }
      }
    }
    .card-footer{
      display: flex;
      padding: 8px;
      justify-content: space-between;
      color: #333;
      font-weight: 600;
    }
  }

  &--point {
    margin: 12px 8px;
    padding: 0!important;
  }

  .btn-remove{
    display: flex;
    padding: 0 8px 8px 8px;
    justify-content: flex-end;
    .button{
      display: inline-flex;
      align-items: center;
    }
  }
}


@media (min-width: 500px) and (max-width: 950px) {
  .pageEpsCard .eps-content .eps-image .item-link:not(.smart-select){
    width: auto;
    height: auto;
  }
  .pageEpsCard .eps-content .eps-order-form{
    min-width: 300px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 500px) {
  .pageEpsCard {
    .eps-title{
      font-size: 16px;
      padding: 8px!important;
    }
    .eps-content--body {
      flex-direction: column;
      align-items: center;

      > .item-link {
        width: 100% !important;
      }
      .eps-order-form {
        width: 100%;
        margin-left: 0 !important;
      }
    }
    .eps-content .eps-image img{
      object-fit: contain;
    }

  }
  .pageEps{
    .eps{
      max-width: 100%;
    }
    .card-image{
      width: auto;
      height: auto;
    }
  }
}

@media screen and (max-width: 400px) {
  .epsOrder-card .card-body .card-header {
    flex-direction: column-reverse;

    .sup-header{
      align-self: flex-end;
    }
  }

}
