.payments {
  &__tabs {
    margin-top: 60px;
  }
  &__tabs-content {
    padding-top: 60px;
  }
}

.pagePayments {
  .comission {
    padding: 0 15px 5px;
  }
  .payments-balance {
    font-size: 30px;
    color:     gray;
  }
  .payments-balance i {
    margin-left: 10px;
  }
}

.payments-card{
  .sup-header{
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -22px;
    right: 0;
    height: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1px #923a37;

    &.bg-color-new,
    &.bg-color-paid,
    &.bg-color-fail{
      color: #fff;
    }
  }
  .card-header{
    border-radius: 0;
    font-size: 12px;
    min-height: auto;
  }

  .sh-btn{
    display: flex;
    justify-content: space-between;
  }

  &--point{
    margin: 0 16px 40px 16px!important;
  }
}
.bg-color {
  &-processing {
    background-color: #ffeb3b !important;
  }
  &-fail {
    background-color: #f44336 !important;
  }
  &-paid {
    background-color: #4caf50 !important;
  }
  &-new {
    background-color: #2196f3 !important;
  }
}
.bg-color-rollback{
  background-color: rgba(0, 0, 0, 1) !important;
  &-rgba-1 {background-color: rgba(0, 0, 0, 0.1) !important;}
  &-rgba-2 {background-color: rgba(0, 0, 0, 0.2) !important;}
  &-rgba-3 {background-color: rgba(0, 0, 0, 0.3) !important;}
  &-rgba-4 {background-color: rgba(0, 0, 0, 0.4) !important;}
  &-rgba-5 {background-color: rgba(0, 0, 0, 0.5) !important;}
  &-rgba-6 {background-color: rgba(0, 0, 0, 0.6) !important;}
  &-rgba-7 {background-color: rgba(0, 0, 0, 0.7) !important;}
  &-rgba-8 {background-color: rgba(0, 0, 0, 0.8) !important;}
  &-rgba-9 {background-color: rgba(0, 0, 0, 0.9) !important;}
}
