body {
    background: url(/images/bg_shake.jpg) no-repeat top left !important;
}

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.mt-0 {margin-top: 0px;}
.mt-2 {margin-top: 2px;}
.mt-5 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-20 {margin-top: 20px};
.mt--20 {margin-top: -20px};
.mt-25 {margin-top: 25px};
.mt-30 {margin-top: 30px;}
.mt--30 {margin-top: -30px;}
.mt-35 {margin-top: 35px;}
.mt-50 {margin-top: 50px;}

.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-25 {margin-bottom: 25px;}

.mr-10 {margin-right: 10px;}
.mr-15 {margin-right: 15px;}
.mr-20 {margin-right: 20px;}

.pt-40 {padding-top: 40px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pr-0 {padding-right: 0 !important;}

.v-middle {vertical-align: middle;}

.error-summary {
    padding: 7px 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    color: maroon;
    background: beige;
}

.info-text {
    padding-top: 7px;
}

.file-attachment {
    margin-bottom: 40px;
}

.file-attachment h4 {
    margin: 0 0 5px 0;
}

.file-attachment .btn-lg {
    padding: 5px 11px;
    font-size: 16px;
}

.sale-details {
    font-size: 11px;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }

    td {
        border: 1px solid #ccc;
        padding: 3px 6px;

        &:first-child {
            min-width: 190px;
        }
    }
}

    .sale-details__bonuses {
        float: right;
        margin-left: 30px;
        color: gray;
    }

#sale-grid {
    .select2-container .select2-choice > .select2-chosen {
        white-space: normal;
    }
}

#action-grid {
    .select2-container .select2-choice > .select2-chosen {
        white-space: normal;
    }
}



