<template>
  <f7-page class="login">

    <f7-toolbar tabbar position="top">
      <f7-link tab-link="#tab-reg-regular" text="Стандартная" tab-link-active></f7-link>
      <f7-link tab-link="#tab-reg-frofclub" text="Участники Pro Club"></f7-link>
    </f7-toolbar>

    <f7-tabs>
      <f7-tab id="tab-reg-frofclub">
        <f7-block-title class="title-page text-align-center">
          <f7-link back class="float-left color-black">
            <i class="fal fa-arrow-left size-21"></i>
          </f7-link>
          <span>Регистрация участника Pro Club</span>
        </f7-block-title>
        <div v-if="!profclub.sentCode && !profclub.token">
          <f7-list form class="margin-horizontal elevation-2 form-rounded bg-color-white">
            <f7-list-input label="Номер телефона" :value="profclub.phone" v-mask="'+7 (###) ###-####'"
                           autocomplete="off" :rules="[rules.phone, rules.required]"
                           @input="profclub.phone = $event.target.value" type="tel" placeholder="+7 " autofocus/>
          </f7-list>
          <f7-block>
            <f7-button :disabled="loading || !profclub.phone" @click="SendCode(profclub)" large fill
                       class="size-16">Отправить код
            </f7-button>
          </f7-block>
        </div>

        <f7-block-title v-if="profclub.sentCode && !profclub.token">{{profclub.clubcard}}</f7-block-title>
        <div v-show="profclub.sentCode && !profclub.token">
          <f7-list form class="margin-horizontal elevation-2 form-rounded bg-color-white">
            <f7-list-input label="Проверочный код" :value="profclub.code" type="text" v-mask="'#####'"
                           :rules="[rules.required]" @input="profclub.code = $event.target.value" placeholder="12345"
                           autocomplete="off"/>
          </f7-list>
          <f7-block>
            <f7-button :disabled="loading || !profclub.code" @click="CheckCode(profclub)" large fill
                       class="size-16">Проверить код
            </f7-button>
          </f7-block>
        </div>

        <div v-if="profclub.sentCode && profclub.token">
          <f7-list form class="margin-horizontal elevation-2 form-rounded bg-color-white">
            <f7-list-input :value="profclub.clubcard" type="text" label="Номер клубной карты" disabled
                           @input="profclub.clubcard = $event.target.value" v-mask="'########'"/>
            <f7-list-input :value="profclub.lastName" type="text" label="Фамилия" :rules="[rules.required]"
                           @input="profclub.lastName = $event.target.value" autocomplete="off"/>
            <f7-list-input :value="profclub.firstName" type="text" label="Имя" :rules="[rules.required]"
                           @input="profclub.firstName = $event.target.value" autocomplete="off"/>
            <f7-list-input :value="profclub.middleName" type="text" label="Отчество" :rules="[rules.required]"
                           @input="profclub.middleName = $event.target.value" autocomplete="off"/>
            <f7-list-input :value="profclub.phone" v-mask="'+7 (###) ###-####'" disabled label="Номер телефона"
                           @input="profclub.phone = $event.target.value" type="text"/>
            <f7-list-input :value="profclub.email" autocomplete="off" type="text" label="Электронная почта"
                           :rules="[rules.email, rules.required]" @input="profclub.email = $event.target.value"/>
            <f7-list-input label="Город" placeholder="Введите название города" :value="searchCity" id="regCityProfclub"
                           @input="searchCity = $event.target.value"/>
            <f7-list-input :value="profclub.password" label="Пароль" placeholder="••••••" autocomplete="off"
                           :rules="[rules.password]" @input="profclub.password = $event.target.value" type="password"/>
            <f7-list-input :value="profclub.confirm" autocomplete="off" type="password" label="Повтор пароля"
                           :rules="[rules.password, rules.required]" @input="profclub.confirm = $event.target.value"
                           placeholder="••••••"/>

            <f7-list-item>
              <label>
                <p>
                  <f7-checkbox :value="profclub.checkedRules"
                               @change="profclub.checkedRules = $event.target.checked"></f7-checkbox>&nbsp; Согласие с
                  <f7-link @click="dialogRules = !dialogRules">правилами программы</f7-link>
                </p>
              </label>
            </f7-list-item>
            <f7-list-item>
              <label>
                <p>
                  <f7-checkbox :value="profclub.checkedPers"
                               @change="profclub.checkedPers = $event.target.checked"></f7-checkbox>&nbsp; Согласие на
                  <f7-link @click="dialogPers = !dialogPers">обработку персональных данных</f7-link>
                </p>
              </label>
            </f7-list-item>
          </f7-list>

          <f7-block>
            <f7-button @click="UserRegister(profclub)" large fill class="size-16"
                       :disabled="loading">
              <span>Зарегистрироваться</span>
              <i class="fal fa-sign-in-alt margin-left-8 size-24 flex-center"></i>
            </f7-button>
          </f7-block>
        </div>
      </f7-tab>

      <f7-tab id="tab-reg-regular" tab-active>
        <f7-block-title class="title-page text-align-center">
          <f7-link back class="float-left color-black">
            <i class="fal fa-arrow-left size-21"></i>
          </f7-link>
          <span>Стандартная регистрация</span>
        </f7-block-title>
        <div v-if="!regular.sentCode && !regular.token">
          <f7-list form class="margin-horizontal elevation-2 form-rounded bg-color-white">
            <f7-list-input :value="regular.phone" v-mask="'+7 (###) ###-####'" autocomplete="off" label="Номер телефона"
                           @input="regular.phone = $event.target.value" type="tel" placeholder="+7 " autofocus/>
          </f7-list>
          <f7-block>
            <f7-button :disabled="loading || !regular.phone" @click="SendCode(regular)" large fill
                       class="size-16">Отправить код
            </f7-button>
          </f7-block>
        </div>

        <f7-block-title v-if="regular.sentCode && !regular.token">{{regular.clubcard}}</f7-block-title>
        <div v-show="regular.sentCode && !regular.token">
          <f7-list form class="margin-horizontal elevation-2 form-rounded bg-color-white">
            <f7-list-input :value="regular.code" type="text" label="Проверочный код" v-mask="'#####'"
                           @input="regular.code = $event.target.value" placeholder="12345" autocomplete="off"/>
          </f7-list>
          <f7-block>
            <f7-button :disabled="loading || !regular.code" @click="CheckCode(regular)" large fill
                       class="size-16">Проверить код
            </f7-button>
          </f7-block>
        </div>

        <div v-show="regular.sentCode && regular.token">
          <f7-list form class="margin-horizontal elevation-2 form-rounded bg-color-white">
            <f7-list-input :value="regular.phone" v-mask="'+7 (###) ###-####'" disabled label="Номер телефона"
                           @input="regular.phone = $event.target.value" type="text"/>
            <f7-list-input :value="regular.lastName" type="text" label="Фамилия" :rules="[rules.required]"
                           @input="regular.lastName = $event.target.value" autocomplete="off"/>
            <f7-list-input :value="regular.firstName" type="text" label="Имя" :rules="[rules.required]"
                           @input="regular.firstName = $event.target.value" autocomplete="off"/>
            <f7-list-input :value="regular.middleName" type="text" label="Отчество" :rules="[rules.required]"
                           @input="regular.middleName = $event.target.value" autocomplete="off"/>
            <f7-list-input :value="regular.email" autocomplete="off" type="text" label="Электронная почта"
                      :rules="[rules.email, rules.required]" @input="regular.email = $event.target.value"/>
            <f7-list-input
              label="Город"
              placeholder="Введите название города"
              :value="searchCity"
              @input="searchCity = $event.target.value"
              id="regCityRegular"/>
            <f7-list-input :value="regular.dealer" autocomplete="off" type="text" label="Место работы"
                           :rules="[rules.email, rules.required]" @input="regular.dealer = $event.target.value"/>
            <f7-list-input :value="regular.password" placeholder="••••••" autocomplete="off" :rules="[rules.password]"
                      @input="regular.password = $event.target.value" type="password" label="Пароль"/>
            <f7-list-input :value="regular.confirm" autocomplete="off" type="password" label="Повтор пароля"
                      :rules="[rules.password, rules.required]" @input="regular.confirm = $event.target.value"
                      placeholder="••••••"/>
            <f7-list-item>
              <label>
                <p>
                  <f7-checkbox :value="regular.checkedRules"
                               @change="regular.checkedRules = $event.target.checked"></f7-checkbox>&nbsp; Согласие с
                  <f7-link @click="dialogRules = !dialogRules">правилами программы</f7-link>
                </p>
              </label>
            </f7-list-item>
            <f7-list-item>
              <label>
                <p>
                  <f7-checkbox :value="regular.checkedPers"
                               @change="regular.checkedPers = $event.target.checked"></f7-checkbox>&nbsp; Согласие на
                  <f7-link @click="dialogPers = !dialogPers">обработку персональных данных</f7-link>
                </p>
              </label>
            </f7-list-item>
          </f7-list>

          <f7-block>
            <f7-button @click="UserRegister(regular)" large fill class="size-16" :disabled="!regularValidate || loading">
              <span>Зарегистрироваться</span>
              <i class="fal fa-sign-in-alt margin-left-8 size-24 flex-center"></i>
            </f7-button>
          </f7-block>
        </div>
      </f7-tab>
    </f7-tabs>

    <f7-popup v-if="pageRules" class="demo-popup" :opened="dialogRules" @popup:closed="dialogRules = false">
      <f7-page>
        <f7-navbar class="bg-color-red">
          <f7-nav-right>
            <f7-link popup-close>Закрыть</f7-link>
          </f7-nav-right>
        </f7-navbar>
        <f7-block><h2>{{ pageRules.title }}</h2></f7-block>
        <f7-block v-html="pageRules.content"></f7-block>
      </f7-page>
    </f7-popup>

    <f7-popup v-if="pagePers" class="demo-popup" :opened="dialogPers" @popup:closed="dialogPers = false">
      <f7-page>
        <f7-navbar class="bg-color-red">
          <f7-nav-right>
            <f7-link popup-close>Закрыть</f7-link>
          </f7-nav-right>
        </f7-navbar>
        <f7-block><h2>{{ pagePers.title }}</h2></f7-block>
        <f7-block v-html="pagePers.content"></f7-block>
      </f7-page>
    </f7-popup>
  </f7-page>
</template>

<script src="./Register.js"></script>
