<template>
  <v-container fill-height pa-0 class="head-top">
    <v-layout max row wrap class="actions">
      <v-flex xs12 mx-3 mb-2 class="xs-margin-x0 align-items-flex-start">
        <v-card class="card">
          <v-card-title class="primary justify-space-between">
            <h3 class="headline">Акции</h3>
          </v-card-title>
        </v-card>
      </v-flex>
      <template v-if="actions.length">
        <v-flex fill-height>
          <v-layout max row wrap>
            <v-flex v-for="action in actions" :key="action.id" xs12 md6>
              <v-card class="card ma-3 xs-margin-x0">
                <v-card-title class="primary">
                  {{action.title}}
                </v-card-title>
                <v-card-text class="py-3">
                  {{action.short_description}}
                </v-card-text>
                <v-card-actions class="px-3 actions__btn-bottom">
                  <v-layout row wrap>

                    <v-flex class="first-btn">
                      <v-btn @click="showDesc(action.id)">
                        <span>Описание</span>
                        <v-icon>keyboard_arrow_down</v-icon>
                      </v-btn>
                    </v-flex>
                    <v-flex class="text-xs-right">
                      <v-btn @click="addSale(action.id)">
                        <span>Добавить продажу / покупку</span>
                        <font-awesome-icon icon="plus-circle" class="size-18 ml-2"/>
                      </v-btn>
                    </v-flex>

                  </v-layout>
                </v-card-actions>
                <v-card-text
                        v-if="showDescID && (showDescID === action.id)"
                        class="py-2 actions__description"
                        v-html="action.description"
                ></v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </template>
      <template v-else>
        <v-flex class="card mx-3 justify-center pa-3 bg-color-white">
            На данный момент акций не найдено.

        </v-flex>
      </template>
    </v-layout>
  </v-container>
</template>

<script>

  export default {
    data() {
      return {
        description: '',
        showDescID: false,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      actions() {
        return this.$store.state.sales.actions;
      },
    },
    methods: {
      addSale(id) {
        this.$store.dispatch('sales/GetAction', { action_id: id });
        this.$router.push('/sale/null');
      },
      showDesc(id) {
        const actions = this.actions.filter(item => item.id === id);
        if (this.showDescID === id) {
          this.description = '';
          this.showDescID = false;
        } else {
          this.showDescID = id;
          this.description = actions.length ? actions[0].description : '';
        }
      },
    },
    mounted() {
      this.$store.dispatch('sales/ClearAction');
      this.$store.dispatch('sales/ClearSale');
      this.$store.dispatch('sales/GetActionsList', { profile_id: this.user.profile_id });
    },
  };
</script>
