<template>
  <v-container fluid fill-height pa-0 class="sales">
    <v-layout max row wrap>
      <v-flex xs12 mx-3 mb-2 class="xs-margin-x0">
        <v-card class="card">
          <v-card-title class="primary justify-space-between">
            <h3 class="headline">Продажи / покупки</h3>
            <v-btn to="/actions/" class="sales__btn-top">
              <v-icon>add_circle_outline</v-icon>
              <span>Новая продажа / покупка</span>
            </v-btn>
          </v-card-title>
        </v-card>
      </v-flex>
      <template v-if="sales.length">
        <v-flex fill-height>
          <v-layout max row wrap>
          <v-flex v-for="sale in sales" :key="sale.id" xs12 md6>
            <v-card class="card ma-3 xs-margin-x0">
              <v-card-title class="secondary py-2">
                <v-layout max row wrap>
                  <v-flex class="justify-space-between display-flex align-center">
                    <span>{{sale.created_at}}</span>
                    <span>Номер: {{sale.number}}</span>
                    <v-chip :class="`border-${getStatusColor(sale.status)}-rgba-7 sale-status`">
                      {{sale.status_label}}
                      <span :class="`bg-${getStatusColor(sale.status)} status-point`"></span>
                    </v-chip>
                  </v-flex>
                </v-layout>
              </v-card-title>
              <v-card-text>
                <v-data-table
                  :headers="tables.headers"
                  :items="sale.positions"
                  hide-actions
                  class="elevation-0"
                >
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">{{ props.item.product.name }}</td>
                    <td class="text-xs-right">{{ props.item.quantity }}</td>
                    <td class="text-xs-right">{{ props.item.bonuses }}</td>
                  </template>
                  <template slot="footer">
                    <td :colspan="tables.headers.length">
                      Общая стоимость: <strong>{{ sale.bonuses }}</strong>
                      <div v-if="sale.saleAction !== null" :colspan="tables.headers.length">
                        <span v-if="sale.saleAction.status === null">
                          Баллы за продажу: <strong>{{ sale.saleAction.bonuses }}</strong>
                        </span>
                        <span v-else-if="sale.saleAction.status === 'paid'">
                          Начислено балов: <strong>{{ sale.saleAction.bonuses }}</strong>
                        </span>
                      </div>
                    </td>
                  </template>
                </v-data-table>
              </v-card-text>
              <v-card-actions class="px-3 sales__btn-bottom">
                <v-layout row wrap>
                  <v-flex class="first-btn">
                    <v-btn @click="showHistory(sale.id)">
                      <span>История</span>
                      <v-icon>keyboard_arrow_down</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex class="text-xs-right" v-if="sale.status === 'adminReview' || sale.status === 'draft'">
                    <v-btn @click="addSale(sale)">
                      <font-awesome-icon icon="edit" class="size-18 mr-2"/>
                      <span>Редактировать</span>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-card-actions>
              <transition-group class="mt-2">
                <div v-for="item in history" :key="item.id" v-if="showHistoryID && (showHistoryID === sale.id)">
                <v-card-text class="py-2">
                  <div class="sale-footer-wrap">
                    <div class="sale-time mr-3">
                      <i class="material-icons">query_builder</i>
                      <span>{{item.created_at}}</span>
                    </div>
                    <div class="sale-note mr-3">
                      <i class="material-icons">autorenew</i>
                      <span>{{item.note}}</span>
                    </div>
                    <div class="sale-comment" v-if="item.comment">
                      <i class="material-icons">chat_bubble_outline</i>
                      <span>{{item.comment}}</span>
                    </div>
                  </div>
                </v-card-text>
                </div>
              </transition-group>
            </v-card>
          </v-flex>
          </v-layout>
        </v-flex>
      </template>
    </v-layout>
  </v-container>
</template>

<script>

  export default {
    data() {
      return {
        tables: {
          headers: [
            { text: 'Название', value: 'product.name', sortable: false, align: 'left' },
            { text: 'Кол-во', value: 'quantity', sortable: false, align: 'right' },
            { text: 'Цена', value: 'bonuses', sortable: false, align: 'right' },
          ],
        },
        history: [],
        showHistoryID: false,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      sales() {
        return this.$store.state.sales.sales;
      },
    },
    methods: {
      addSale(sale) {
        this.$store.dispatch('sales/GetAction', { action_id: sale.action_id });
        this.$store.dispatch('sales/GetSale', sale.id);
        this.$router.push(`/sale/${sale.id}`);
      },
      showHistory(id) {
        const sale = this.sales.filter(item => item.id === id);
        this.history = sale.length ? sale[0].history : [];
        this.showHistoryID = (this.showHistoryID !== id) ? id : false;
      },
      getStatusColor(status) {
        switch (status) {
          case 'adminReview': return 'color-orange';
          case 'draft': return 'color-orange';
          case 'declined': return 'color-red';
          case 'paid': return 'color-green';
          case 'approved': return 'color-green';
          default: return '';
        }
      },
    },
    mounted() {
      this.$store.dispatch('sales/ClearAction');
      this.$store.dispatch('sales/ClearSale');
      this.$store.dispatch('sales/GetSalesList', { profile_id: this.user.profile_id });
    },
  };
</script>
