<template>
  <f7-page name="instruction" class="instruction">
    <f7-block>

      <f7-row class="bg-color-white padding">
        <div class="instructions__head">
          <div class="instructions__title">{{instruction.title}}</div>
          <div class="instructions__date">{{instruction.created_at}}</div>
        </div>
        <div class="instructions__content">
          <div class="instructions__img">
            <img :src="instruction.image_preview_url"/>
          </div>
          <div class="instructions__text" v-html="instruction.content"></div>
        </div>
      </f7-row>

      <f7-block-footer>

        <f7-button fill class="padding-horizontal size-16" href="/instructions/">
          <i class="fal fa-arrow-left size-14 margin-right-4"></i>
          <span>Назад</span>
        </f7-button>

        <f7-button fill class="padding-horizontal size-16" @click="getFile(instruction.pdf_file_url)">
          <i class="fal fa-file-pdf size-20 margin-right-4"></i>
          <span>Презентация</span>
        </f7-button>

      </f7-block-footer>
    </f7-block>
  </f7-page>
</template>

<script>
  export default {
    props: ['id'],
    data() {
      return {
        instructionID: this.$props.id,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      instruction() {
        return this.$store.state.news.instruction;
      },
    },
    methods: {
      setInstructionReaded() {
        const payload = {
          profile_id: this.user.profile_id,
          instruction_id: +this.instructionID,
        };
        this.$store.dispatch('news/SetInstructionReaded', payload);
      },
      getFile(file) {
        window.open(file, '_system', 'location=yes');
      },
    },
    created() {
      this.user.profile_id && this.instructionID && this.setInstructionReaded();
    },
  };
</script>
