<template>
  <f7-page name="instructions" class="instructions">
    <f7-block-title class="title-page block-title">Инструкции</f7-block-title>
    <f7-block class="text-center" v-if="!instructions.length">
      <f7-block-title>Список инструкций пуст</f7-block-title>
    </f7-block>
    <f7-block class="instructions__list" v-else>
      <div
        v-for="(item, index) in instructions"
        :key="index"
        :class="`instructions__item ${instructions.length < 2 ? 'instructions__single' : ''} ${item.readed ? 'readed' : 'noread'} rounded`"
        @click="getPublication(item.id)"
      >
        <f7-card class="instructions__card elevation-4">
          <f7-card-header
            valign="bottom"
            :class="item.image_preview_url ? 'with-img' : ''"
            :style="`background-image:url(${item.image_preview_url})`"
          >
            <div class="instructions__title" v-html="item.title"></div>
          </f7-card-header>
          <f7-card-content>
            <p class="instructions__date">{{ item.created_at }}</p>
            <div class="instructions_anons" v-html="item.anons"></div>
          </f7-card-content>

          <f7-card-footer class="padding-horizontal-8">
            <f7-button fill class="instructions__read-btn padding-horizontal">
              <span>Читать</span>
              <i class="fab fa-readme size-18 margin-left-4"></i>
            </f7-button>
          </f7-card-footer>

        </f7-card>
      </div>
    </f7-block>
  </f7-page>
</template>

<script>
  export default {
    computed: {
      user() {
        return this.$store.state.user;
      },
      instructions() {
        return this.$store.state.news.instructions;
      },
    },
    methods: {
      getPublication(id) {
        const app = this;
        this.$store.dispatch('news/SetInstruction', id);
        app.$f7.router.app.views.main.router.navigate(`/instruction/${id}`);
      },
    },
    created() {
      this.user.profile_id && this.$store.dispatch('news/GetInstructions', this.user.profile_id);
    },
  };
</script>
