<template>
  <f7-page name="news" class="news">
    <f7-block-title class="title-page block-title">Новости</f7-block-title>
    <f7-block class="text-center" v-if="!news.length">
      <f7-block-title >Список новостей пуст</f7-block-title>
    </f7-block>
    <f7-block v-else class="news__list">
      <div
        v-for="(item, index) in news"
        :key="index"
        :class="`news__item ${news.length < 2 ? 'news__single' : ''} ${item.readed ? 'readed' : 'noread'} rounded`"
        @click="getPublication(item.id)"
      >
        <f7-card class="news__card elevation-4">
          <f7-card-header
              valign="bottom"
              :class="item.image_preview_url ? 'with-img' : ''"
              :style="`background-image:url(${item.image_preview_url})`"
          >
            <div v-html="item.title" class="news__title"></div>
          </f7-card-header>
          <f7-card-content>
            <p class="news__date">{{ item.created_at }}</p>
            <p class="news__anons">{{ item.anons }}</p>
          </f7-card-content>
          <f7-card-footer class="padding-horizontal-8">
            <f7-button fill class="news__read-btn padding-horizontal">
              <span>Читать</span>
              <i class="fab fa-readme size-18 margin-left-8"></i>
            </f7-button>
          </f7-card-footer>
        </f7-card>
      </div>
    </f7-block>
  </f7-page>
</template>

<script>
  export default {
    computed: {
      user() {
        return this.$store.state.user;
      },
      news() {
        return this.$store.state.news.news;
      },
    },
    methods: {
      getPublication(id) {
        const app = this;
        this.$store.dispatch('news/SetPublication', id);
        app.$f7.router.app.views.main.router.navigate(`/publication/${id}`);
      },
    },
    created() {
      this.$store.dispatch('GetProfile');
      this.user.profile_id && this.$store.dispatch('news/GetNews', this.user.profile_id);
    },
  };
</script>
