<template>
  <f7-page name="publication" class="publication">
    <f7-block v-if="publication">
      <f7-row class="bg-color-white padding">
        <div class="news__head">
          <div class="news__title">{{publication.title}}</div>
          <div class="news__date">{{publication.created_at}}</div>
        </div>
        <div class="news__content">
          <div class="news__img">
            <img :src="publication.image_preview_url"/>
          </div>
          <div class="news__text" v-html="publication.content"></div>
        </div>
      </f7-row>
    </f7-block>
    <f7-block v-else>
      <h3>Данная новость не найдена</h3>
    </f7-block>
  </f7-page>
</template>

<script>
  export default {
    props: ['id'],
    data() {
      return {
        pubID: this.$props.id,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      publication() {
        return this.$store.state.news.publication;
      },
    },
    methods: {
      setPublicationReaded() {
        const payload = {
          profile_id: this.user.profile_id,
          news_id: +this.pubID,
        };
        this.$store.dispatch('news/SetPublicationReaded', payload);
      },
    },
    created() {
      this.user.profile_id && this.pubID && this.setPublicationReaded();
    },
  };
</script>
