<template>
  <f7-page name="ticket_create">

    <f7-block-title class="title-page text-align-center">
      <f7-link back class="float-left color-black">
        <i class="fal fa-arrow-left size-21"></i>
      </f7-link>
      <span>Новое сообщение</span>
    </f7-block-title>

    <f7-card>
      <f7-list class="bg-color-white no-margin elevation-4 rounded">
        <f7-list-item smart-select title="Тема"
                      :smart-select-params="{openIn: 'popup', closeOnSelect: true, popupCloseLinkText: 'Закрыть'}">
          <select v-model="ticket.topic_id" name="nominal">
            <option value="" selected></option>
            <option v-for="topic in topic_options" :value="topic.id">
              {{topic.name}}
            </option>
          </select>
        </f7-list-item>
        <f7-list-item smart-select title="Вид связи"
                      :smart-select-params="{openIn: 'popup', closeOnSelect: true, popupCloseLinkText: 'Закрыть'}">
          <select v-model="ticket.contact" name="nominal">
            <option v-for="contact in contact_options" :value="contact.name">
              {{contact.title}}
            </option>
          </select>
        </f7-list-item>

        <f7-list-input type="text" :value="ticket.title" @input="ticket.title = $event.target.value" label="Название обращения: "/>

        <f7-list-input type="textarea" :value="ticket.comment" @input="ticket.comment = $event.target.value" label="Текст обращения: "/>

      </f7-list>
    </f7-card>

      <f7-button large fill @click="SendTicket()" class="size-16 margin-horizontal-8">
        <span>Отправить</span>
        <i class="fal fa-paper-plane size-18 margin-left-4"></i>
      </f7-button>

  </f7-page>
</template>

<script>
  export default {
    name: 'AddTicket',
    data() {
      return {
        ticket: {
          topic_id: '',
          title: '',
          comment: '',
          contact: 'chat',
        },
        contact_options: [
          { name: 'chat', title: 'Чат', icon: 'chat' },
          { name: 'email', title: 'E-mail', icon: 'phone' },
          { name: 'phone', title: 'Звонок', icon: 'email' },
        ],
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      topic_options() {
        return this.$store.state.tickets.topic_options;
      },
    },
    methods: {
      GetTickets() {
        this.$store.dispatch('tickets/GetTickets');
      },
      ResetTicket() {
        this.ticket.topic_id = '';
        this.ticket.title = '';
        this.ticket.comment = '';
        this.ticket.contact = 'chat';
      },
      SendTicket() {
        const app = this;
        const payload = {
          ...app.ticket,
          profile_id: this.user.profile_id,
        };

        app.$store.getters.axl.post('tickets/api/tickets/send-ticket', payload)
          .then((response) => {
            app.GetTickets();
            app.ResetTicket();
            app.$store.dispatch('tickets/SetTicket', response.data.ticket);
            app.$f7.dialog.alert('Обращение отправлено! Ожидайте ответ в ближайшее время', () => {
              app.$f7.router.app.views.main.router.navigate('/ticket/');
            });
          }, (response) => {
            app.$store.dispatch('ShowErrow', response.data);
          });
      },
    },
    created() {
      this.GetTickets();
    },
  };
</script>
