<template>
  <f7-page name="tickets" class="tickets">
    <f7-block-title class="title-page">
      <span>Обращения</span>
    </f7-block-title>
    <f7-button large fill href="/add-ticket/" class="size-16 margin-horizontal-8">
      <span>Новое обращение</span>
      <i class="fal fa-comment-plus size-21 margin-left-4"></i>
    </f7-button>
    <f7-card>
      <f7-block-title class="title-page block-title" v-if="!tickets.length">Чат пуст</f7-block-title>

      <div class="message-wrap" v-else v-for="ticket in tickets" :key="ticket.id" @click="OpenTicket(ticket)">
        <div class="margin-right">
          <i class="fal fa-comment size-30 ico-message">
            <span class="counter_messages size-12">{{ticket.messages.length}}</span>
          </i>
          <div v-show="ticket.counter_profile > 0">
            <span class="counter_profile">{{ticket.counter_profile}}</span>
          </div>
        </div>
        <div class="message-info">
          <div class="ticket-title">{{ticket.title}}</div>
          <div v-if="ticket.lastMessage">
            <div class="message-header">
              <span class="message-name" :class="{'name-profile':ticket.lastMessage.profile_id}" target="_blank">
                {{ticket.lastMessage.userFromName}}
              </span>
              <span class="message-time">{{ticket.lastMessage.created }}</span>
            </div>
            <div class="message-text">{{ ticket.lastMessage.message }}</div>
            <div v-if="ticket.lastMessage.file_url && ticket.lastMessage.file_url.length != 0" class="message-file">
              <a v-if="ticket.lastMessage.file_url.indexOf('.pdf') !== -1" :href="ticket.lastMessage.file_url"
                 target="_blank">
                <i class="fa fa-file-pdf" aria-hidden="true"></i>
              </a>
              <a v-else :href="ticket.lastMessage.file_url" target="_blank">
                <img :src="ticket.lastMessage.file_url" class="sendbox-image"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </f7-card>
    <f7-button fill href="/manuals/" class="margin-horizontal-8 margin-bottom" v-if="isAndroid">
      <f7-icon f7="settings_fill"></f7-icon>
      <span>Настроить PUSH-уведомления</span>
    </f7-button>
  </f7-page>
</template>

<script>
  export default {
    name: 'Tickets',
    data() {
      return {
        conn: null,
        connSubscribed: false,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      tickets() {
        return this.$store.state.tickets.tickets;
      },
      isAndroid() {
        return device.platform && device.platform.toLowerCase() === 'android';
      },
    },
    methods: {
      GetTickets() {
        this.$store.dispatch('tickets/GetTickets');
      },
      OpenTicket(ticket) {
        const app = this;
        app.$store.dispatch('tickets/SetTicket', ticket);
        app.$f7.router.app.views.main.router.navigate(`/ticket/${ticket.id}`);
      },
    },
    created() {
      this.GetTickets();
      this.$store.dispatch('tickets/UnsetTicket');
    },
  };
</script>
