<template>
  <v-container fluid pa-0>
    <v-layout v-if="instruction" max row wrap class="instruction">
      <v-flex lg8 offset-lg2>
        <v-card class="instruction__card">
          <v-card-title class="primary instruction__head">
            <h3 class="headline mb-0">{{instruction.title}}</h3>
            <span class="instruction__date">{{instruction.created_at}}</span>
          </v-card-title>
          <v-img v-if="instruction.image_preview_url" :src="instruction.image_preview_url" aspect-ratio="1.8" class="instruction__img" />
          <v-card-text>
            <div v-html="instruction.content"></div>
          </v-card-text>
          <v-card-actions class="justify-space-between instructions__button">
            <v-btn to="/instructions/">
              <v-icon>keyboard_arrow_left</v-icon>
              <span>Назад</span>
            </v-btn>
            <v-btn v-if="instruction.pdf_file_url" :href="instruction.pdf_file_url" target="_blank">
              <font-awesome-icon icon="file-pdf" class="size-18 mr-2"/>
              <span>Скачать инструкцию</span>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['id'],
    data() {
      return {
        instructionID: this.$props.id,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      instruction() {
        return this.$store.state.news.instruction;
      },
    },
    methods: {
      setInstructionReaded() {
        const payload = {
          profile_id: this.user.profile_id,
          instruction_id: +this.instructionID,
        };
        this.$store.dispatch('news/SetInstructionReaded', payload);
      },
    },
    created() {
      this.user.profile_id && this.instructionID && this.setInstructionReaded();
    },
  };
</script>
