<template>
  <v-container fill-height pa-0 class="head-top">
    <v-layout v-if="instructions.length" max row wrap class="instructions">
      <v-flex xs12 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary mb-3">
            <h3 class="headline">Презентации</h3>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6 lg4 px-3 mb-4 v-for="item in instructions" :key="item.id" :class="item.readed ? 'readed' : 'noread'">
          <v-card class="instructions__card">
            <v-card-title class="secondary instructions__head">
              <div class="instructions__title">{{item.title}}</div>
              <span class="instructions__date">{{item.created_at}}</span>
            </v-card-title>
            <v-img v-if="item.image_preview_url" :src="item.image_preview_url" aspect-ratio="1.8" class="instructions__img" @click="getPublication(item.id)"/>
            <v-card-text>
              <div>{{item.anons}}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn @click="getPublication(item.id)">
                <span>Подробнее</span>
                <font-awesome-icon icon="book-open" class="size-18 ml-2"/>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>

    </v-layout>
    <v-layout v-else max row wrap class="instructions">
      <v-flex xs12 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary">
            <h3 class="headline">Презентации</h3>
          </v-card-title>
          <v-card-text class="py-3">
            Список презентаций пуст
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    computed: {
      user() {
        return this.$store.state.user;
      },
      instructions() {
        return this.$store.state.news.instructions;
      },
    },
    methods: {
      getPublication(id) {
        this.$store.dispatch('news/SetInstruction', id);
        this.$router.push(`/instruction/${id}`);
      },
    },
    created() {
      this.user.profile_id && this.$store.dispatch('news/GetInstructions', this.user.profile_id);
    },
  };
</script>
