<template>
  <v-container fill-height pa-0 class="head-top">
    <v-layout v-if="news.length" max row wrap class="news">
      <v-flex xs12 mb-4 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary">
            <h3 class="headline">Новости</h3>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6 lg4 px-3 mb-4 v-for="item in news" :key="item.id" :class="item.readed ? 'readed' : 'noread'">
        <v-card class="news__card">
          <v-card-title class="news__head secondary">
            <div class="news__title">{{item.title}}</div>
            <span class="news__date">{{item.created_at}}</span>
          </v-card-title>
          <v-img
                  :src="`${item.image_preview_url}`"
                  v-if="item.image_preview_url"
                  aspect-ratio="1.8"
                  @click="getPublication(item.id)"
                  class="news__img"
          />
          <v-card-text>
            <div>{{item.anons}}</div>
          </v-card-text>
          <v-card-actions>
            <v-btn @click="getPublication(item.id)">
              <span>Читать</span>
              <font-awesome-icon icon="book-open" class="size-18 ml-2"/>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout v-else max row wrap class="news">
      <v-flex xs12 mx-3 class="xs-margin-x0">
        <v-card>
          <v-card-title class="primary">
            <h3 class="headline">Новости</h3>
          </v-card-title>
          <v-card-text class="py-3">
            Список новостей пуст
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    computed: {
      user() {
        return this.$store.state.user;
      },
      news() {
        return this.$store.state.news.news;
      },
    },
    methods: {
      getPublication(id) {
        this.$store.dispatch('news/SetPublication', id);
        this.$router.push(`/publication/${id}`);
      },
    },
    created() {
      this.user.profile_id && this.$store.dispatch('news/GetNews', this.user.profile_id);
    },
  };
</script>
