<template>
  <v-container fluid pa-0>
    <v-layout v-if="publication" max row wrap class="publication">
      <v-flex lg8 offset-lg2 xs12>
        <v-card class="publication__card">
          <v-card-title class="primary news__head">
            <div class="news__title">{{publication.title}}</div>
            <span class="news__date">{{publication.created_at}}</span>
          </v-card-title>
          <v-img v-if="publication.image_preview_url" :src="publication.image_preview_url" aspect-ratio="1.8" class="publication__img" />
          <v-card-text class="dark-text">
            <div v-html="publication.content"></div>
          </v-card-text>
          <v-card-actions>
            <v-btn to="/news/">
              <v-icon>keyboard_arrow_left</v-icon>
              <span>Назад</span>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['id'],
    data() {
      return {
        pubID: this.$props.id,
      };
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      publication() {
        return this.$store.state.news.publication;
      },
    },
    methods: {
      setPublicationReaded() {
        const payload = {
          profile_id: this.user.profile_id,
          news_id: +this.pubID,
        };
        this.$store.dispatch('news/SetPublicationReaded', payload);
      },
    },
    created() {
      this.user.profile_id && this.pubID && this.setPublicationReaded();
    },
  };
</script>
