<template>
  <f7-page name="notifications" class="notifications">

    <f7-block-title class="title-page block-title">Уведомления</f7-block-title>

    <f7-block class="text-center" v-if="!hasNotifications">
      <f7-block-title>Список уведомлений пуст</f7-block-title>
    </f7-block>

    <f7-block class="notifications__list" v-else>
      <div v-for="item in notifications" :key="item.id"
           :class="`mobileNotifications__item ${item.readed ? 'readed' : 'noread'}`">

        <f7-card class="notifications__card elevation-4 margin-bottom">

          <f7-card-header class="notifications__card--header">
            <div class="row notifications__card--info">
              <div class="col-20 notifications__card--icon">
                <img v-if="item.icon_url" :src="item.icon_url" alt=""/>
                <i v-else-if="item.fa" :class="`fa fa-${item.fa} size-18`"></i>
              </div>
              <div class="col-60 notifications__card--date">
                <small>{{ item.created_at }}</small>
              </div>
              <div class="col-20"></div>
            </div>
            <div class="notifications__card--title" v-html="item.title"></div>
          </f7-card-header>

          <f7-card-content class="notifications__card--body">
            <div v-html="item.body"></div>
          </f7-card-content>

        </f7-card>

      </div>
    </f7-block>

  </f7-page>
</template>

<style lang="scss" scoped>
  .notifications__card--header {
    display: block;
  }
  .notifications__card--info {
     width: 100%;
  }
  .notifications__card--icon {
    color: lightslategray;
    text-shadow: 2px 2px 5px lightgrey;
  }
  .notifications__card--date {
    color: lightslategray;
    text-align: center;
  }
  .notifications__card--body {
    font-size: 14px;
    line-height: 16px;
  }
</style>

<script>
  export default {
    data() {
      return {};
    },
    computed: {
      user() {
        return this.$store.state.user;
      },
      notifications() {
        return this.$store.state.mobileNotifications.notificationsList;
      },
      hasNotifications() {
        return this.$store.state.mobileNotifications.hasNotifications;
      },
    },
    created() {
      this.user && this.$store.dispatch('mobileNotifications/GetNotifications');
    },
    beforeDestroy() {
      this.user && this.$store.dispatch('mobileNotifications/GetNotifications');
    },
    updated() {
      this.$nextTick(() => {
        this.hasNotifications && this.user && this.$store.dispatch('mobileNotifications/setNotificationsRead', {
          profile_id: this.user.profile_id,
          notification_ids: this.notifications.map(item => item.id),
        });
      });
    },
  };
</script>
